interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/70858/000148105723010389/0001481057-23-010389.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001481057-23-010389.txt : 20231213\n<SEC-HEADER>0001481057-23-010389.hdr.sgml
        : 20231213\n<ACCEPTANCE-DATETIME>20231213140800\nACCESSION NUMBER:\t\t0001481057-23-010389\nCONFORMED
        SUBMISSION TYPE:\t424B2\nPUBLIC DOCUMENT COUNT:\t\t9\nFILED AS OF DATE:\t\t20231213\nDATE
        AS OF CHANGE:\t\t20231213\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED
        NAME:\t\t\tBofA Finance LLC\n\t\tCENTRAL INDEX KEY:\t\t\t0001682472\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tNATIONAL COMMERCIAL BANKS [6021]\n\t\tIRS NUMBER:\t\t\t\t813167494\n\t\tSTATE
        OF INCORPORATION:\t\t\tDE\n\t\tFISCAL YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\t424B2\n\t\tSEC ACT:\t\t1933 Act\n\t\tSEC FILE NUMBER:\t333-268718-01\n\t\tFILM
        NUMBER:\t\t231483656\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\t100 NORTH
        TRYON STREET\n\t\tSTREET 2:\t\tNC1-007-06-10\n\t\tCITY:\t\t\tCHARLOTTE\n\t\tSTATE:\t\t\tNC\n\t\tZIP:\t\t\t28202\n\t\tBUSINESS
        PHONE:\t\t704-386-4175\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t100 NORTH TRYON
        STREET\n\t\tSTREET 2:\t\tNC1-007-06-10\n\t\tCITY:\t\t\tCHARLOTTE\n\t\tSTATE:\t\t\tNC\n\t\tZIP:\t\t\t28202\n\nFILER:\n\n\tCOMPANY
        DATA:\t\n\t\tCOMPANY CONFORMED NAME:\t\t\tBANK OF AMERICA CORP /DE/\n\t\tCENTRAL
        INDEX KEY:\t\t\t0000070858\n\t\tSTANDARD INDUSTRIAL CLASSIFICATION:\tNATIONAL
        COMMERCIAL BANKS [6021]\n\t\tIRS NUMBER:\t\t\t\t560906609\n\t\tSTATE OF INCORPORATION:\t\t\tDE\n\t\tFISCAL
        YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM TYPE:\t\t424B2\n\t\tSEC
        ACT:\t\t1933 Act\n\t\tSEC FILE NUMBER:\t333-268718\n\t\tFILM NUMBER:\t\t231483657\n\n\tBUSINESS
        ADDRESS:\t\n\t\tSTREET 1:\t\tBANK OF AMERICA CORPORATE CENTER\n\t\tSTREET
        2:\t\t100 N TRYON ST\n\t\tCITY:\t\t\tCHARLOTTE\n\t\tSTATE:\t\t\tNC\n\t\tZIP:\t\t\t28255\n\t\tBUSINESS
        PHONE:\t\t7043868486\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\tBANK OF AMERICA
        CORPORATE CENTER\n\t\tSTREET 2:\t\t100 N TRYON ST\n\t\tCITY:\t\t\tCHARLOTTE\n\t\tSTATE:\t\t\tNC\n\t\tZIP:\t\t\t28255\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tBANKAMERICA CORP/DE/\n\t\tDATE OF
        NAME CHANGE:\t19981022\n\n\tFORMER COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tNATIONSBANK
        CORP\n\t\tDATE OF NAME CHANGE:\t19920703\n\n\tFORMER COMPANY:\t\n\t\tFORMER
        CONFORMED NAME:\tNCNB CORP\n\t\tDATE OF NAME CHANGE:\t19920107\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>424B2\n<SEQUENCE>1\n<FILENAME>form424b2.htm\n<DESCRIPTION>424B2\n<TEXT>\n<HTML>\n\n<HEAD>\n\n<TITLE></TITLE>\n\n</HEAD>\n\n<BODY>\n\n\n\n\n\n<P
        STYLE=\"font: 8pt/10pt Arial, Helvetica, Sans-Serif; margin: 0 0 6pt 0pt;
        color: red\">This pricing supplement, which is not complete and may be changed,
        relates to an effective Registration Statement under the Securities Act of
        1933.  This pricing supplement and the accompanying product supplement, prospectus
        supplement and prospectus are not an offer to sell these notes in any country
        or jurisdiction where such an offer would not be permitted. </P>\n\n\t<P STYLE=\"font:
        10pt Arial, Helvetica, Sans-Serif; margin: 0 0 0 0pt;\"><IMG SRC=\"image_cover.jpg\"
        ALT=\"\" STYLE=\"width: 750px; height: 230px;\">  </P>\n\n\n\n\n\n<P STYLE=\"font:
        13pt/20pt Arial, Helvetica, Sans-Serif; margin: 0 0 5pt\">Linked to the S&amp;P
        500<SUP>&reg;</SUP>\n\nIndex</P>\n\n\n\n<TABLE CELLPADDING=\"0\" CELLSPACING=\"0\"
        WIDTH=\"100%\" STYLE=\"color: #58595B; font: 8pt/10pt Arial, Helvetica, Sans-Serif;
        margin-top: 0; margin-bottom: 3pt\"><TR STYLE=\"vertical-align: top\">\n\n<TD
        STYLE=\"width: 0\"></TD><TD STYLE=\"width: 0.25in\"><FONT STYLE=\"font-family:
        Arial, Helvetica, Sans-Serif; font-size: 5pt; color: #0080FF\">&#9679;</FONT></TD><TD
        STYLE=\"text-align: justify\"><FONT STYLE=\"color: #59595B\">Approximate </FONT>3
        year <FONT STYLE=\"color: #59595B\">term if not called\n\nprior to maturity.</FONT></TD></TR></TABLE>\n\n\n\n<TABLE
        CELLPADDING=\"0\" CELLSPACING=\"0\" WIDTH=\"100%\" STYLE=\"color: #58595B;
        font: 8pt/10pt Arial, Helvetica, Sans-Serif; margin-top: 0; margin-bottom:
        3pt\"><TR STYLE=\"vertical-align: top\">\n\n<TD STYLE=\"width: 0\"></TD><TD
        STYLE=\"width: 0.25in\"><FONT STYLE=\"font-family: Arial, Helvetica, Sans-Serif;
        font-size: 5pt; color: #0080FF\">&#9679;</FONT></TD><TD STYLE=\"text-align:
        justify\"><FONT STYLE=\"color: #59595B\">Payment on the Notes will depend
        on the individual performance of the </FONT>S&amp;P\n\n500<FONT STYLE=\"color:
        black\"><SUP>&reg;</SUP></FONT> Index <FONT STYLE=\"color: #59595B\">(</FONT>the
        <FONT STYLE=\"color: #59595B\">&#8220;Underlying&#8221;).</FONT></TD></TR></TABLE>\n\n\n\n<TABLE
        CELLPADDING=\"0\" CELLSPACING=\"0\" WIDTH=\"100%\" STYLE=\"colo[...]
