interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/65873/000006587305000060/0000065873-05-000060.txt
  response:
    body:
      string: "-----BEGIN PRIVACY-ENHANCED MESSAGE-----\nProc-Type: 2001,MIC-CLEAR\nOriginator-Name:
        webmaster@www.sec.gov\nOriginator-Key-Asymmetric:\n MFgwCgYEVQgBAQICAf8DSgAwRwJAW2sNKK9AVtBzYZmr6aGjlWyK3XmZv3dTINen\n
        TWSM7vrzLADbmYQaionwg5sDW3P6oaM5D3tdezXMm7z1T+B+twIDAQAB\nMIC-Info: RSA-MD5,RSA,\n
        FeGxK52z1769qHoZE2/JgXN0qCEQ/FlMT5Kra/lJj6le5vxIYdNHl5NEIZ8e24dW\n i+u3l48Rg5GAacPXNduRAQ==\n\n<SEC-DOCUMENT>0000065873-05-000060.txt
        : 20060501\n<SEC-HEADER>0000065873-05-000060.hdr.sgml : 20060501\n<ACCEPTANCE-DATETIME>20050623102512\n<PRIVATE-TO-PUBLIC>\nACCESSION
        NUMBER:\t\t0000065873-05-000060\nCONFORMED SUBMISSION TYPE:\tCORRESP\nPUBLIC
        DOCUMENT COUNT:\t\t1\nFILED AS OF DATE:\t\t20050623\n\nFILER:\n\n\tCOMPANY
        DATA:\t\n\t\tCOMPANY CONFORMED NAME:\t\t\tALLTEL CORP\n\t\tCENTRAL INDEX KEY:\t\t\t0000065873\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tRADIO TELEPHONE COMMUNICATIONS [4812]\n\t\tIRS
        NUMBER:\t\t\t\t340868285\n\t\tSTATE OF INCORPORATION:\t\t\tDE\n\t\tFISCAL
        YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM TYPE:\t\tCORRESP\n\n\tBUSINESS
        ADDRESS:\t\n\t\tSTREET 1:\t\tONE ALLIED DR\n\t\tCITY:\t\t\tLITTLE ROCK\n\t\tSTATE:\t\t\tAR\n\t\tZIP:\t\t\t72202\n\t\tBUSINESS
        PHONE:\t\t5019058967\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\tONE ALLIED DR\n\t\tCITY:\t\t\tLITTLE
        ROCK\n\t\tSTATE:\t\t\tAR\n\t\tZIP:\t\t\t72202\n\n\tFORMER COMPANY:\t\n\t\tFORMER
        CONFORMED NAME:\tMID CONTINENT TELEPHONE CORP\n\t\tDATE OF NAME CHANGE:\t19831031\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>CORRESP\n<SEQUENCE>1\n<FILENAME>filename1.htm\n<TEXT>\n<!DOCTYPE
        HTML PUBLIC'-//W3C//DTD HTML 3.2//EN\">\n\n\n<body>\n\n<font SIZE=\"2\">\n<p
        ALIGN=\"CENTER\">&nbsp;</p>\n\n<p align=\"center\" style=\"margin-bottom:
        -20\">ALLTEL CORPORATION</p>\n<p align=\"center\" style=\"margin-bottom: -20\">One
        Allied Drive, Little Rock,\nArkansas 72202</p>\n<p align=\"center\" style=\"margin-bottom:
        -20\">&nbsp;</p>\n<p style=\"margin-bottom: -20\">&nbsp;</p>\n<p style=\"margin-bottom:
        -20\">&nbsp;</p>\n<p style=\"margin-bottom: -20\">&nbsp;</p>\n<p style=\"margin-bottom:
        -20\" align=[...]
