interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/1109357/000095013705004969/0000950137-05-004969.txt
  response:
    body:
      string: "-----BEGIN PRIVACY-ENHANCED MESSAGE-----\nProc-Type: 2001,MIC-CLEAR\nOriginator-Name:
        webmaster@www.sec.gov\nOriginator-Key-Asymmetric:\n MFgwCgYEVQgBAQICAf8DSgAwRwJAW2sNKK9AVtBzYZmr6aGjlWyK3XmZv3dTINen\n
        TWSM7vrzLADbmYQaionwg5sDW3P6oaM5D3tdezXMm7z1T+B+twIDAQAB\nMIC-Info: RSA-MD5,RSA,\n
        KlvXanhFZ3Zb4ZPMCT6Ng/EhulxV3J3DSYOdySBYtbs9hRaTj6oWfMQvYRem0Htf\n gQa1j+DwRgn9raJrby6FjQ==\n\n<SEC-DOCUMENT>0000950137-05-004969.txt
        : 20050427\n<SEC-HEADER>0000950137-05-004969.hdr.sgml : 20050427\n<ACCEPTANCE-DATETIME>20050427122550\nACCESSION
        NUMBER:\t\t0000950137-05-004969\nCONFORMED SUBMISSION TYPE:\t8-K\nPUBLIC DOCUMENT
        COUNT:\t\t1\nCONFORMED PERIOD OF REPORT:\t20050426\nITEM INFORMATION:\t\tDeparture
        of Directors or Principal Officers; Election of Directors; Appointment of
        Principal Officers\nFILED AS OF DATE:\t\t20050427\nDATE AS OF CHANGE:\t\t20050427\n\nFILER:\n\n\tCOMPANY
        DATA:\t\n\t\tCOMPANY CONFORMED NAME:\t\t\tEXELON CORP\n\t\tCENTRAL INDEX KEY:\t\t\t0001109357\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tELECTRIC & OTHER SERVICES COMBINED [4931]\n\t\tIRS
        NUMBER:\t\t\t\t232990190\n\t\tSTATE OF INCORPORATION:\t\t\tPA\n\t\tFISCAL
        YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM TYPE:\t\t8-K\n\t\tSEC ACT:\t\t1934
        Act\n\t\tSEC FILE NUMBER:\t001-16169\n\t\tFILM NUMBER:\t\t05775417\n\n\tBUSINESS
        ADDRESS:\t\n\t\tSTREET 1:\t\t10 S DEARBORN ST 37TH FLR\n\t\tSTREET 2:\t\tPO
        BOX A-3005\n\t\tCITY:\t\t\tCHICAGO\n\t\tSTATE:\t\t\tIL\n\t\tZIP:\t\t\t60690-3005\n\t\tBUSINESS
        PHONE:\t\t3123947399\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\tP O BOX 767\n\t\tCITY:\t\t\tCHICAGO\n\t\tSTATE:\t\t\tIL\n\t\tZIP:\t\t\t60690\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>8-K\n<SEQUENCE>1\n<FILENAME>c94636e8vk.htm\n<DESCRIPTION>CURRENT
        REPORT\n<TEXT>\n<HTML>\n<HEAD>\n<TITLE>e8vk</TITLE>\n</HEAD>\n<BODY bgcolor=\"#FFFFFF\">\n<!--
        PAGEBREAK -->\n<H5 align=\"left\" style=\"page-break-before:always\">&nbsp;</H5><P>\n<DIV
        style=\"font-family: 'Times New Roman',Times,serif\">\n\n\n\n<DIV style=\"width:
        100%; border-bottom: 2pt solid black; font-size: 1pt\">&nbsp;</DIV>\n<DIV
        style=\"width: 100%; border-bottom: 1pt solid black; font-size: 1pt\">&nbsp;</DIV>\n\n\n\n\n\n\n\n\n<P
        align=\"center\" style=\"font-size: 14pt\"><B>UNITED STATES<BR>\nSECURITIES
        AND EXCHANGE COMMISSION</B>\n\n<DIV align=\"center\" style=\"font-size: 10pt\">Washington,
        DC 20549</DIV>\n\n\n<P align=\"center\" style=\"font-size: 18pt\"><B>FORM
        8-K</B>\n\n\n<P align=\"center\" style=\"font-size: 12pt\"><B>CURRENT REPORT</B><BR>\nPursuant
        to Section&nbsp;13 or 15(d) of the Securities Exchange Act of 1934\n\n\n<P
        align=\"center\" style=\"font-size: 10pt\"><B>April&nbsp;26, 2005</B><BR>\nDate
        of Report (Date of earliest event reported)\n\n\n<DIV align=\"center\">\n<TABLE
        style=\"font-size: 10pt\" cellspacing=\"0\" border=\"0\" cellpadding=\"0\"
        width=\"100%\">\n<!-- Begin Table Head -->\n<TR valign=\"bottom\">\n    <TD
        width=\"10%\">&nbsp;</TD>\n    <TD width=\"10%\">&nbsp;</TD>\n    <TD width=\"40%\">&nbsp;</TD>\n
        \   <TD width=\"10%\">&nbsp;</TD>\n    <TD width=\"30%\">&nbsp;</TD>\n</TR>\n<!--
        End Table Head -->\n<!-- Begin Table Body -->\n<TR valign=\"bottom\">\n    <TD
        valign=\"bottom\"><DIV style=\"margin-left:0px; text-indent:-0px\">Commission<BR>\nFile
        Number\n</DIV></TD>\n    <TD>&nbsp;</TD>\n    <TD align=\"left\" valign=\"top\">Exact
        Name of Registrant as\nSpecified in Its Charter; State of\nInc[...]
