interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyfacts/CIK0001046179.json
  response:
    body:
      string: '{"cik":1046179,"entityName":"Taiwan Semiconductor Manufacturing Company
        Limited","facts":{"dei":{"EntityCommonStockSharesOutstanding":{"label":"Entity
        Common Stock, Shares Outstanding","description":"Indicate number of shares
        or other units outstanding of each of registrant''s classes of capital or
        common stock or other ownership interests, if and as stated on cover of related
        periodic report. Where multiple classes or units exist define each class/interest
        by adding class of stock items such as Common Class A [Member], Common Class
        B [Member] or Partnership Interest [Member] onto the Instrument [Domain] of
        the Entity Listings, Instrument.","units":{"shares":[{"end":"2017-12-31","val":25930380458,"accn":"0001193125-18-121866","fy":2017,"fp":"FY","form":"20-F","filed":"2018-04-19","frame":"CY2017Q4I"},{"end":"2018-12-31","val":25930380458,"accn":"0001193125-19-108390","fy":2018,"fp":"FY","form":"20-F","filed":"2019-04-17","frame":"CY2018Q4I"},{"end":"2019-12-31","val":25930380458,"accn":"0001193125-20-107579","fy":2019,"fp":"FY","form":"20-F","filed":"2020-04-15","frame":"CY2019Q4I"},{"end":"2020-12-31","val":25930380458,"accn":"0001193125-21-118512","fy":2020,"fp":"FY","form":"20-F","filed":"2021-04-16","frame":"CY2020Q4I"},{"end":"2021-12-31","val":25930380458,"accn":"0001193125-22-104891","fy":2021,"fp":"FY","form":"20-F","filed":"2022-04-14","frame":"CY2021Q4I"},{"end":"2022-12-31","val":25930380458,"accn":"0001193125-23-107214","fy":2022,"fp":"FY","form":"20-F","filed":"2023-04-20","frame":"CY2022Q4I"},{"end":"2023-12-31","val":25932070992,"accn":"0001193125-24-099840","fy":2023,"fp":"FY","form":"20-F","filed":"2024-04-18","frame":"CY2023Q4I"},{"end":"2024-12-31","val":25932733242,"accn":"0001193125-25-083423","fy":2024,"fp":"FY","form":"20-F","filed":"2025-04-17","frame":"CY2024Q4I"}]}}},"ifrs-full":{"AccountingProfit":{"label":null,"description":null,"units":{"TWD":[{"start":"2015-01-01","end":"2015-12-31","val":350477600000,"accn":"0001193125-18-121866","fy":2017,"fp":"FY","form":"20-F","filed":"2018-04-19","frame":"CY2015"},{"start":"2016-01-01","end":"2016-12-31","val":385921700000,"accn":"0001193125-18-121866","fy":2017,"fp":"FY","form":"20-F","filed":"2018-04-19"},{"start":"2016-01-01","end":"2016-12-31","val":385921700000,"accn":"0001193125-19-108390","fy":2018,"fp":"FY","form":"20-F","filed":"2019-04-17","frame":"CY2016"},{"start":"2017-01-01","end":"2017-12-[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/submissions/CIK0001046179.json
  response:
    body:
      string: '{"cik":"0001046179","entityType":"other","sic":"3674","sicDescription":"Semiconductors
        & Related Devices","ownerOrg":"04 Manufacturing","insiderTransactionForOwnerExists":0,"insiderTransactionForIssuerExists":0,"name":"TAIWAN
        SEMICONDUCTOR MANUFACTURING CO LTD","tickers":["TSM","TSMWF"],"exchanges":["NYSE","OTC"],"ein":"000000000","lei":null,"description":"","website":"","investorWebsite":"","category":"Large
        accelerated filer","fiscalYearEnd":"1231","stateOfIncorporation":"F5","stateOfIncorporationDescription":"Taiwan,
        Province of China","addresses":{"mailing":{"street1":"NO. 8, LI-HSIN ROAD
        6","street2":"HSINCHU SCIENCE PARK","city":"HSINCHU","stateOrCountry":"F5","zipCode":"300-096","stateOrCountryDescription":"Taiwan,
        Province of China","isForeignLocation":0,"foreignStateTerritory":null,"country":null,"countryCode":null},"business":{"street1":"NO.
        8, LI-HSIN ROAD 6","street2":"HSINCHU SCIENCE PARK","city":"HSINCHU","stateOrCountry":"F5","zipCode":"300-096","stateOrCountryDescription":"Taiwan,
        Province of China","isForeignLocation":null,"foreignStateTerritory":null,"country":null,"countryCode":null}},"phone":"886-3-5636688","flags":"","formerNames":[],"filings":{"recent":{"accessionNumber":["0001046179-26-000019","0001046179-26-000017","0001046179-26-000015","0001046179-26-000012","0001046179-26-000010","0001046179-26-000008","0001046179-26-000005","0001046179-26-000002","0001046179-25-000142","0001046179-25-000140","0001046179-25-000137","0001046179-25-000135","0001046179-25-000133","0001046179-25-000130","0001046179-25-000128","0001046179-25-000126","0001046179-25-000124","0001046179-25-000121","0001046179-25-000118","0001046179-25-000116","0001046179-25-000113","0001046179-25-0[...]
