interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/1496608/000141036826010918/0001410368-26-010918.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001410368-26-010918.txt : 20260212\n<SEC-HEADER>0001410368-26-010918.hdr.sgml
        : 20260212\n<ACCEPTANCE-DATETIME>20260212110958\nACCESSION NUMBER:\t\t0001410368-26-010918\nCONFORMED
        SUBMISSION TYPE:\tN-CEN\nPUBLIC DOCUMENT COUNT:\t\t3\nCONFORMED PERIOD OF
        REPORT:\t20251130\nFILED AS OF DATE:\t\t20260212\nDATE AS OF CHANGE:\t\t20260212\nEFFECTIVENESS
        DATE:\t\t20260212\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED NAME:\t\t\tAB
        Active ETFs, Inc.\n\t\tCENTRAL INDEX KEY:\t\t\t0001496608\n\t\tORGANIZATION
        NAME:           \t\n\t\tEIN:\t\t\t\t000000000\n\t\tSTATE OF INCORPORATION:\t\t\tMD\n\t\tFISCAL
        YEAR END:\t\t\t0531\n\n\tFILING VALUES:\n\t\tFORM TYPE:\t\tN-CEN\n\t\tSEC
        ACT:\t\t1940 Act\n\t\tSEC FILE NUMBER:\t811-23799\n\t\tFILM NUMBER:\t\t26624233\n\n\tBUSINESS
        ADDRESS:\t\n\t\tSTREET 1:\t\tC/O ALLIANCEBERNSTEIN L.P.\n\t\tSTREET 2:\t\t66
        HUDSON BOULEVARD EAST, 26TH FLOOR\n\t\tCITY:\t\t\tNEW YORK\n\t\tSTATE:\t\t\tNY\n\t\tZIP:\t\t\t10001\n\t\tBUSINESS
        PHONE:\t\t212-969-1000\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\tC/O ALLIANCEBERNSTEIN
        L.P.\n\t\tSTREET 2:\t\t66 HUDSON BOULEVARD EAST, 26TH FLOOR\n\t\tCITY:\t\t\tNEW
        YORK\n\t\tSTATE:\t\t\tNY\n\t\tZIP:\t\t\t10001\n\n\tFORMER COMPANY:\t\n\t\tFORMER
        CONFORMED NAME:\tAllianceBernstein Active ETFs, Inc.\n\t\tDATE OF NAME CHANGE:\t20100714\n<SERIES-AND-CLASSES-CONTRACTS-DATA>\n<EXISTING-SERIES-AND-CLASSES-CONTRACTS>\n<SERIES>\n<OWNER-CIK>0001496608\n<SERIES-ID>S000076879\n<SERIES-NAME>AB
        Tax-Aware Short Duration Municipal ETF\n<CLASS-CONTRACT>\n<CLASS-CONTRACT-ID>C000237018\n<CLASS-CONTRACT-NAME>AB
        Tax-Aware Short Duration Municipal ETF\n<CLASS-CONTRACT-TICKER-SYMBOL>TAFI\n</CLASS-CONTRACT>\n</SERIES>\n<SERIES>\n<OWNER-CIK>0001496608\n<SERIES-ID>S000076880\n<SERIES-NAME>AB
        Ultra Short Income ETF\n<CLASS-CONTRACT>\n<CLASS-CONTRACT-ID>C000237019\n<CLASS-CONTRACT-NAME>AB
        Ultra Short Income ETF\n<CLASS-CONTRACT-TICKER-SYMBOL>YEAR\n</CLASS-CONTRACT>\n</SERIES>\n<SERIES>\n<OWNER-CIK>0001496608\n<SERIES-ID>S000079470\n<SERIES-NAME>AB
        Disruptors ETF\n<CLASS-CONTRACT>\n<CLASS-CONTRACT-ID>C000240507\n<CLASS-CONTRACT-NAME>AB
        Disruptors E[...]
