interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/1304492/000119312522186192/0001193125-22-186192.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001193125-22-186192.txt : 20220630\n<SEC-HEADER>0001193125-22-186192.hdr.sgml
        : 20220630\n<ACCEPTANCE-DATETIME>20220630162136\nACCESSION NUMBER:\t\t0001193125-22-186192\nCONFORMED
        SUBMISSION TYPE:\tS-3\nPUBLIC DOCUMENT COUNT:\t\t9\nFILED AS OF DATE:\t\t20220630\nDATE
        AS OF CHANGE:\t\t20220630\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED
        NAME:\t\t\tAnterix Inc.\n\t\tCENTRAL INDEX KEY:\t\t\t0001304492\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tTELEPHONE COMMUNICATIONS (NO RADIO TELEPHONE)
        [4813]\n\t\tIRS NUMBER:\t\t\t\t330745043\n\t\tSTATE OF INCORPORATION:\t\t\tDE\n\t\tFISCAL
        YEAR END:\t\t\t0331\n\n\tFILING VALUES:\n\t\tFORM TYPE:\t\tS-3\n\t\tSEC ACT:\t\t1933
        Act\n\t\tSEC FILE NUMBER:\t333-265930\n\t\tFILM NUMBER:\t\t221058287\n\n\tBUSINESS
        ADDRESS:\t\n\t\tSTREET 1:\t\t3 GARRET MOUNTAIN PLAZA\n\t\tSTREET 2:\t\tSUITE
        401\n\t\tCITY:\t\t\tWOODLAND PARK\n\t\tSTATE:\t\t\tNJ\n\t\tZIP:\t\t\t07424\n\t\tBUSINESS
        PHONE:\t\t(973) 771-0300\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t3 GARRET MOUNTAIN
        PLAZA\n\t\tSTREET 2:\t\tSUITE 401\n\t\tCITY:\t\t\tWOODLAND PARK\n\t\tSTATE:\t\t\tNJ\n\t\tZIP:\t\t\t07424\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tpdvWireless, Inc.\n\t\tDATE OF NAME
        CHANGE:\t20151105\n\n\tFORMER COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tPacific
        DataVision, Inc.\n\t\tDATE OF NAME CHANGE:\t20140616\n\n\tFORMER COMPANY:\t\n\t\tFORMER
        CONFORMED NAME:\tPacific Data Vision\n\t\tDATE OF NAME CHANGE:\t20040928\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>S-3\n<SEQUENCE>1\n<FILENAME>d374207ds3.htm\n<DESCRIPTION>S-3\n<TEXT>\n<HTML><HEAD>\n<TITLE>S-3</TITLE>\n</HEAD>\n
        <BODY BGCOLOR=\"WHITE\">\n<h5 align=\"left\"><a href=\"#toc\">Table of Contents</a></h5>\n\n\n<Center><DIV
        STYLE=\"width:8.5in\" align=\"left\">\n <P STYLE=\"margin-top:0pt; margin-bottom:0pt;
        font-size:10pt; font-family:Times New Roman\" ALIGN=\"center\"><B>As filed
        with the Securities and Exchange Commission on June&nbsp;30, 2022 </B></P>\n<P
        STYLE=\"margin-top:0pt; margin-bottom:0pt; font-size:10pt; font-family:Times
        New Roman\" ALIGN=\"right\"><B>Registration No.&nbsp;333-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </B></P>\n<P STYLE=\"font-size:4pt;margin-top:0pt;margin-bottom:0pt\">&nbsp;</P>
        <P STYLE=\"line-height:1.0pt;margin-top:0pt;margin-bottom:0pt;border-bottom:1px
        solid #000000\">&nbsp;</P>\n<P STYLE=\"line-height:3.0pt;margin-top:0pt;margin-bottom:2pt;border-bottom:1px
        solid #000000\">&nbsp;</P> <P STYLE=\"margin-top:4pt; margin-bottom:0pt; font-size:18pt;
        font-family:Times New Roman\" ALIGN=\"center\"><B>UNITED STATES </B></P>\n<P
        STYLE=\"margin-top:0pt; margin-bottom:0pt; font-size:18pt; font-family:Times
        New Roman\" ALIGN=\"center\"><B>SECURITIES AND EXCHANGE COMMISSION </B></P>\n<P
        STYLE=\"margin-top:0pt; margin-bottom:0pt; font-size:12pt; font-family:Times
        New Roman\" ALIGN=\"center\"><B>Washington, D.C. 20549 </B></P> <P STYLE=\"font-size:6pt;margin-top:0pt;margin-bottom:0pt\">&nbsp;</P><center>\n<P
        STYLE=\"line-height:6.0pt;margin-top:0pt;margin-bottom:2pt;border-bottom:1.00pt
        solid #000000;width:21%\">&nbsp;</P></center> <P STYLE=\"margin-top:6pt; margin-bottom:0pt;
        font-size:18pt; font-family:Times New Roman\" ALIGN=\"center\"><B>FORM <FONT\nSTYLE=\"white-space:nowrap\">S-3</FONT>
        </B></P> <P STYLE=\"margin-top:0pt; margin-bottom:0pt; font-size:18pt; font-family:Times
        New Roman\" ALIGN=\"center\"><B>REGISTRATION STATEMENT </B></P>\n<P STYLE=\"margin-top:0pt;
        margin-bottom:0pt; font-size:12pt; font-family:Times New Roman\" ALIGN=\"center\"><B><I>UNDER
        </I></B></P> <P STYLE=\"margin-top:0pt; margin-bottom:0pt; font-size:12pt;
        font-family:Times New Roman\" ALIGN=\"center\"><B><I>THE\nSECURITIES ACT OF
        1933 </I></B></P> <P STYLE=\"font-size:6pt;margin-top:0pt;margin-bottom:0pt\">&nbsp;</P><center>
        <P STYLE=\"line-height:6.0pt;margin-top:0pt;margin-bottom:2pt;border-bottom:1.00pt
        solid #000000;width:21%\">&nbsp;</P></center>\n<P STYLE=\"margin-top:6pt;
        margin-bottom:0pt; font-size:24pt; font-family:Times New Roman\" ALIGN=\"center\"><B>ANTERIX
        INC. </B></P> <P STYLE=\"margin-top:0pt; margin-bottom:0pt; font-size:10pt;
        font-family:Times New Roman\" ALIGN=\"center\"><B>(Exact name\nof Registrant
        as specified in its charter) </B></P> <P STYLE=\"font-size:6pt;margin-top:0pt;margin-bottom:0pt\">&nbsp;</P><center>\n<P
        STYLE=\"line-height:6.0pt;margin-top:0pt;margin-bottom:2pt;border-bottom:1.00pt
        solid #000000;width:21%\">&nbsp;</P></center> <P STYLE=\"font-size:6pt;margin-top:0pt;margin-bottom:0pt\">&nbsp;</P>\n<TABLE
        CELLSPACING=\"0\" CELLPADDING=\"0\" WIDTH=\"100%\" BORDER=\"0\" STYLE=\"BORDER-COLLAPSE:COLLAPSE;
        font-family:Times New Roman; font-size:8.5pt\" ALIGN=\"center\">\n\n\n<TR>\n\n<TD
        WIDTH=\"50%\"></TD>\n\n<TD VALIGN=\"bottom\" WIDTH=\"1%\"></TD>\n<TD WIDTH=\"48%\"></TD></TR>\n\n\n<TR
        STYLE=\"page-break-inside:avoid ; font-family:Times New Roman; font-size:8.5pt\">\n<TD
        VALIGN=\"top\" ALIGN=\"center\"><B>Delaware</B></TD>\n<TD VALIGN=\"bottom\">&nbsp;</TD>\n<TD
        VALIGN=\"top\" ALIGN=\"center\"><B>33-0745043</B></TD></TR>\n<TR STYLE=\"page-break-inside:avoid
        ; font-family:Times New Roman; font-size:8pt\">\n<TD VALIGN=\"top\" ALIGN=\"center\"><B>(State
        or other jurisdiction of<BR>incorporation or organization)</B></TD>\n<TD VALIGN=\"bottom\">&nbsp;</TD>\n<TD
        VALIGN=\"top\" ALIGN=\"center\"><B>(I.R.S. Employer<BR>Identification Number)</B></TD></TR>\n</TABLE>
        <P STYLE=\"margin-top:6pt; margin-bottom:0pt; font-size:8.5pt; font-family:Times
        New Roman\" ALIGN=\"center\"><B>3 Garret Mountain Plaza </B></P>\n<P STYLE=\"margin-top:0pt;
        margin-bottom:0pt; font-size:8.5pt; font-family:Times New Roman\" ALIGN=\"center\"><B>Suite
        401 </B></P> <P STYLE=\"margin-top:0pt; margin-bottom:0pt; font-size:8.5pt;
        font-family:Times New Roman\" ALIGN=\"center\"><B>Woodland\nPark, New Jersey
        07424 </B></P> <P STYLE=\"margin-top:0pt; margin-bottom:0pt; font-size:8.5pt;
        font-family:Times New Roman\" ALIGN=\"center\"><B>(973) <FONT STYLE=\"white-space:nowrap\">771-0300</FONT>
        </B></P>\n<P STYLE=\"margin-top:0pt; margin-bottom:0pt; font-size:8pt; font-family:Times
        New Roman\" ALIGN=\"center\"><B>(Address, including zip code, and telephone
        number, including area code, of Registrant&#146;s principal executive offices)
        </B></P>\n<P STYLE=\"font-size:6pt;margin-top:0pt;margin-bottom:0pt\">&nbsp;</P><center>
        <P STYLE=\"line-height:6.0pt;margin-top:0pt;margin-bottom:2pt;border-bottom:1.00pt[...]
