interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/749647/000149315225029712/0001493152-25-029712.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001493152-25-029712.txt : 20251231\n<SEC-HEADER>0001493152-25-029712.hdr.sgml
        : 20251231\n<ACCEPTANCE-DATETIME>20251231081519\nACCESSION NUMBER:\t\t0001493152-25-029712\nCONFORMED
        SUBMISSION TYPE:\t424B5\nPUBLIC DOCUMENT COUNT:\t\t2\nFILED AS OF DATE:\t\t20251231\nDATE
        AS OF CHANGE:\t\t20251231\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED
        NAME:\t\t\tImunon, Inc.\n\t\tCENTRAL INDEX KEY:\t\t\t0000749647\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tPHARMACEUTICAL PREPARATIONS [2834]\n\t\tORGANIZATION
        NAME:           \t03 Life Sciences\n\t\tEIN:\t\t\t\t521256615\n\t\tSTATE OF
        INCORPORATION:\t\t\tDE\n\t\tFISCAL YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\t424B5\n\t\tSEC ACT:\t\t1933 Act\n\t\tSEC FILE NUMBER:\t333-279425\n\t\tFILM
        NUMBER:\t\t251615754\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\t997 LENOX
        DRIVE\n\t\tSTREET 2:\t\tSUITE 100\n\t\tCITY:\t\t\tLAWRENCEVILLE\n\t\tSTATE:\t\t\tNJ\n\t\tZIP:\t\t\t08648\n\t\tBUSINESS
        PHONE:\t\t(609) 896-9100\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t997 LENOX
        DRIVE\n\t\tSTREET 2:\t\tSUITE 100\n\t\tCITY:\t\t\tLAWRENCEVILLE\n\t\tSTATE:\t\t\tNJ\n\t\tZIP:\t\t\t08648\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tCelsion CORP\n\t\tDATE OF NAME CHANGE:\t20071121\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tCELSION CORP\n\t\tDATE OF NAME CHANGE:\t19980515\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tCHEUNG LABORATORIES INC\n\t\tDATE
        OF NAME CHANGE:\t19920703\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>424B5\n<SEQUENCE>1\n<FILENAME>form424b5.htm\n<DESCRIPTION>424B5\n<TEXT>\n<HTML>\n<HEAD>\n
        \    <TITLE></TITLE>\n</HEAD>\n<BODY STYLE=\"font: 10pt Times New Roman, Times,
        Serif\">\n\n<P STYLE=\"font: 10pt Times New Roman, Times, Serif; margin: 0pt
        0pt 0pt 0; text-align: right\"><FONT STYLE=\"font-family: Times New Roman,
        Times, Serif; font-size: 10pt\">&nbsp;</FONT></P>\n\n<P STYLE=\"font: 10pt
        Times New Roman, Times, Serif; margin: 0pt 0pt 0pt 0; text-align: right\"><FONT
        STYLE=\"font-family: Times New Roman, Times, Serif; font-size: 10pt\"><B>Filed\nPursuant
        to Rule 424(b)(5)</B></FONT></P>\n\n<P STYLE=\"font: 10pt Times New Roman,
        Times, Serif; margin: 0pt 0pt 0pt 0; text-align: right\"><FONT STYLE=\"font-family:
        Times New Roman, Times, Serif; font-size: 10pt\"><B>Registration\nNo. 333-279425</B></FONT></P>\n\n<P
        STYLE=\"font: 10pt Times New Roman, Times, Serif; margin: 0pt 0pt 0pt 0\"><FONT
        STYLE=\"font-family: Times New Roman, Times, Serif; font-size: 10pt\">&nbsp;</FONT></P>\n\n<P
        STYLE=\"font: 10pt Times New Roman, Times, Serif; margin: 0pt 0pt 0pt 0\"><FONT
        STYLE=\"font-family: Times New Roman, Times, Serif; font-size: 10pt\"><B>PROSPECTUS\nSUPPLEMENT<BR>\n(To
        Prospectus dated May 22, 2024)</B></FONT></P>\n\n<P STYLE=\"font: 10pt Times
        New Roman, Times, Serif; margin: 0pt 0pt 0pt 0\"><FONT STYLE=\"font-family:
        Times New Roman, Times, Serif; font-size: 10pt\">&nbsp;</FONT></P>\n\n<P STYLE=\"font:
        10pt Times New Roman, Times, Serif; margin: 0pt 0pt 0pt 0; text-align: center\"><IMG
        SRC=\"form424b5_001.jpg\" ALT=\"\"></P>\n\n<P STYLE=\"font: 10pt Times New
        Roman, Times, Serif; margin: 0pt 0pt 0pt 0; te[...]
