interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/70858/000191870425005486/0001918704-25-005486.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001918704-25-005486.txt : 20250331\n<SEC-HEADER>0001918704-25-005486.hdr.sgml
        : 20250331\n<ACCEPTANCE-DATETIME>20250331171423\nACCESSION NUMBER:\t\t0001918704-25-005486\nCONFORMED
        SUBMISSION TYPE:\t424B2\nPUBLIC DOCUMENT COUNT:\t\t16\nFILED AS OF DATE:\t\t20250331\nDATE
        AS OF CHANGE:\t\t20250331\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED
        NAME:\t\t\tBofA Finance LLC\n\t\tCENTRAL INDEX KEY:\t\t\t0001682472\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tNATIONAL COMMERCIAL BANKS [6021]\n\t\tORGANIZATION
        NAME:           \t02 Finance\n\t\tEIN:\t\t\t\t813167494\n\t\tSTATE OF INCORPORATION:\t\t\tDE\n\t\tFISCAL
        YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM TYPE:\t\t424B2\n\t\tSEC
        ACT:\t\t1933 Act\n\t\tSEC FILE NUMBER:\t333-268718-01\n\t\tFILM NUMBER:\t\t25794942\n\n\tBUSINESS
        ADDRESS:\t\n\t\tSTREET 1:\t\t100 NORTH TRYON STREET\n\t\tSTREET 2:\t\tNC1-007-06-10\n\t\tCITY:\t\t\tCHARLOTTE\n\t\tSTATE:\t\t\tNC\n\t\tZIP:\t\t\t28202\n\t\tBUSINESS
        PHONE:\t\t704-386-4175\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t100 NORTH TRYON
        STREET\n\t\tSTREET 2:\t\tNC1-007-06-10\n\t\tCITY:\t\t\tCHARLOTTE\n\t\tSTATE:\t\t\tNC\n\t\tZIP:\t\t\t28202\n\nFILER:\n\n\tCOMPANY
        DATA:\t\n\t\tCOMPANY CONFORMED NAME:\t\t\tBANK OF AMERICA CORP /DE/\n\t\tCENTRAL
        INDEX KEY:\t\t\t0000070858\n\t\tSTANDARD INDUSTRIAL CLASSIFICATION:\tNATIONAL
        COMMERCIAL BANKS [6021]\n\t\tORGANIZATION NAME:           \t02 Finance\n\t\tEIN:\t\t\t\t560906609\n\t\tSTATE
        OF INCORPORATION:\t\t\tDE\n\t\tFISCAL YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\t424B2\n\t\tSEC ACT:\t\t1933 Act\n\t\tSEC FILE NUMBER:\t333-268718\n\t\tFILM
        NUMBER:\t\t25794943\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\tBANK OF AMERICA
        CORPORATE CENTER\n\t\tSTREET 2:\t\t100 N TRYON ST\n\t\tCITY:\t\t\tCHARLOTTE\n\t\tSTATE:\t\t\tNC\n\t\tZIP:\t\t\t28255\n\t\tBUSINESS
        PHONE:\t\t7043868486\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\tBANK OF AMERICA
        CORPORATE CENTER\n\t\tSTREET 2:\t\t100 N TRYON ST\n\t\tCITY:\t\t\tCHARLOTTE\n\t\tSTATE:\t\t\tNC\n\t\tZIP:\t\t\t28255\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tBANKAMERICA CORP/DE/\n\t\tDATE OF
        NAME CHANGE:\t19981022\n\n\tFORMER COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tNATIONSBANK
        CORP\n\t\tDATE OF NAME CHANGE:\t19920703\n\n\tFORMER COMPANY:\t\n\t\tFORMER
        CONFORMED NAME:\tNCNB CORP\n\t\tDATE OF NAME CHANGE:\t19920107\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>424B2\n<SEQUENCE>1\n<FILENAME>form424b2.htm\n<DESCRIPTION>424B2\n<TEXT>\n<html>\n<head>\n<title>
        </title>\n</head>\n\n<body>\n<div style=\"text-align:right; border-width:1px
        1px 1px 1px; border-style:none none none none;\"> <br>\n  <font style=\"font-size:10pt;font-family:'Arial',Times,serif;\"><b>Filed
        Pursuant to Rule 424(b)(2)</b> <br>\n  <b>Registration Statement Nos. </b><b>333-268718</b><b>&nbsp;and
        333-268718-01</b></font> </div>\n<div style=\"text-align:right; margin-top:8px;margin-bottom:8px;border-width:1px
        1px 1px 1px; border-style:none none none none;\"> </div>\n<div style=\"text-align:center;text-indent:244px;padding-left:216px;
        border-width:1px 1px 1px 1px; border-style:none none none none;\"> <font style=\"font-size:10pt;font-family:'Arial',Times,serif;\">Pricing
        Supplement Dated&nbsp;March 27, 2025.</font> </div>\n<div style=\"text-align:left;
        margin-top:8px;margin-bottom:8px;border-width:1px 1px 1px 1px; border-style:none
        none none none;\"> </div>\n<table  width=\"100%\"  cellpadding = \"0\"  cellspacing
        = \".0\"  style = \" border-collapse:collapse; \" >\n  <tr>\n    <td  colspan=\"1\"
        \ width=\"31%\"  rowspan=\"1\"  valign=\"top\" ><div style = \"float:left;
        \"> <img src=\"image_001.jpg\" ALT=\"\" style=\"width:203px;height:73px; border:
        solid 0px #000000\"> </div>\n      <div style = \"float:left; \">\n        <div
        style=\"text-align:left; border-width:1px 1px 1px 1px; border-style:none none
        none none;\"> </div>\n      </div>\n\n      <br></td>\n    <td  colspan=\"1\"
        \ width=\"69%\"  rowspan=\"1\"  valign=\"top\" ><div style=\"text-align:center;
        border-width:1px 1px 1px 1px; border-style:none none none none;\"> <font style=\"font-size:16pt;font-family:'Arial',Times,serif;\"><b>BofA
        Finance LLC</b></font> </div>\n      <div style=\"text-align:center; border-width:1px
        1px 1px 1px; border-style:none none none none;\"> <font style=\"font-size:10pt;font-family:'Arial',Times,serif;\">$9,720,000</font>
        </div>\n      <div style=\"text-align:center; border-width:1px 1px 1px 1px;
        border-style:none none none none;\"> <font style=\"font-size:10pt;font-family:'Arial',Times,serif;\">Digital
        S&amp;P 500<sup>&#174;</sup> Index-Linked Notes due&nbsp;May 5, 2027</font>
        </div>\n      <div style=\"text-align:center; border-width:1px 1px 1px 1px;
        border-style:none none none none;\"> <font style=\"font-size:10pt;font-family:'Arial',Times,serif;\"><b>Fully
        and Unconditionally Guaranteed by</b></font> </div>\n      <div style=\"text-align:center;
        border-width:1px 1px 1px 1px; border-style:none none none none;\"> <font style=\"font-size:10pt;font-family:'Arial',Times,serif;\">[...]
