interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/70858/000191870424002559/0001918704-24-002559.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001918704-24-002559.txt : 20241231\n<SEC-HEADER>0001918704-24-002559.hdr.sgml
        : 20241231\n<ACCEPTANCE-DATETIME>20241231061217\nACCESSION NUMBER:\t\t0001918704-24-002559\nCONFORMED
        SUBMISSION TYPE:\t424B2\nPUBLIC DOCUMENT COUNT:\t\t10\nFILED AS OF DATE:\t\t20241231\nDATE
        AS OF CHANGE:\t\t20241231\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED
        NAME:\t\t\tBofA Finance LLC\n\t\tCENTRAL INDEX KEY:\t\t\t0001682472\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tNATIONAL COMMERCIAL BANKS [6021]\n\t\tORGANIZATION
        NAME:           \t02 Finance\n\t\tIRS NUMBER:\t\t\t\t813167494\n\t\tSTATE
        OF INCORPORATION:\t\t\tDE\n\t\tFISCAL YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\t424B2\n\t\tSEC ACT:\t\t1933 Act\n\t\tSEC FILE NUMBER:\t333-268718-01\n\t\tFILM
        NUMBER:\t\t241591101\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\t100 NORTH
        TRYON STREET\n\t\tSTREET 2:\t\tNC1-007-06-10\n\t\tCITY:\t\t\tCHARLOTTE\n\t\tSTATE:\t\t\tNC\n\t\tZIP:\t\t\t28202\n\t\tBUSINESS
        PHONE:\t\t704-386-4175\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t100 NORTH TRYON
        STREET\n\t\tSTREET 2:\t\tNC1-007-06-10\n\t\tCITY:\t\t\tCHARLOTTE\n\t\tSTATE:\t\t\tNC\n\t\tZIP:\t\t\t28202\n\nFILER:\n\n\tCOMPANY
        DATA:\t\n\t\tCOMPANY CONFORMED NAME:\t\t\tBANK OF AMERICA CORP /DE/\n\t\tCENTRAL
        INDEX KEY:\t\t\t0000070858\n\t\tSTANDARD INDUSTRIAL CLASSIFICATION:\tNATIONAL
        COMMERCIAL BANKS [6021]\n\t\tORGANIZATION NAME:           \t02 Finance\n\t\tIRS
        NUMBER:\t\t\t\t560906609\n\t\tSTATE OF INCORPORATION:\t\t\tDE\n\t\tFISCAL
        YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM TYPE:\t\t424B2\n\t\tSEC
        ACT:\t\t1933 Act\n\t\tSEC FILE NUMBER:\t333-268718\n\t\tFILM NUMBER:\t\t241591102\n\n\tBUSINESS
        ADDRESS:\t\n\t\tSTREET 1:\t\tBANK OF AMERICA CORPORATE CENTER\n\t\tSTREET
        2:\t\t100 N TRYON ST\n\t\tCITY:\t\t\tCHARLOTTE\n\t\tSTATE:\t\t\tNC\n\t\tZIP:\t\t\t28255\n\t\tBUSINESS
        PHONE:\t\t7043868486\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\tBANK OF AMERICA
        CORPORATE CENTER\n\t\tSTREET 2:\t\t100 N TRYON ST\n\t\tCITY:\t\t\tCHARLOTTE\n\t\tSTATE:\t\t\tNC\n\t\tZIP:\t\t\t28255\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tBANKAMERICA CORP/DE/\n\t\tDATE OF
        NAME CHANGE:\t19981022\n\n\tFORMER COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tNATIONSBANK
        CORP\n\t\tDATE OF NAME CHANGE:\t19920703\n\n\tFORMER COMPANY:\t\n\t\tFORMER
        CONFORMED NAME:\tNCNB CORP\n\t\tDATE OF NAME CHANGE:\t19920107\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>424B2\n<SEQUENCE>1\n<FILENAME>form424b2.htm\n<DESCRIPTION>424B2\n<TEXT>\n<html>\n<head>\n<title>
        </title>\n</head>\n\n<body>\n\n<P STYLE=\"font: 8pt/10pt Arial, Helvetica,
        Sans-Serif; margin: 0 0 6pt 0pt; color: red\">This pricing supplement, which
        is not complete and may be changed, relates to an effective Registration Statement
        under the Securities Act of 1933. This pricing supplement and the accompanying
        product supplement, prospectus supplement and prospectus are not an offer
        to sell these Notes in any country or jurisdiction where such an offer would
        not be permitted. </P>\n<P STYLE=\"font: 10pt Arial, Helvetica, Sans-Serif;
        margin: 0 0 0 0pt;\"> <IMG SRC=\"image_cover.jpg\" ALT=\"\" STYLE=\"width:
        750px; height: 230px;\"> </P>\n<div style=\"text-align:left; border-width:1px
        1px 1px 1px; border-style:none none none none;\"> <font style=\"font-size:13pt;font-family:'Helvetica',Times,serif;\">Linked
        to the Russell 2000<sup>&#174;</sup>&nbsp;Index</font> </div>\n<table style=\"
        border-collapse:collapse;\" cellspacing=\"0\" cellpadding=\"0\">\n  <tr>\n
        \   <td width=\"0%\" valign = \"baseline\"><div style =\"text-indent:16px;\"><font
        style=\"font-size:16px;color:#5F8CD6;font-family:Calibri Light;\">&#8226;</font>&nbsp;&nbsp;&nbsp;
        </div></td>\n    <td style=\"padding-top:5px;\"><div style =\" text-align:justify;\"><font
        style=\"font-size:8pt;color:#58595B;font-family:'Helvetica',Times,serif;\">The
        Capped Buffered Enhanced Return Notes Linked to the Russell 2000<sup>&#174;</sup>&nbsp;Index,
        due July 31, 2026 (the[...]
