interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/1716947/000164117225001566/0001641172-25-001566.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001641172-25-001566.txt : 20250331\n<SEC-HEADER>0001641172-25-001566.hdr.sgml
        : 20250331\n<ACCEPTANCE-DATETIME>20250331122011\nACCESSION NUMBER:\t\t0001641172-25-001566\nCONFORMED
        SUBMISSION TYPE:\t424B5\nPUBLIC DOCUMENT COUNT:\t\t2\nFILED AS OF DATE:\t\t20250331\nDATE
        AS OF CHANGE:\t\t20250331\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED
        NAME:\t\t\tEnsysce Biosciences, Inc.\n\t\tCENTRAL INDEX KEY:\t\t\t0001716947\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tPHARMACEUTICAL PREPARATIONS [2834]\n\t\tORGANIZATION
        NAME:           \t03 Life Sciences\n\t\tEIN:\t\t\t\t822755287\n\t\tSTATE OF
        INCORPORATION:\t\t\tDE\n\t\tFISCAL YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\t424B5\n\t\tSEC ACT:\t\t1933 Act\n\t\tSEC FILE NUMBER:\t333-269157\n\t\tFILM
        NUMBER:\t\t25790412\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\t7946 IVANHOE
        AVENUE\n\t\tSTREET 2:\t\tSUITE 201\n\t\tCITY:\t\t\tLA JOLLA\n\t\tSTATE:\t\t\tCA\n\t\tZIP:\t\t\t92037\n\t\tBUSINESS
        PHONE:\t\t(858) 263-4196\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t7946 IVANHOE
        AVENUE\n\t\tSTREET 2:\t\tSUITE 201\n\t\tCITY:\t\t\tLA JOLLA\n\t\tSTATE:\t\t\tCA\n\t\tZIP:\t\t\t92037\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tLeisure Acquisition Corp.\n\t\tDATE
        OF NAME CHANGE:\t20170913\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>424B5\n<SEQUENCE>1\n<FILENAME>form424b5.htm\n<TEXT>\n<HTML>\n<HEAD>\n
        \    <TITLE></TITLE>\n</HEAD>\n<BODY STYLE=\"font: 10pt Times New Roman, Times,
        Serif\">\n\n<P STYLE=\"text-align: center; font: 10pt Times New Roman, Times,
        Serif; margin-top: 0pt; margin-bottom: 0pt\"><FONT STYLE=\"font-family: Times
        New Roman, Times, Serif; font-size: 10pt\">&nbsp;</FONT></P>\n\n<P STYLE=\"font:
        10pt Times New Roman, Times, Serif; margin: 0pt 0pt 0pt 0; text-align: right\"><FONT
        STYLE=\"font-family: Times New Roman, Times, Serif; font-size: 10pt\"><B>Filed\nPursuant
        to Rule 424(b)(5)</B></FONT></P>\n\n<P STYLE=\"font: 10pt Times New Roman,
        Times, Serif; margin: 0pt 0pt 0pt 0; text-align: right\"><FONT STYLE=\"font-family:
        Times New R[...]
