interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/1827087/000119312525067858/0001193125-25-067858.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001193125-25-067858.txt : 20250331\n<SEC-HEADER>0001193125-25-067858.hdr.sgml
        : 20250331\n<ACCEPTANCE-DATETIME>20250331074630\nACCESSION NUMBER:\t\t0001193125-25-067858\nCONFORMED
        SUBMISSION TYPE:\tS-3\nPUBLIC DOCUMENT COUNT:\t\t5\nFILED AS OF DATE:\t\t20250331\nDATE
        AS OF CHANGE:\t\t20250331\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED
        NAME:\t\t\tVigil Neuroscience, Inc.\n\t\tCENTRAL INDEX KEY:\t\t\t0001827087\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tBIOLOGICAL PRODUCTS (NO DIAGNOSTIC SUBSTANCES)
        [2836]\n\t\tORGANIZATION NAME:           \t03 Life Sciences\n\t\tEIN:\t\t\t\t000000000\n\t\tSTATE
        OF INCORPORATION:\t\t\tDE\n\t\tFISCAL YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\tS-3\n\t\tSEC ACT:\t\t1933 Act\n\t\tSEC FILE NUMBER:\t333-286243\n\t\tFILM
        NUMBER:\t\t25788955\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\t100 FORGE ROAD\n\t\tSTREET
        2:\t\tSUITE 700\n\t\tCITY:\t\t\tWATERTOWN\n\t\tSTATE:\t\t\tMA\n\t\tZIP:\t\t\t02472\n\t\tBUSINESS
        PHONE:\t\t857-254-4445\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t100 FORGE ROAD\n\t\tSTREET
        2:\t\tSUITE 700\n\t\tCITY:\t\t\tWATERTOWN\n\t\tSTATE:\t\t\tMA\n\t\tZIP:\t\t\t02472\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>S-3\n<SEQUENCE>1\n<FILENAME>d832814ds3.htm\n<DESCRIPTION>S-3\n<TEXT>\n<HTML><HEAD>\n<TITLE>S-3</TITLE>\n</HEAD>\n
        <BODY BGCOLOR=\"WHITE\" STYLE=\"line-height:Normal\">\n<h5 align=\"left\"
        style=\"font-size:10pt;font-weight:bold\"><a href=\"#toc\">Table of Contents</a></h5>\n\n\n<Center><DIV
        STYLE=\"width:8.5in\" align=\"left\">\n <P STYLE=\"margin-top:0pt; margin-bottom:0pt;
        font-size:8pt; font-family:Times New Roman\" ALIGN=\"center\"><B>As filed
        with the Securities and Exchange Commission on March&nbsp;31, 2025 </B></P>\n<P
        STYLE=\"margin-top:0pt; margin-bottom:0pt; font-size:8pt; font-family:Times
        New Roman\" ALIGN=\"right\"><B>Registration No.&nbsp;333-&#8195;&#8195;&#8195;
        </B></P> <P STYLE=\"font-size:2pt;margin-top:0pt;margin-bottom:0pt\">&nbsp;</P>\n<P
        STYLE=\"line-height:1.0pt;margin-top:0pt;margin-bottom:0pt;border-bottom:1px
        solid #000000\">&nbsp;</P> <P STYLE=\"line-height:3.0pt;margin-top:0pt;margin-bottom:2pt;border-bottom:1px
        solid #000000\">&nbsp;</P>\n<P STYLE=\"margin-top:2pt; margin-bottom:0pt;
        font-size:16pt; font-family:Times New Roman\" ALIGN=\"center\"><B>UNITED STATES
        </B></P> <P STYLE=\"margin-top:0pt; margin-bottom:0pt; font-size:16pt; font-family:Times
        New Roman\" ALIGN=\"center\"><B>SECURITIES\nAND EXCHANGE COMMISSION </B></P>
        <P STYLE=\"margin-top:0pt; margin-bottom:0pt; font-size:10pt; font-family:Times
        New Roman\" ALIGN=\"center\"><B>Washington, D.C. 20549 </B></P> <P STYLE=\"font-size:3pt;margin-top:0pt;margin-bottom:0pt\">&nbsp;</P><center>\n<P
        STYLE=\"line-height:6.0pt;margin-top:0pt;margin-bottom:2pt;border-bottom:1.00pt
        solid #000000;width:21%\">&nbsp;</P></center> <P STYLE=\"margin-top:3pt; margin-bottom:0pt;
        font-size:16pt; font-family:Times New Roman\" ALIGN=\"center\"><B>FORM <FONT\nSTYLE=\"white-space:nowrap\">S-3</FONT>
        </B></P> <P STYLE=\"margin-top:0pt; margin-bottom:0pt; font-size:16pt; font-family:Times
        New Roman\" ALIGN=\"center\"><B>REGISTRATION STATEMENT </B></P>\n<P STYLE=\"margin-top:0pt;
        margin-bottom:0pt; font-size:10pt; font-family:Times New Roman\" ALIGN=\"center\"><B><I>UNDER
        </I></B></P> <P STYLE=\"margin-top:0pt; margin-bottom:0pt; font-size:10pt;
        font-family:Times New Roman\" ALIGN=\"center\"><B><I>THE\nSECURITIES ACT OF
        1933 </I></B></P> <P STYLE=\"font-size:3pt;margin-top:0pt;margin-bottom:0pt\">&nbsp;</P><center>
        <P STYLE=\"line-height:6.0pt;margin-top:0pt;margin-bottom:2pt;border-bottom:1.00pt
        solid #000000;width:21%\">&nbsp;</P></center>\n<P STYLE=\"margin-top:3pt;
        margin-bottom:0pt; font-size:22pt; font-family:Times New Roman\" ALIGN=\"center\"><B>VIGIL
        NEUROSCIENCE, INC. </B></P>\n<P STYLE=\"margin-top:0pt; margin-bottom:0pt;
        font-size:8pt; font-family:Times New Roman\" ALIGN=\"center\"><B>(Exact name
        of registrant as specified in its charter) </B></P> <P STYLE=\"font-size:3pt;margin-top:0pt;margin-bottom:0pt\">&nbsp;</P><center>\n<P
        STYLE=\"line-height:6.0pt;margin-top:0pt;margin-bottom:2pt;border-bottom:1.00pt
        solid #000000;width:21%\">&nbsp;</P></center> <P STYLE=\"font-size:3pt;margin-top:0pt;margin-bottom:0pt\">&nbsp;</P>\n<TABLE
        CELLSPACING=\"0\" CELLPADDING=\"0\" WIDTH=\"100%\" BORDER=\"0\" STYLE=\"BORDER-COLLAPSE:COLLAPSE;
        font-family:Times New Roman; font-size:7pt\" ALIGN=\"center\">\n\n\n<TR>\n\n<TD
        WIDTH=\"50%\"></TD>\n\n<TD VALIGN=\"bottom\" WIDTH=\"1%\"></TD>\n<TD WIDTH=\"48%\"></TD></TR>\n\n\n<TR
        STYLE=\"page-break-inside:avoid ; font-family:Times New Roman; font-size:8pt\">\n<TD
        VALIGN=\"top\" ALIGN=\"center\"><B>Delaware</B></TD>\n<TD VALIGN=\"bottom\">&nbsp;</TD>\n<TD
        VALIGN=\"top\" ALIGN=\"center\"><B><FONT STYLE=\"white-space:nowrap\">85-1880494</FONT></B></TD></TR>\n<TR
        STYLE=\"page-break-inside:avoid ; font-family:Times New Roman; font-size:7pt\">\n<TD
        VALIGN=\"top\" ALIGN=\"center\"> <P STYLE=\"margin-top:0pt; margin-bottom:0pt;
        font-size:7pt; font-family:Times New Roman\" ALIGN=\"center\"><B>(State or
        other jurisdiction of</B></P>\n<P STYLE=\"margin-top:0pt; margin-bottom:1pt;
        font-size:7pt; font-family:Times New Roman\" ALIGN=\"center\"><B>incorporation[...]
