interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/45291/000119312525148895/0001193125-25-148895.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001193125-25-148895.txt : 20250626\n<SEC-HEADER>0001193125-25-148895.hdr.sgml
        : 20250626\n<ACCEPTANCE-DATETIME>20250626160640\nACCESSION NUMBER:\t\t0001193125-25-148895\nCONFORMED
        SUBMISSION TYPE:\t497K\nPUBLIC DOCUMENT COUNT:\t\t2\nFILED AS OF DATE:\t\t20250626\nDATE
        AS OF CHANGE:\t\t20250626\nEFFECTIVENESS DATE:\t\t20250626\n\nFILER:\n\n\tCOMPANY
        DATA:\t\n\t\tCOMPANY CONFORMED NAME:\t\t\tJOHN HANCOCK CAPITAL SERIES\n\t\tCENTRAL
        INDEX KEY:\t\t\t0000045291\n\t\tORGANIZATION NAME:           \t\n\t\tEIN:\t\t\t\t042443211\n\t\tSTATE
        OF INCORPORATION:\t\t\tDE\n\t\tFISCAL YEAR END:\t\t\t1031\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\t497K\n\t\tSEC ACT:\t\t1933 Act\n\t\tSEC FILE NUMBER:\t002-29502\n\t\tFILM
        NUMBER:\t\t251080415\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\tC/O JOHN HANCOCK
        FUNDS\n\t\tSTREET 2:\t\t200 BERKELEY STREET\n\t\tCITY:\t\t\tBOSTON\n\t\tSTATE:\t\t\tMA\n\t\tZIP:\t\t\t02116\n\t\tBUSINESS
        PHONE:\t\t617-663-3000\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\tC/O JOHN HANCOCK
        FUNDS\n\t\tSTREET 2:\t\t200 BERKELEY STREET\n\t\tCITY:\t\t\tBOSTON\n\t\tSTATE:\t\t\tMA\n\t\tZIP:\t\t\t02116\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tHANCOCK JOHN CAPITAL SERIES\n\t\tDATE
        OF NAME CHANGE:\t19940316\n\n\tFORMER COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tHANCOCK
        JOHN GROWTH TRUST /MA/\n\t\tDATE OF NAME CHANGE:\t19910704\n\n\tFORMER COMPANY:\t\n\t\tFORMER
        CONFORMED NAME:\tHANCOCK JOHN GROWTH FUND INC\n\t\tDATE OF NAME CHANGE:\t19850423\n<SERIES-AND-CLASSES-CONTRACTS-DATA>\n<EXISTING-SERIES-AND-CLASSES-CONTRACTS>\n<SERIES>\n<OWNER-CIK>0000045291\n<SERIES-ID>S000000617\n<SERIES-NAME>Classic
        Value Fund\n<CLASS-CONTRACT>\n<CLASS-CONTRACT-ID>C000001745\n<CLASS-CONTRACT-NAME>Class
        A\n<CLASS-CONTRACT-TICKER-SYMBOL>PZFVX\n</CLASS-CONTRACT>\n<CLASS-CONTRACT>\n<CLASS-CONTRACT-ID>C000001747\n<CLASS-CONTRACT-NAME>Class
        C\n<CLASS-CONTRACT-TICKER-SYMBOL>JCVCX\n</CLASS-CONTRACT>\n<CLASS-CONTRACT>\n<CLASS-CONTRACT-ID>C000001748\n<CLASS-CONTRACT-NAME>Class
        I\n<CLASS-CONTRACT-TICKER-SYMBOL>JCVIX\n</CLASS-CONTRACT>\n<CLASS-CONTRACT>\n<CLASS-CONTRACT-ID>C000078721\n<CLASS-CONTRACT-NAME>Class
        R5\n<CLASS-CONTRACT-TICKER-SYMBOL>JCVVX\n</CLASS-CONTRACT>\n<CLASS-CONTRACT>\n<CLASS-CONTRACT-ID>C000106431\n<CLASS-CONTRACT-NAME>Class
        R6\n<CLASS-CONTRACT-TICKER-SYMBOL>JCVWX\n</CLASS-CONTRACT>\n<CLASS-CONTRACT>\n<CLASS-CONTRACT-ID>C000113483\n<CLASS-CONTRACT-NAME>Class
        R2\n<CLASS-CONTRACT-TICKER-SYMBOL>JCVSX\n</CLASS-CONTRACT>\n</SERIES>\n</EXISTING-SERIES-AND-CLASSES-CONTRACTS>\n</SERIES-AND-CLASSES-CONTRACTS-DATA>\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>497K\n<SEQUENCE>1\n<FILENAME>d98079d497k.htm\n<DESCRIPTION>JOHN
        HANCOCK CAPITAL SERIES\n<TEXT>\n<HTML><HEAD>\n<TITLE>JOHN HANCOCK CAPITAL
        SERIES</TITLE>\n</HEAD>\n\n\n<body style=\"margin-top:0.0pt;width:613.35pt;\"
        bgcolor=\"white\">\n  <div> <div><a name=\"xx_60e7110f-7c4d-40b7-b2c6-a1af91db2eb6_1\"></A>
        <div style=\"page-break-after:always;position:relative;\">\n<div style=\"clear:both;\">
        </div> <div style=\"float:left;margin-left:24pt;margin-top:42pt;width:558pt;min-height:648pt;\">
        <div style=\"text-align:left;\">\n<img src=\"g53455jhim_fcv.jpg\" alt=\" \"
        style=\"height:28pt;width:184pt;\"><font style=\"color:#000000;font-family:Arial
        Narrow;font-size:10pt;line-height:11pt;\">&#8201;</font></div> <div style=\"line-height:20.0pt;margin-top:9pt;text-align:left;\">\n<div
        style=\"margin-top:9pt;\"><font style=\"color:#000000;font-family:Arial Narrow;font-size:18pt;\">Prospectus
        Supplement</font></div> </div> <div style=\"line-height:11.0pt;margin-top:6pt;text-align:left;\">
        <div style=\"margin-top:6pt;\"><font\nstyle=\"color:#000000;font-family:Arial
        Narrow;font-size:9pt;font-weight:bold;\">John Hancock Capital Series</font>
        <br><font style=\"color:#000000;font-family:Arial Narrow;font-size:9pt;font-weight:bold;\">John
        Hancock Classic Value Fund (the\nfund)</font></div> </div> <div style=\"line-height:11.0pt;margin-top:6pt;text-align:left;\">
        <div style=\"margin-top:6pt;\"><font style=\"color:#000000;font-family:Arial
        Narrow;font-size:9pt;font-weight:bold;\">Supplement dated June 26, 2025 to
        the\ncurrent Summary Prospectus, as may be supplemented (the Summary Prospectus)</font></div>
    [...]
