interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/1819438/000162828025015699/0001628280-25-015699.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001628280-25-015699.txt : 20250331\n<SEC-HEADER>0001628280-25-015699.hdr.sgml
        : 20250331\n<ACCEPTANCE-DATETIME>20250331170256\nACCESSION NUMBER:\t\t0001628280-25-015699\nCONFORMED
        SUBMISSION TYPE:\t424B5\nPUBLIC DOCUMENT COUNT:\t\t3\nFILED AS OF DATE:\t\t20250331\nDATE
        AS OF CHANGE:\t\t20250331\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED
        NAME:\t\t\tESS Tech, Inc.\n\t\tCENTRAL INDEX KEY:\t\t\t0001819438\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tMISCELLANEOUS ELECTRICAL MACHINERY, EQUIPMENT
        & SUPPLIES [3690]\n\t\tORGANIZATION NAME:           \t04 Manufacturing\n\t\tEIN:\t\t\t\t981550150\n\t\tSTATE
        OF INCORPORATION:\t\t\tDE\n\t\tFISCAL YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\t424B5\n\t\tSEC ACT:\t\t1933 Act\n\t\tSEC FILE NUMBER:\t333-268138\n\t\tFILM
        NUMBER:\t\t25794696\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\t26440 SW PARKWAY
        AVE.\n\t\tSTREET 2:\t\tBLDG. 83\n\t\tCITY:\t\t\tWILSONVILLE\n\t\tSTATE:\t\t\tOR\n\t\tZIP:\t\t\t97070\n\t\tBUSINESS
        PHONE:\t\t(855) 423-9920\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t26440 SW PARKWAY
        AVE.\n\t\tSTREET 2:\t\tBLDG. 83\n\t\tCITY:\t\t\tWILSONVILLE\n\t\tSTATE:\t\t\tOR\n\t\tZIP:\t\t\t97070\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tACON S2 Acquisition Corp.\n\t\tDATE
        OF NAME CHANGE:\t20200728\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>424B5\n<SEQUENCE>1\n<FILENAME>essinc-424b5.htm\n<DESCRIPTION>424B5\n<TEXT>\n<html><head>\n<!--
        Document created using Wdesk -->\n<!-- Copyright 2025 Workiva -->\n<title>Document</title></head><body><div
        id=\"i83339560318648a98cad8b6481af0b6b_77\"></div><div style=\"min-height:22.5pt;width:100%\"><div
        style=\"margin-bottom:9pt;text-indent:18pt\"><font><br></font></div></div><div
        style=\"text-align:right\"><font style=\"color:#000000;font-family:'Times
        New Roman',sans-serif;font-size:10pt;font-weight:700;line-height:120%\">Filed
        Pursuant to Rule 424(b)(5)</font></div><div style=\"text-align:right\"><font
        style=\"color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:700;line-height:120%\">Registration
        No. 333-268138</font></div><div><font style=\"color:#000000;font-family:'Times
        New Roman',sans-serif;font-size:10pt;font-weight:700;line-height:120%\">PROSPECTUS
        SUPPLEMENT</font></div><div><font style=\"color:#000000;font-family:'Times
        New Roman',sans-serif;font-size:10pt;font-weight:700;line-height:120%\">(To
        Prospectus dated November 17, 2022)</font></div><div style=\"text-align:center\"><font
        style=\"color:#000000;font-family:'Times New Roman',sans-serif;font-size:18pt;font-weight:700;line-height:120%\">Up
        to $13,504,438</font></div><div style=\"text-align:center\"><img alt=\"esslogoa.jpg\"
        src=\"esslogoa.jpg\" style=\"height:58px;margin-bottom:5pt;vertical-align:text-bottom;width:168px\"></div><div
        style=\"text-align:center\"><font style=\"color:#000000;font-family:'Times
        New Roman',sans-serif;font-size:14pt;font-weight:700;line-height:120%\">Common
        Stock</font></div><div><table style=\"border-collapse:collapse;display:inline-table;margin-bottom:5pt;vertical-align:text-bottom;width:100.000%\"><tr><td
        style=\"width:1.0%\"></td><td style=\"width:98.900%\"></td><td style=\"width:0.1%\"></td></tr><tr
        style=\"height:3pt\"><td colspan=\"3\" style=\"border-bottom:1pt solid #000;padding:0
        1pt\"></td></tr></table></div><div style=\"margin-bottom:9pt;text-indent:18pt\"><font
        style=\"color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:400;line-height:120%\">We
        have entered into a Sales Agreement, dated March&#160;31, 2025, (the &#8220;Sales
        Agreement&#8221;), wit[...]
