interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/submissions/CIK0000310522.json
  response:
    body:
      string: '{"cik":"0000310522","entityType":"operating","sic":"6111","sicDescription":"Federal
        & Federally-Sponsored Credit Agencies","ownerOrg":"02 Finance","insiderTransactionForOwnerExists":0,"insiderTransactionForIssuerExists":1,"name":"FEDERAL
        NATIONAL MORTGAGE ASSOCIATION FANNIE MAE","tickers":["FNMA","FNMAS","FNMAJ","FNMAH","FNMFN","FNMAM","FNMAN","FNMAI","FNMAT","FNMAK","FNMAL","FNMFM","FNMAO","FNMAG","FNMFO","FNMAP"],"exchanges":["OTC","OTC","OTC","OTC","OTC","OTC","OTC","OTC","OTC","OTC","OTC","OTC","OTC","OTC","OTC","OTC"],"ein":"520883107","lei":null,"description":"","website":"","investorWebsite":"","category":"Large
        accelerated filer","fiscalYearEnd":"1231","stateOfIncorporation":"","stateOfIncorporationDescription":"","addresses":{"mailing":{"street1":"MIDTOWN
        CENTER","street2":"1100 15TH ST, NW","city":"WASHINGTON","stateOrCountry":"DC","zipCode":"20005","stateOrCountryDescription":"DC","isForeignLocation":0,"foreignStateTerritory":null,"country":null,"countryCode":null},"business":{"street1":"MIDTOWN
        CENTER","street2":"1100 15TH ST, NW","city":"WASHINGTON","stateOrCountry":"DC","zipCode":"20005","stateOrCountryDescription":"DC","isForeignLocation":null,"foreignStateTerritory":null,"country":null,"countryCode":null}},"phone":"800-232-6643","flags":"","formerNames":[{"name":"FEDERAL
        NATIONAL MORTGAGE ASSOCIATION","from":"1995-01-10T00:00:00.000Z","to":"2003-02-13T00:00:00.000Z"}],"filings":{"recent":{"accessionNumber":["0000310522-26-000003","0002102148-25-000002","0002102110-25-000002","0000310522-25-000527","0000310522-25-000526","0000310522-25-000525","0000310522-25-000524","0000310522-25-000523","0000310522-25-000522","0000310522-25-000521","0000310522-25-000520","0000310522-25-000519","0000310522-25-000518","0000310522-25-000517","0002095101-25-000002","0000310522-25-000516","0000310522-25-000513","0000310522-25-000512","0000310522-25-000501","0002062526-25-000004","0000310522-25-000496","0000310522-25-0[...]
