interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/1368622/000110465925064107/0001104659-25-064107.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001104659-25-064107.txt : 20250630\n<SEC-HEADER>0001104659-25-064107.hdr.sgml
        : 20250630\n<ACCEPTANCE-DATETIME>20250630160600\nACCESSION NUMBER:\t\t0001104659-25-064107\nCONFORMED
        SUBMISSION TYPE:\tS-3ASR\nPUBLIC DOCUMENT COUNT:\t\t22\nFILED AS OF DATE:\t\t20250630\nDATE
        AS OF CHANGE:\t\t20250630\nEFFECTIVENESS DATE:\t\t20250630\n\nFILER:\n\n\tCOMPANY
        DATA:\t\n\t\tCOMPANY CONFORMED NAME:\t\t\tAeroVironment Inc\n\t\tCENTRAL INDEX
        KEY:\t\t\t0001368622\n\t\tSTANDARD INDUSTRIAL CLASSIFICATION:\tAIRCRAFT [3721]\n\t\tORGANIZATION
        NAME:           \t04 Manufacturing\n\t\tEIN:\t\t\t\t952705790\n\t\tSTATE OF
        INCORPORATION:\t\t\tDE\n\t\tFISCAL YEAR END:\t\t\t0430\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\tS-3ASR\n\t\tSEC ACT:\t\t1933 Act\n\t\tSEC FILE NUMBER:\t333-288424\n\t\tFILM
        NUMBER:\t\t251092037\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\t241 18TH STREET
        SOUTH, SUITE 650\n\t\tCITY:\t\t\tARLINGTON\n\t\tSTATE:\t\t\tVA\n\t\tZIP:\t\t\t22202\n\t\tBUSINESS
        PHONE:\t\t(703) 418-2828\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t241 18TH STREET
        SOUTH, SUITE 650\n\t\tCITY:\t\t\tARLINGTON\n\t\tSTATE:\t\t\tVA\n\t\tZIP:\t\t\t22202\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>S-3ASR\n<SEQUENCE>1\n<FILENAME>tm2519048-1_s3asr.htm\n<DESCRIPTION>S-3ASR\n<TEXT>\n<html>\n
        \ <head>\n    <title>tm2519048-1_s3asr - none - 3.5156432s</title>\n  </head>\n
        \ <body style=\"margin-left:auto;margin-right:auto;width:595.31pt;\">\n    <div
        style=\"page-break-after:always; width:595.3pt;margin-left:auto;margin-right:auto;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;color:#000000;font-family:Times
        New Roman, Times, serif ;font-size:9.5pt;\">\n      <div style=\"padding:0pt;margin:0pt;font-family:calibri,
        arial, sans-serif;font-weight:normal;font-style:normal;font-size:8pt;line-height:8pt;\">\n
        \       <a style=\"text-decoration:none;color:#003366;\" href=\"#TOC\">TABLE
        OF CONTENTS</a>\n      </div>\n      <div style=\"margin-top:27.85pt;margin-bottom:21.86pt;margin-left:27pt;width:541.31pt;\">\n
        \       <div style=\"text-align:center; width:541.31pt; line-height:10pt;font-weight:bold;\">\n
        \         <font style=\"letter-spacing:-0.19pt;\">As filed with the Securities
        and Exchange Commission on June 30, 2025</font><font style=\"font-weight:normal;letter-spacing:0.19pt;\">
        </font>\n        </div>\n        <div style=\"margin-top:4pt; text-align:right;
        width:541.31pt; line-height:10pt;font-weight:bold;\">\n          <font style=\"letter-spacing:-0.19pt;\">Registration
        No. 333-&#8199;&#8199;&#8199;&#8199;&#8199;&#8199;</font>&#8203;</div>\n        <div
        style=\"margin-top:2.367pt; width:541.31pt;\">\n          <div style=\"margin-left:
        0pt; width: 541.31pt; margin-top: 2.36666666666667pt; font-size: 2pt; line-height:
        0pt; border-bottom: 2pt solid #000000; \">&#8203;</div>\n        </div>\n
        \       <div style=\"margin-top:1.21pt; width:541.31pt;\">\n          <div
        style=\"margin-left: 0pt; width: 541.31pt; margin-top: 1.21pt; font-size:
        1pt; line-height: 0pt; border-bottom: 1pt solid #000000; \">&#8203;</div>\n
        \       </div>\n        <div style=\"margin-top:6.7pt; text-align:center;
        width:541.31pt; line-height:14pt;font-weight:bold;font-size:14pt;\">\n          <font
        style=\"letter-spacing:-0.28pt;\">UNITED STATES </font>\n          <br >\n
        \         <font style=\"letter-spacing:-0.28pt;\">SECURITIES AND EXCHANGE
        COMMISSION </font>\n        </div>\n        <div style=\"margin-top:0.5pt;
        text-align:center; width:541.31pt; line-height:10pt;font-weight:bold;\">\n
        \         <font style=\"letter-spacing:-0.19pt;\">Washington, D.C. 20549</font><font
        style=\"font-weight:normal;letter-spacing:0.19pt;\"> </font>\n        </div>\n
        \       <div style=\"margin-top:3.867pt; text-align:center; width:541.31pt;\">\n
        \         <div style=\"margin-left: 40.024%; margin-right: 40.024%; margin-top:
        3.86666666666666pt; font-size: 1pt; line-height: 0pt; border-bottom: 1p[...]
