interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/submissions/CIK0001771340.json
  response:
    body:
      string: '{"cik":"0001771340","entityType":"other","sic":"","sicDescription":"","ownerOrg":"","insiderTransactionForOwnerExists":1,"insiderTransactionForIssuerExists":0,"name":"Taneja
        Vaibhav","tickers":[],"exchanges":[],"ein":null,"lei":null,"description":"","website":"","investorWebsite":"","category":"","fiscalYearEnd":null,"stateOfIncorporation":"","stateOfIncorporationDescription":"","addresses":{"mailing":{"street1":"1
        TESLA ROAD","street2":null,"city":"AUSTIN","stateOrCountry":"TX","zipCode":"78725","stateOrCountryDescription":"TX","isForeignLocation":0,"foreignStateTerritory":null,"country":null,"countryCode":null},"business":{"street1":null,"street2":null,"city":null,"stateOrCountry":null,"zipCode":null,"stateOrCountryDescription":null,"isForeignLocation":null,"foreignStateTerritory":null,"country":null,"countryCode":null}},"phone":null,"flags":"","formerNames":[],"filings":{"recent":{"accessionNumber":["0001104659-25-119764","0001950047-25-009970","0001104659-25-088703","0001950047-25-006832","0001104659-25-066775","0001950047-25-004908","0001950047-25-004884","0001104659-25-057932","0001950047-25-004049","0001104659-25-056561","0001950047-25-003760","0001950047-25-003692","0001771340-25-000009","0001950047-25-003129","0001771340-25-000008","0001950047-25-002839","0001771340-25-000007","0001950047-25-002678","0001771340-25-000005","0001950047-25-002401","0001771340-25-000003","0001950047-25-0[...]
