interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/submissions/CIK0001318605.json
  response:
    body:
      string: '{"cik":"0001318605","entityType":"operating","sic":"3711","sicDescription":"Motor
        Vehicles & Passenger Car Bodies","ownerOrg":"04 Manufacturing","insiderTransactionForOwnerExists":0,"insiderTransactionForIssuerExists":1,"name":"Tesla,
        Inc.","tickers":["TSLA"],"exchanges":["Nasdaq"],"ein":"912197729","lei":null,"description":"","website":"","investorWebsite":"","category":"Large
        accelerated filer","fiscalYearEnd":"1231","stateOfIncorporation":"TX","stateOfIncorporationDescription":"TX","addresses":{"mailing":{"street1":"1
        TESLA ROAD","street2":null,"city":"AUSTIN","stateOrCountry":"TX","zipCode":"78725","stateOrCountryDescription":"TX","isForeignLocation":0,"foreignStateTerritory":null,"country":null,"countryCode":null},"business":{"street1":"1
        TESLA ROAD","street2":null,"city":"AUSTIN","stateOrCountry":"TX","zipCode":"78725","stateOrCountryDescription":"TX","isForeignLocation":null,"foreignStateTerritory":null,"country":null,"countryCode":null}},"phone":"512-516-8177","flags":"","formerNames":[{"name":"TESLA
        MOTORS INC","from":"2005-02-17T00:00:00.000Z","to":"2017-01-27T00:00:00.000Z"}],"filings":{"recent":{"accessionNumber":["0001104659-26-021746","0001950047-26-001763","0001628280-26-003952","0001628280-26-003837","0001972928-26-000001","0001104659-26-001460","0001968582-26-000010","0001628280-26-000016","0001104659-25-125703","0001104659-25-120387","0001104659-25-119764","0001968582-25-001185","0001950047-25-009970","0001104659-25-110597","0001104659-25-109266","0001104659-25-109263","0001104659-25-108602","0001104659-25-108507","0001104659-25-107871","0001104659-25-107096","0001096906-25-001748","0001096906-25-0[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/submissions/CIK0001318605-submissions-001.json
  response:
    body:
      string: '{"accessionNumber":["0000950103-18-001851","0001564590-18-001786","0001564590-18-001693","9999999997-18-000687","0001193125-18-035345","0001564590-18-001521","0001352816-18-000002","0001088875-18-000012","0001193125-18-016657","0001193125-18-016648","0001193125-18-016650","0001352816-18-000001","0001494731-18-000001","0001564590-18[...]
