interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/1766140/000121390021035033/0001213900-21-035033.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001213900-21-035033.txt : 20210630\n<SEC-HEADER>0001213900-21-035033.hdr.sgml
        : 20210630\n<ACCEPTANCE-DATETIME>20210630155604\nACCESSION NUMBER:\t\t0001213900-21-035033\nCONFORMED
        SUBMISSION TYPE:\tS-1/A\nPUBLIC DOCUMENT COUNT:\t\t19\nFILED AS OF DATE:\t\t20210630\nDATE
        AS OF CHANGE:\t\t20210630\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED
        NAME:\t\t\tUnicycive Therapeutics, Inc.\n\t\tCENTRAL INDEX KEY:\t\t\t0001766140\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tPHARMACEUTICAL PREPARATIONS [2834]\n\t\tIRS NUMBER:\t\t\t\t813638692\n\t\tSTATE
        OF INCORPORATION:\t\t\tDE\n\t\tFISCAL YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\tS-1/A\n\t\tSEC ACT:\t\t1933 Act\n\t\tSEC FILE NUMBER:\t333-256367\n\t\tFILM
        NUMBER:\t\t211061881\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\t5150 EL CAMINO
        REAL, SUITE A-32\n\t\tCITY:\t\t\tLOS ALTOS\n\t\tSTATE:\t\t\tCA\n\t\tZIP:\t\t\t94022\n\t\tBUSINESS
        PHONE:\t\t650-384-0642\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t5150 EL CAMINO
        REAL, SUITE A-32\n\t\tCITY:\t\t\tLOS ALTOS\n\t\tSTATE:\t\t\tCA\n\t\tZIP:\t\t\t94022\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>S-1/A\n<SEQUENCE>1\n<FILENAME>ea143554-s1a3_unicycivethera.htm\n<DESCRIPTION>AMENDMENT
        NO. 3 TO FORM S-1\n<TEXT>\n<HTML>\n<HEAD>\n     <TITLE></TITLE>\n</HEAD>\n<BODY
        STYLE=\"font: 10pt Times New Roman, Times, Serif\">\n\n<P STYLE=\"font: 10pt
        Times New Roman, Times, Serif; margin-top: 0; margin-bottom: 0; text-align:
        center\"> <B>As filed with the Securities\nand Exchange Commission on June
        30, 2021.</B> </P>\n\n<P STYLE=\"font: 10pt Times New Roman, Times, Serif;
        margin: 0pt 0; text-align: right; background-color: white\"></P>\n\n<P STYLE=\"font:
        10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: right; background-color:
        white\"> <B>Registration Statement\nNo. 333-256367</B> </P>\n<P STYLE=\"font:
        10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: right; background-color:
        white\"><FONT STYLE=\"font-family: Times New Roman, Times, Serif\"><B></B></FONT></P>\n\n<P
        STYLE=\"font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align:
        center; background-color: white\"></P>\n\n<!-- Field: Rule-Page --><DIV STYLE=\"margin-top:
        0; margin-bottom: 0; width: 100%\"><DIV STYLE=\"font-size: 1pt; border-top:
        Black 2pt solid; border-bottom: Black 1pt solid\"><FONT STYLE=\"font-family:
        Times New Roman, Times, Serif\">&nbsp;</FONT></DIV></DIV><!-- Field: /Rule-Page
        -->\n\n<P STYLE=\"margin: 0pt 0; font-size: 7pt; text-align: center; background-color:
        white\"><FONT STYLE=\"font-family: Times New Roman, Times, Serif\">&nbsp;</FONT></P>\n\n<P
        STYLE=\"font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align:
        center; background-color: white\"><FONT STYLE=\"font-family: Times New Roman,
        Times, Serif\"><B>UNITED\nSTATES<BR>\nSECURITIES AND EXCHANGE COMMISSION<BR>\nWASHINGTON,
        D.C. 20549</B></FONT></P>\n\n<P STYLE=\"margin: 0pt 0; font-size: 7pt; text-align:
        center; background-color: white\"><FONT STYLE=\"font-family: Times New Roman,
        Times, Serif\">&nbsp;</FONT></P>\n\n<P STYLE=\"font: 10pt Times New Roman,
        Times, Serif; margin: 0pt 0; text-align: center; background-color: white\">
        <B>Amendment No. 3\nto:</B> </P>\n<P STYLE=\"margin: 0pt 0; font-size: 7pt;
        text-align: center; background-color: white\"><FONT STYLE=\"font-family: Times
        New Roman, Times, Serif\">&nbsp;</FONT></P>\n\n<P STYLE=\"font: 10pt Times
        New Roman, Times, Serif; margin: 0pt 0; text-align: center; background-color:
        white\"><FONT STYLE=\"font-family: Times New Roman, Times, Serif\"><B>FORM\nS-1</B></FONT></P>\n\n<P
        STYLE=\"margin: 0pt 0; font-size: 7pt; text-align: center; background-color:
        white\"><FONT STYLE=\"font-family: Times New Roman, Times, Se[...]
