interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/753308/000119312525338333/0001193125-25-338333.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001193125-25-338333.txt : 20251231\n<SEC-HEADER>0001193125-25-338333.hdr.sgml
        : 20251231\n<ACCEPTANCE-DATETIME>20251231162548\nACCESSION NUMBER:\t\t0001193125-25-338333\nCONFORMED
        SUBMISSION TYPE:\t424B5\nPUBLIC DOCUMENT COUNT:\t\t14\nFILED AS OF DATE:\t\t20251231\nDATE
        AS OF CHANGE:\t\t20251231\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED
        NAME:\t\t\tNEXTERA ENERGY INC\n\t\tCENTRAL INDEX KEY:\t\t\t0000753308\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tELECTRIC SERVICES [4911]\n\t\tORGANIZATION NAME:
        \          \t01 Energy & Transportation\n\t\tEIN:\t\t\t\t592449419\n\t\tSTATE
        OF INCORPORATION:\t\t\tFL\n\t\tFISCAL YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\t424B5\n\t\tSEC ACT:\t\t1933 Act\n\t\tSEC FILE NUMBER:\t333-278184\n\t\tFILM
        NUMBER:\t\t251617706\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\t700 UNIVERSE
        BLVD\n\t\tCITY:\t\t\tJUNO BEACH\n\t\tSTATE:\t\t\tFL\n\t\tZIP:\t\t\t33408\n\t\tBUSINESS
        PHONE:\t\t561-694-4697\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\tP O BOX 14000\n\t\tCITY:\t\t\tJUNO
        BEACH\n\t\tSTATE:\t\t\tFL\n\t\tZIP:\t\t\t33408\n\n\tFORMER COMPANY:\t\n\t\tFORMER
        CONFORMED NAME:\tFPL GROUP INC\n\t\tDATE OF NAME CHANGE:\t19920703\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>424B5\n<SEQUENCE>1\n<FILENAME>d85786d424b5.htm\n<DESCRIPTION>424B5\n<TEXT>\n<HTML><HEAD>\n<TITLE>424B5</TITLE>\n</HEAD>\n
        <BODY BGCOLOR=\"WHITE\" STYLE=\"line-height:Normal\">\n<h5 align=\"left\"
        style=\"font-size:10pt;font-weight:bold\"><a href=\"#toc\">Table of Contents</a></h5>\n\n\n<Center><DIV
        STYLE=\"width:8.5in\" align=\"left\">\n <P STYLE=\"margin-top:0pt; margin-bottom:0pt;
        font-size:10pt; font-family:Times New Roman\" ALIGN=\"right\"><B>Filed Pursuant
        to Rule 424(b)(5) <BR> Registration No. 333-278184 </B></P>\n<P STYLE=\"margin-top:6pt;
        margin-bottom:0pt; font-size:10pt; font-family:Times New Roman\"><B>PROSPECTUS
        SUPPLEMENT </B></P> <P STYLE=\"margin-top:0pt; margin-bottom:0pt; font-size:10pt;
        font-family:Times New Roman\"><B>(To prospectus dated\nMarch&nbsp;22, 2024)
        </B></P> <P STYLE=\"font-size:12pt;margin-top:0pt;margin-bottom:0pt\">&nbsp;</P>
        <P STYLE=\"font-size:0pt;margin-top:0pt;margin-bottom:0pt\">&nbsp;</P> <P
        STYLE=\"margin-top:0pt;margin-bottom:0pt\">\n\n\n<IMG SRC=\"g85786g01k01.jpg\"
        ALT=\"LOGO\" STYLE=\"width:1.49603in;height:0.652in;\">\n </P> <P STYLE=\"margin-top:12pt;
        margin-bottom:0pt; font-size:24pt; font-family:Times New Roman\" ALIGN=\"center\"><B>NextEra
        Energy, Inc. </B></P>\n<P STYLE=\"margin-top:12pt; margin-bottom:0pt; font-size:16pt;
        font-family:Times New Roman\" ALIGN=\"center\"><B>Up to $4,000,000,000 </B></P>\n<P
        STYLE=\"margin-top:12pt; margin-bottom:0pt; font-size:14pt; font-family:Times
        New Roman\" ALIGN=\"center\"><B>Common Stock </B></P>\n<P STYLE=\"font-size:12pt;margin-top:0pt;margin-bottom:0pt\">&nbsp;</P><center><DIV
        STYLE=\"line-height:6.0pt;margin-top:0pt;margin-bottom:2pt;border-bottom:1.00pt
        solid #000000;width:21%\">&nbsp;</DIV></center>\n<P STYLE=\"margin-top:12pt;
        margin-bottom:0pt; text-indent:4%; font-size:10pt; font-family:Times New Roman\">This
        prospectus supplement and the accompanying prospectus relate to the offer
        and sale from time to time of shares of NextEra Energy,\nInc.&#8217;s (&#8220;NEE&#8221;)
        common stock, having an aggregate offeri[...]
