interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/1053092/000110465923069410/0001104659-23-069410.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001104659-23-069410.txt : 20230609\n<SEC-HEADER>0001104659-23-069410.hdr.sgml
        : 20230609\n<ACCEPTANCE-DATETIME>20230609080152\nACCESSION NUMBER:\t\t0001104659-23-069410\nCONFORMED
        SUBMISSION TYPE:\tF-3\nPUBLIC DOCUMENT COUNT:\t\t18\nFILED AS OF DATE:\t\t20230608\nDATE
        AS OF CHANGE:\t\t20230609\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED
        NAME:\t\t\tCREDIT SUISSE AG\n\t\tCENTRAL INDEX KEY:\t\t\t0001053092\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tSECURITY BROKERS, DEALERS & FLOTATION COMPANIES
        [6211]\n\t\tIRS NUMBER:\t\t\t\t000000000\n\t\tSTATE OF INCORPORATION:\t\t\tV8\n\t\tFISCAL
        YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM TYPE:\t\tF-3\n\t\tSEC ACT:\t\t1933
        Act\n\t\tSEC FILE NUMBER:\t333-272539\n\t\tFILM NUMBER:\t\t231003906\n\n\tBUSINESS
        ADDRESS:\t\n\t\tSTREET 1:\t\tPARADEPLATZ 8\n\t\tCITY:\t\t\tZURICH\n\t\tSTATE:\t\t\tV8\n\t\tZIP:\t\t\t8001\n\t\tBUSINESS
        PHONE:\t\t01141 44 333 1111\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\tP.O. BOX
        1\n\t\tCITY:\t\t\tZURICH\n\t\tSTATE:\t\t\tV8\n\t\tZIP:\t\t\t8070\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tCREDIT SUISSE / /FI\n\t\tDATE OF NAME
        CHANGE:\t20050607\n\n\tFORMER COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tCREDIT
        SUISSE FIRST BOSTON /                            /FI\n\t\tDATE OF NAME CHANGE:\t19980115\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>F-3\n<SEQUENCE>1\n<FILENAME>tm2317905-1_f3.htm\n<DESCRIPTION>F-3\n<TEXT>\n<html>\n
        \ <head>\n    <title>tm2317905-1_f3 - none - 5.0156488s</title>\n  </head>\n
        \ <body style=\"margin-left:auto;margin-right:auto;width:595.31pt;\">\n    <div
        style=\"page-break-after:always; width:595.3pt;margin-left:auto;margin-right:auto;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;color:#000000;font-family:Times
        New Roman, Times, serif ;font-size:8pt;\">\n      <div style=\"padding:0pt;margin:0pt;font-family:calibri,
        arial, sans-serif;font-weight:normal;font-style:normal;font-size:8pt;line-height:8pt;\">\n
        \       <a style=\"text-decoration:none;color:#003366;\" href=\"#TOC\">TABLE
        OF CONTENTS</a>\n      </div>\n      <div style=\"margin-top:27.85pt;margin-bottom:21.86pt;margin-left:27pt;width:541.31pt;\">\n
        \       <div style=\"text-align:center; width:541.31pt; line-height:8.5pt;font-weight:bold;\">\n
        \         <font style=\"letter-spacing:-0.16pt;\">As filed with the Securities
        and Exchange Commission on June&#160;8, 2023</font><font style=\"font-weight:normal;letter-spacing:0.16pt;\">
        </font>\n        </div>\n        <div style=\"margin-top:0.6pt; text-align:right;
        width:541.31pt; line-height:8.5pt;font-weight:bold;\">\n          <font style=\"letter-spacing:-0.16pt;\">Registration
        No. 333-&#8199;&#8199;&#8199;&#8199;&#8199;&#8199;</font>&#8203;</div>\n        <div
        style=\"margin-top:1.4pt; width:541.31pt;\">\n          <div style=\"margin-left:
        0pt; width: 541.31pt; margin-top: 1.4pt; font-size: 2pt; line-height: 0pt;
        border-bottom: 2pt solid #000000; \">&#8203;</div>\n        </div>\n        <div
        style=\"margin-top:1.89pt; width:541.31pt;\">\n          <div style=\"margin-left:
        0pt; width: 541.31pt; margin-top: 1.89pt; font-size: 1pt; line-height: 0pt;
        border-bottom: 1pt solid #000000; \">&#8203;</div>\n        </div>\n        <div
        style=\"margin-top:8.9pt; text-align:center; width:541.31pt; line-height:14.5pt;font-weight:bold;font-size:14pt;\">\n
        \         <font style=\"letter-spacing:-0.28pt;\">SECURITIES AND EXCHANGE
        COMMISSION</font>\n        </div>\n        <div style=\"margin-top:0.6pt;
        text-align:center; width:541.31pt; line-height:8.5pt;font-weight:bold;\">\n
        \         <font style=\"letter-spacing:-0.16pt;\">Washington, D.C. 20549</font><font
        style=\"font-weight:normal;letter-spacing:0.16pt;\"> </font>\n        </div>\n
        \       <div style=\"margin-top:3.4pt; text-align:center; width:541.31pt;\">\n
        \         <div style=\"margin-left: 40.024%; margin-right: 40.024%; margin-top:
        3.4pt; font-size: 1pt; line-height: 0pt; border-bottom: 1pt solid #000000;
        \">&#8203;</div>\n        </div>\n        <div style=\"margin-top:6.9pt; text-align:center;
        width:541.31pt; line-height:14.5pt;font-weight:bold;font-size:14pt;\">\n          <font
        style=\"letter-spacing:-0.28pt;\">FORM F-3</font>\n        </div>\n        <div
        style=\"margin-top:0.6pt; text-align:center; width:541.31pt; line-height:12pt;font-weight:bold;\">\n
        \         <font style=\"letter-spacing:-0.16pt;\">REGISTRATION STATEMENT</font>\n
        \         <br >\n          <font style=\"letter-spacing:-0.16pt;\">UNDER</font>\n
        \         <br >\n          <font style=\"letter-spacing:-0.16pt;\">THE SECURITIES
        ACT OF 1933</font><font style=\"font-weight:normal;font-size:14pt;\">&#8203;<font
        style=\"letter-spacing:0.28pt;\"> </font></font>\n        </div>\n        <div
        style=\"margin-top:5.1pt; text-align:center; width:541.31pt;\">\n          <div
        style=\"margin-left: 40.024%; margin-right: 40.024%; margin-top: 5.09999999999999pt;
        font-size: 1pt; line-height: 0pt; border-bottom: 1pt solid #000000; \">&#8203;</div>\n
        \       </div>\n        <div style=\"margin-top:6.89pt; text-align:center;
        width:541.31pt; line-height:14.5pt;font-weight:bold;font-size:14pt;\">\n          <font
        style=\"letter-spacing:-0.28pt;\">Credit Suisse AG</font>\n        </div>\n
        \       <div style=\"margin-top:0.9pt; text-align:center; width:541.31pt;
        line-height:7.5pt;font-size:7pt;\">\n          <font style=\"letter-spacing:0.14pt;\">(Exact
        Name of Registrant as Specified in Its Charter)</font><font style=\"font-size:8pt;\">&#8203;<font
        style=\"letter-spacing:0.16pt;\"> </font></font>\n        </div>\n        <table
        style=\"width:541.31pt;margin-top:4.90000000000001pt;border-collapse: collapse;font-style:normal;font-weight:bold;font-variant:normal;text-transform:none;color:#000000;font-family:Times
        New Roman, Times, serif ;font-size:8pt;\">\n          <tr style=\"line-height:9.6pt;white-space:normal;text-align:center;vertical-align:top;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;color:#000000;font-family:Times
        New Roman, Times, serif ;font-size:7pt;\">\n            <td style=\"padding:0pt;
        width:0pt;\">&#8203;</td>\n            <td style=\"padding:0pt 0pt 0.5pt 0pt;
        width:264.66pt;\">\n              <div style=\"text-align:center;font-weight:bold;font-size:8pt;\">\n
        \               <font style=\"letter-spacing:-0.16pt;\">Canton of Zurich,
        Switzerland</font>\n              </div>\n              <div style=\"margin-top:1.6pt;
        text-align:center; line-height:7pt;\">\n                <font style=\"letter-spacing:0.14pt;\">(St[...]
