interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/766704/000119312525066253/0001193125-25-066253.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001193125-25-066253.txt : 20250328\n<SEC-HEADER>0001193125-25-066253.hdr.sgml
        : 20250328\n<ACCEPTANCE-DATETIME>20250328073227\nACCESSION NUMBER:\t\t0001193125-25-066253\nCONFORMED
        SUBMISSION TYPE:\tS-3ASR\nPUBLIC DOCUMENT COUNT:\t\t32\nFILED AS OF DATE:\t\t20250328\nDATE
        AS OF CHANGE:\t\t20250328\nEFFECTIVENESS DATE:\t\t20250328\n\nFILER:\n\n\tCOMPANY
        DATA:\t\n\t\tCOMPANY CONFORMED NAME:\t\t\tWELLTOWER INC.\n\t\tCENTRAL INDEX
        KEY:\t\t\t0000766704\n\t\tSTANDARD INDUSTRIAL CLASSIFICATION:\tREAL ESTATE
        INVESTMENT TRUSTS [6798]\n\t\tORGANIZATION NAME:           \t05 Real Estate
        & Construction\n\t\tEIN:\t\t\t\t341096634\n\t\tSTATE OF INCORPORATION:\t\t\tDE\n\t\tFISCAL
        YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM TYPE:\t\tS-3ASR\n\t\tSEC
        ACT:\t\t1933 Act\n\t\tSEC FILE NUMBER:\t333-286204\n\t\tFILM NUMBER:\t\t25781492\n\n\tBUSINESS
        ADDRESS:\t\n\t\tSTREET 1:\t\t4500 DORR STREET\n\t\tCITY:\t\t\tTOLEDO\n\t\tSTATE:\t\t\tOH\n\t\tZIP:\t\t\t43615\n\t\tBUSINESS
        PHONE:\t\t419-247-2800\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t4500 DORR STREET\n\t\tCITY:\t\t\tTOLEDO\n\t\tSTATE:\t\t\tOH\n\t\tZIP:\t\t\t43615\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tHEALTH CARE REIT INC /DE/\n\t\tDATE
        OF NAME CHANGE:\t19920703\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED
        NAME:\t\t\tWelltower OP LLC\n\t\tCENTRAL INDEX KEY:\t\t\t0001917598\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tREAL ESTATE INVESTMENT TRUSTS [6798]\n\t\tORGANIZATION
        NAME:           \t05 Real Estate & Construction\n\t\tEIN:\t\t\t\t881538732\n\t\tSTATE
        OF INCORPORATION:\t\t\tDE\n\t\tFISCAL YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\tS-3ASR\n\t\tSEC ACT:\t\t1933 Act\n\t\tSEC FILE NUMBER:\t333-286204-01\n\t\tFILM
        NUMBER:\t\t25781493\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\t4500 DORR STREET\n\t\tCITY:\t\t\tTOLEDO\n\t\tSTATE:\t\t\tOH\n\t\tZIP:\t\t\t43615\n\t\tBUSINESS
        PHONE:\t\t4192472800\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t4500 DORR STREET\n\t\tCITY:\t\t\tTOLEDO\n\t\tSTATE:\t\t\tOH\n\t\tZIP:\t\t\t43615\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tWelltower OP Inc.\n\t\tDATE OF NAME
        CHANGE:\t20220329\n\n\tFORMER COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tWELL
        Merger Holdco Sub Inc.\n\t\tDATE OF NAME CHANGE:\t20220316\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>S-3ASR\n<SEQUENCE>1\n<FILENAME>d763599ds3asr.htm\n<DESCRIPTION>S-3ASR\n<TEXT>\n<HTML><HEAD>\n<TITLE>S-3ASR</TITLE>\n</HEAD>\n
        <BODY BGCOLOR=\"WHITE\" STYLE=\"line-height:Normal\">\n<h5 align=\"left\"
        style=\"font-size:10pt;font-weight:bold\"><a href=\"#toc\">Table of Contents</a></h5>\n\n\n<Center><DIV
        STYLE=\"width:8.5in\" align=\"left\">\n <P STYLE=\"margin-top:0pt; margin-bottom:0pt;
        font-size:8pt; font-family:Times New Roman\" ALIGN=\"center\"><B>As filed
        with the Securities and Exchange Commission on March&nbsp;28, 2025 </B></P>\n<P
        STYLE=\"margin-top:0pt; margin-bottom:0pt; font-size:8pt; font-family:Times
        New Roman\" ALIGN=\"right\"><B>Registration No.&nbsp;333-&#8195;&#8195;&#8195;
        </B></P> <P STYLE=\"font-size:4pt;margin-top:0pt;margin-bottom:0pt\">&nbsp;</P>\n<P
        STYLE=\"line-height:1.0pt;margin-top:0pt;margin-bottom:0pt;border-bottom:1px
        solid #000000\">&nbsp;</P> <P STYLE=\"line-height:3.0pt;margin-top:0pt;margin-bottom:2pt;border-bottom:1px
        solid #000000\">&nbsp;</P>\n<P STYLE=\"margin-top:0pt; margin-bottom:0pt;
        font-size:13pt; font-family:Times New Roman\" ALIGN=\"center\"><B>UNITED STATES
        </B></P> <P STYLE=\"margin-top:0pt; margin-bottom:0pt; font-size:13pt; font-family:Times
        New Roman\" ALIGN=\"center\"><B>SECURITIES\nAND EXCHANGE COMMISSION </B></P>
        <P STYLE=\"margin-top:0pt; margin-bottom:0pt; font-size:10pt; font-family:Times
        New Roman\" ALIGN=\"center\"><B>Washington, D.C. 20549 </B></P> <P STYLE=\"font-size:2pt;margin-top:0pt;margin-bottom:0pt\">&nbsp;</P><center>\n<P
        STYLE=\"line-height:6.0pt;margin-top:0pt;margin-bottom:2pt;border-bottom:1.00pt
        solid #000000;width:21%\">&nbsp;</P></center> <P STYLE=\"margin-top:2pt; margin-bottom:0pt;
        font-size:12pt; font-family:Times New Roman\" ALIGN=\"center\"><B>FORM S-3\n</B></P>
        <P STYLE=\"margin-top:0pt; margin-bottom:0pt; font-size:12pt; font-family:Times
        New Roman\" ALIGN=\"center\"><B>REGISTRATION STATEMENT </B></P>\n<P STYLE=\"margin-top:0pt;
        margin-bottom:0pt; font-size:10pt; font-family:Times New Roman\" ALIGN=\"center\"><B><I>UNDER
        </I></B></P> <P STYLE=\"margin-top:0pt; margin-bottom:0pt; font-size:10pt;
        font-family:Times New Roman\" ALIGN=\"center\"><B><I>THE\nSECURITIES ACT OF
        1933 </I></B></P> <P STYLE=\"font-size:2pt;margin-top:0pt;margin-bottom:0pt\">&nbsp;</P><center>
        <P STYLE=\"line-height:6.0pt;margin-top:0pt;margin-bottom:2pt;border-bottom:1.00pt
        solid #000000;width:21%\">&nbsp;</P></center>\n<P STYLE=\"margin-top:2pt;
        margin-bottom:0pt; font-size:18pt; font-family:Times New Roman\" ALIGN=\"center\"><B>WELLTOWER
        INC. </B></P> <P STYLE=\"margin-top:2pt; margin-bottom:0pt; font-size:18pt;
        font-family:Times New Roman\" ALIGN=\"center\"><B>WELLTOWER\nOP LLC </B></P>
        <P STYLE=\"margin-top:0pt; margin-bottom:0pt; font-size:8pt; font-family:Times
        New Roman\" ALIGN=\"center\"><B>(Exact name of registrant as specified in
        its charter) </B></P>\n<P STYLE=\"font-size:2pt;margin-top:0pt;margin-bottom:0pt\">&nbsp;</P><center>
        <P STYLE=\"line-height:6.0pt;margin-top:0pt;margin-bottom:2pt;border-bottom:1.00pt
        solid #000000;width:21%\">&nbsp;</P></center>\n<P STYLE=\"font-size:2pt;margin-top:0pt;margin-bottom:0pt\">&nbsp;</P>\n<TABLE
        CELLSPACING=\"0\" CELLPADDING=\"0\" WIDTH=\"100%\" BORDER=\"0\" STYLE=\"BORDER-COLLAPSE:COLLAPSE;
        font-family:Times New Roman; font-size:8pt\" ALIGN=\"center\">\n\n\n<TR>\n\n<TD
        WIDTH=\"50%\"></TD>\n\n<TD VALIGN=\"bottom\" WIDTH=\"1%\"></TD>\n<TD WIDTH=\"48%\"></TD></TR>\n\n\n<TR
        STYLE=\"page-break-inside:avoid ; font-family:Times New Roman; font-size:8pt\">\n<TD
        VALIGN=\"top\" ALIGN=\"center\"><B>Delaware</B></TD>\n<TD VALIGN=\"bottom\">&nbsp;</TD>\n<TD
        VALIGN=\"top\" ALIGN=\"center\"><B><FONT STYLE=\"white-space:nowrap\">34-1096634</FONT></B></TD></TR>\n<TR
        STYLE=\"page-break-inside:avoid ; font-family:Times New Roman; font-size:8pt\">\n<TD
        VALIGN=\"top\" ALIGN=\"center\"><B>Delaware</B></TD>\n<TD VALIGN=\"bottom\">&nbsp;</TD>\n<TD
        VALIGN=\"top\" ALIGN=\"center\"><B><FONT STYLE=\"white-space:nowrap\">88-1538732</FONT></B></TD></TR>\n<TR
        STYLE=\"page-break-inside:avoid ; font-family:Times New Roman; font-size:8pt\">\n<TD
        VALIGN=\"top\" ALIGN=\"c[...]
