interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/1875558/000000000026001655/0000000000-26-001655.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0000000000-26-001655.txt : 20260320\n<SEC-HEADER>0000000000-26-001655.hdr.sgml
        : 20260320\n<ACCEPTANCE-DATETIME>20260218133013\n<PRIVATE-TO-PUBLIC>\nACCESSION
        NUMBER:\t\t0000000000-26-001655\nCONFORMED SUBMISSION TYPE:\tUPLOAD\nPUBLIC
        DOCUMENT COUNT:\t\t2\nFILED AS OF DATE:\t\t20260218\n\nFILED FOR:\t\t\n\n\tCOMPANY
        DATA:\t\n\t\tCOMPANY CONFORMED NAME:\t\t\tNuvectis Pharma, Inc.\n\t\tCENTRAL
        INDEX KEY:\t\t\t0001875558\n\t\tSTANDARD INDUSTRIAL CLASSIFICATION:\tPHARMACEUTICAL
        PREPARATIONS [2834]\n\t\tORGANIZATION NAME:           \t03 Life Sciences\n\t\tEIN:\t\t\t\t862405608\n\t\tSTATE
        OF INCORPORATION:\t\t\tDE\n\t\tFISCAL YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\tUPLOAD\n\t\tSEC FILE NUMBER:\t333-293459\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET
        1:\t\t1 BRIDGE PLAZA, SUITE 275\n\t\tCITY:\t\t\tFORT LEE\n\t\tSTATE:\t\t\tNJ\n\t\tZIP:\t\t\t07024\n\t\tBUSINESS
        PHONE:\t\t360-837-7232\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t1 BRIDGE PLAZA,
        SUITE 275\n\t\tCITY:\t\t\tFORT LEE\n\t\tSTATE:\t\t\tNJ\n\t\tZIP:\t\t\t07024\nPUBLIC
        REFERENCE ACCESSION NUMBER:\t\t0001104659-26-015159\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>LETTER\n<SEQUENCE>1\n<FILENAME>filename1.pdf\n<TEXT>\n<PDF>\nbegin
        644 filename1\nM)5!$1BTQ+C<*)>+CS],*-2 P(&]B:@H\\/\"]&:6QT97(O1FQA=&5$96-O9&4O\nM3&5N9W1H(#<R,3X^<W1R96%M\"GB<E97;<MHP$(;O_11[V<Z
        8ED^]C('INDD\nM:0K,]%K(:U#K0Y#E4/HT>=2N;&B8I(04&,8V^G;__7<EUEZ8^N#>:<B2\".*0\nMT5<<NVM5>6?7%8?+QOOFK;WSN7<VX<
        #F!>>B))AN<^R\".:Y]V&\"\"]-)LP6>\nMCB#P@_CC_(=W-7^-QBD+B/0SQ@=RVM1PCK5M._,V$V6\"\\1ZY6&DLX.H7JL[J\nM1X2O1:$5GL*3A/E#RKON$975+=ROI*GD\"*YKQ4[0\\9\":P[G1^1+AOI2_Y0DF\nM#/?VS#IM$8(D.D$$*<L&/QMCX09Q!'=?P$_\\('Q)!CN2^TF/^GMWIOCIZ%H1\nM,)'2VH#]AQ,OZ#!-=O04E[JU1EI-/9Q9:;&B1@+=D/P*9F-Q*E2R%S+1)>;P\nM/$7BWU/TDH^2
        Q[N&@9\"B'&0B3#*CEKMF%\"$.[LN49JG@R%\\9=Y?+G,S'_HI\nMB\\.>?#IXS5=D(GUL S)_U\"W\"MNG
        KJ2%#<)*TI36C06#CQHW5*FL<]CHLCQX\nMZ@A#U\\^>.B4?X&T](@N9/U32[CMP?)8'A!P0V:L2[DN4I-M@@<;5,>U*;\"&,\nM_5YL2!N
        M$F3ZWI)5^L.6]M\"T1B02F&)@V0&WUV(2A-\"];RK@BA@2=S+Z?VR\nM*P355 ^RWO:9-:6I9\"V7PW1)XQ*T#TW=Z@4UW2EP\"*GHC%0#(W,2Z&Z:POVH\nMS;N$B)3QH;6Y;E79T#1@.W(MVFB[(GOKOG@G;&C9R
        EUJFB55/TV<'XL6JP5\nMNMR[AXMM+Y$B%,6IYG#.(GZL.:JI+<6$^98,A\\_-ACI$EM%6&4<1'PN1^.\"T\nM]AK[%E'Z]FC*W3D>1#%+AW-*DW\"#Y79T\"J&32@Q>76J:][[T
        BX:\\]#L#H2)\nMKB5%.Q6(\"Y8,]0['N MSHPN$F=+.QO:H7_W?%,_ZX\\_Q2AW=N]RG[1X?+KZ5\nMEEJR@5M9R9\\CN&K7SR[]
        82L\\@X*96YD<W1R96%M\"F5N9&]B:@HT(# @;V)J\nM\"CP\\+T-O;G1E;G1S(#4@,\"!2+TUE9&EA0F]X6S
        @,\" V,3(@-SDR72]087)E\nM;G0@,B P(%(O4F5S;W5R8V5S/#PO1F]N=#P\\+T8Q(#8@,\"!2+T8R(#<@,\"!2\nM/CXO6$]B:F5C=#P\\+TEM,2
        X(# @4CX^/CXO5')I;4)O>%LP(# @-C$R(#<Y\nM,ETO5'EP92]086=E/CX*96YD;V)J\"C$@,\"!O8FH*/#PO4&%G97,@,B
        P(%(O\nM5'EP92]#871A;&]G/CX*96YD;V)J\"C,@,\"!O8FH*/#PO075T:&]R*&AO=V5S\nM='DI+T-R96%T:6]N1&%T92A$.C(P,C8P,C$X,3,P.#$T+3
        U)S P)RDO0W)E\nM871O<BAH;W=E<W1Y*2]-;V1$871E*$0Z,C R-C R,3@Q,S X,30M,#4G,#
        G\nM*2]0<F]D=6-E<BAI5&5X=*X@0V]R92 W+C(N-\"!<*$%'4$P@=F5R<VEO;EPI\nM+\"!P9&9(5$U,(#0N,\"XT(%PH04=03\"!V97)S:6]N7\"D@J3(P,#
        M,C R,B!I\nM5&5X=\"!'<F]U<\"!.5BDO5&ET;&4H3G5V96-T:7,@4&AA<FUA+\"!);F,N(%,M\nM,R!,971T97(N<&1F*3X^\"F5N9&]B:@HW(#
        @;V)J\"CP\\+T)A<V5&;VYT+U1I\nM;65S+4)O;&0O16YC;V1I;F<O5VEN06YS:45N8V]D:6YG+U-U8G1Y<&4O5'EP\nM93$O5'EP92]&;VYT/CX*96YD;V)J\"C8@,\"!O8FH*/#PO0F%S949O;G0O5&EM\nM97,M4F]M86XO16YC;V1I;F<O5VEN06YS:45N8V]D:6YG+U-U8G1Y<&4O5'EP\nM93$O5'EP92]&;VYT/CX*96YD;V)J\"C(@,\"!O8FH*/#PO0V]U;G0@,2]+:61S\nM6S0@,\"!272]4>7!E+U!A9V5S/CX*96YD;V)J\"C@@,\"!O8FH*/#PO0FET<U!E\nM<D-O;7!O;F5N=\"
        X+T-O;&]R4W!A8V5;+T-A;%)'0B \\/\"]'86UM85LR+C(@\nM,BXR(#(N,ETO36%T<FEX6S N-#$R,SD@,\"XR,3(V-\"
        P+C Q.3,S(# N,S4W\nM-3@@,\"XW,34Q-R P+C$Q.3$Y(# N,3@P-#4@,\"XP-S(Q.\" P+CDU,#1=+U=H\nM:71E4&]I;G1;,\"XY-3
        T,R Q(#$N,#E=/CY=+T9I;'1E<B]&;&%T941E8V]D\nM92](96EG:'0@,C0W+TEN=&5N=\"]097)C97!T=6%L+TQE;F=T:\"
        R-#DT,2]3\nM36%S:R Y(# @4B]3=6)T>7!E+TEM86=E+U1Y<&4O6$]B:F5C=\"]7:61T:\" Q\nM-#(X/CYS=')E86T*>)SMG>M5XSH41M,\"+4P+:6%:H
        5:H 5:H 5:H 5:H 5:\nM\\#TK>^6L@R0KS@-FAKOW#U9P9%F6'4OZ?![+(B(B(B(B(B(B(B(B(B(B(B(B\nM(B(B(B(B(B(B(B(B(B(B(O\\V'Q\\?[^_O;V]O[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/1875558/0000000000-26-001655-index.html
  response:
    body:
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\" \"http://www.w3.org/TR/html4/loose.dtd\">\n<html
        xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n<meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\" />\n<meta http-equiv=\"Last-Modified\"
        content=\"Wed, 18 Feb 2026 18:30:13 GMT\" />\n<title>EDGAR Filing Documents
        for 0000000000-26-001655</title>\n<link  rel=\"stylesheet\" href=\"/edgar/search/global/css/bootstrap/bootstrap.min.css\"
        type=\"text/css\" />\n<link rel=\"stylesheet\" type=\"text/css\" href=\"/include/interactive2.css\"
        />\n</head>\n<body style=\"margin: 0; font-size: 16px; \">\n<!-- SEC Web Analytics
        - For information please visit: https://www.sec.gov/privacy.htm#collectedinfo
        -->\n<noscript><iframe src=\"//www.googletagmanager.com/ns.html?id=GTM-TD3BKV\"\nheight=\"0\"
        width=\"0\" style=\"display:none;visibility:hidden\"></iframe></noscript>\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\nnew
        Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\n'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);\n})(window,document,'script','dataLayer','GTM-TD3BKV');</script>\n<!--
        End SEC Web Analytics -->\n<noscript><div style=\"color:red; font-weight:bold;
        text-align:center;\">This page uses Javascript. Your browser either doesn't
        support Javascript or you have it turned off. To see this page as it is meant
        to appear please use a Javascript enabled browser.</div></noscript>\n<!--
        BEGIN BANNER -->\n<div  id=\"header\" style=\"text-align: center;\">\n   <nav
        id=\"main-navbar\" class=\"navbar navbar-expand\">\n      <ul class=\"navbar-nav\">\n
        \        <li class=\"nav-item\">\n            <a class=\"nav__sec_link\" href=\"https://www.sec.gov\">\n
        \              <img src=\"/edgar/search/images/edgar-logo-2x.png\" alt=\"\"
        style=\"height:6.25rem\">\n            </a>\n         </li>\n         <li
        class=\"nav-item\">\n            <a class=\"nav__sec_link\" href=\"https://www.sec.gov\">\n
        \              <span class=\"link-text d-inline\">SEC.gov</span>\n            </a>\n
        \        </li>\n         <li class=\"nav-item\">\n            <a class=\"nav__link\"
        href=\"//www.sec.gov/submit-filings/about-edgar\" id=\"edgar-short-form\"><span
        class=\"link-text\">EDGAR</span></a>\n         </li>\n      </ul>\n\n      <ul
        class=\"navbar-nav ml-auto\">\n         <li class=\"nav-item\">\n\t\t\t<a
        href=\"/cgi-bin/browse-edgar?action=getcurrent\" class=\"nav__link\">Latest
        Filings</a> \n         </li>\n         <li class=\"nav-item\">\n            <a
        href=\"https://www.sec.gov/edgar/search-and-access\" class=\"nav__link\">Filings
        search tools</a>\n         </li>\n      </ul>\n   </nav>\n   <div style=\"position:
        absolute;width: 100%;\"> <h1 style=\"position: relative;top: -60px;\">Filing
        Detail</h1></div>\n</div>\n<!-- END BANNER -->\n\n\n<!-- BEGIN BREADCRUMBS
        -->\n<div id=\"breadCrumbs\">\n   <ul>\n      <li><a href=\"/index.htm\">SEC
        Home</a> &#187;</li>\n      <li><a href=\"/edgar/searchedgar/companysearch.html\">Company
        Search</a> &#187;</li>\n      <li class=\"last\">Current Page</li>\n   </ul>\n</div>\n<!--
        END BREADCRUMBS -->\n\n<div id=\"contentDiv\">\n<!-- START FILING DIV -->\n<div
        class=\"formDiv\">\n   <div id=\"formHeader\">\n      <div id=\"formName\">\n
        \        <strong>Form UPLOAD</strong> - SEC-generated letter: \n      </div>\n
        \     <div id=\"secNum\">\n         <strong><acronym title=\"Securities and
        Exchange Commission\">SEC</acronym> Accession <acronym title=\"Number\">No.</acronym></strong>
        0000000000-26-001655\n      </div>\n   </div>\n   <div class=\"formContent\">\n
        \  \n      <div class=\"formGrouping\">\n         <div class=\"infoHead\">Filing
        Date</div>\n         <div class=\"info\">2026-02-18</div>\n         <div class=\"infoHead\">Accepted</div>\n
        \        <div class=\"info\">2026-02-18 13:30:13</div>\n         <div class=\"infoHead\">Documents</div>\n
        \        <div class=\"info\">2</div>\n      </div>\n      <div style=\"clear:both\"></div>\n<!--
        END FILING DIV -->\n<!-- START DOCUMENT DIV -->\n  </div>\n    </div>\n<div
        class=\"formDiv\">\n   <div style=\"padding: 0px 0px 4px 0px; font-size: 12px;
        margin: 0px 2px 0px 5px; width: 100%; overflow:hidden\">\n      <p>Document
        Format Files</p>\n      <table class=\"tableFile\" summary=\"Document Format
        Files\">\n         <tr>\n            <th scope=\"col\" style=\"width: 5%;\"><acronym
        title=\"Sequence Number\">Seq</acronym></th>\n            <th scope=\"col\"
        style=\"width: 40%;\">Description</th>\n            <th scope=\"col\" style=\"width:
        20%;\">Document</th>\n            <th scope=\"col\" style=\"width: 10%;\">Type</th>\n
        \           <th scope=\"col\">Size</th>\n         </tr>\n         <tr>\n            <td
        scope=\"row\">1</td>\n            <td scope=\"row\"></td>\n            <td
        scope=\"row\"><a href=\"/Archives/edgar/data/1875558/000000000026001655/filename1.pdf\">filename1.pdf</a></td>\n
        \           <td scope=\"row\">LETTER</td>\n            <td scope=\"row\">27681</td>\n
        \        </tr>\n         <tr class=\"evenRow\">\n            <td scope=\"row\">2</td>\n
        \           <td scope=\"row\"></td>\n            <td scope=\"row\"><a href=\"/Archives/edgar/data/1875558/000000000026001655/filename2.txt\">fil[...]
