interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/submissions/CIK0001771340.json
  response:
    body:
      string: '{"cik":"0001771340","entityType":"other","sic":"","sicDescription":"","ownerOrg":"","insiderTransactionForOwnerExists":1,"insiderTransactionForIssuerExists":0,"name":"Taneja
        Vaibhav","tickers":[],"exchanges":[],"ein":null,"lei":null,"description":"","website":"","investorWebsite":"","category":"","fiscalYearEnd":null,"stateOfIncorporation":"","stateOfIncorporationDescription":"","addresses":{"mailing":{"street1":"1
        TESLA ROAD","street2":null,"city":"AUSTIN","stateOrCountry":"TX","zipCode":"78725","stateOrCountryDescription":"TX","isForeignLocation":0,"foreignStateTerritory":null,"country":null,"countryCode":null},"business":{"street1":null,"street2":null,"city":null,"stateOrCountry":null,"zipCode":null,"stateOrCountryDescription":null,"isForeignLocation":null,"foreignStateTerritory":null,"country":null,"countryCode":null}},"phone":null,"flags":"","formerNames":[],"filings":{"recent":{"accessionNumber":["0001104659-25-119764","0001950047-25-009970","0001104659-25-088703","0001950047-25-006832","0001104659-25-066775","0001950047-25-004908","0001950047-25-004884","0001104659-25-057932","0001950047-25-004049","0001104659-25-056561","0001950047-25-003760","0001950047-25-003692","0001771340-25-000009","0001950047-25-003129","0001771340-25-000008","0001950047-25-002839","0001771340-25-000007","0001950047-25-002678","0001771340-25-000005","0001950047-25-002401","0001771340-25-000003","0001950047-25-0[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/submissions/CIK0001800903.json
  response:
    body:
      string: '{"cik":"0001800903","entityType":"other","sic":"","sicDescription":"","ownerOrg":null,"insiderTransactionForOwnerExists":0,"insiderTransactionForIssuerExists":0,"name":"&VEST
        Domestic Fund II LP","tickers":[],"exchanges":[],"ein":"000000000","lei":null,"description":"","website":"","investorWebsite":"","category":"","fiscalYearEnd":"1231","stateOfIncorporation":"DE","stateOfIncorporationDescription":"DE","addresses":{"mailing":{"street1":"3
        MINETTA STREET","street2":null,"city":"NEW YORK","stateOrCountry":"NY","zipCode":"10012","stateOrCountryDescription":"NY","isForeignLocation":null,"foreignStateTerritory":null,"country":null,"countryCode":null},"business":{"street1":"3
        MINETTA STREET","street2":null,"city":"NEW YORK","stateOrCountry":"NY","zipCode":"10012","stateOrCountryDescription":"NY","isForeignLocation":null,"foreignStateTerritory":null,"country":null,"countryCode":null}},"phone":"201-956-1969","flags":"","formerNames":[],"filings":{"recent":{"accessionNumber":["0001800903-20-000001"],"filingDate":["2020-01-27"],"reportDate":[""],"acceptanceDateTime":["2020-01-27T13:45:37.000Z"],"act":["33"],"form":["D"],"fileNumber":["021-359000"],"filmNumber":["20548646"],"items":["06b,3C,3C.7"],"core_type":["D"],"size":[6237],"isXBRL":[0],"isInlineXBRL":[0],"primaryDocument":["xslFormDX01/primary_doc.xml"],"primaryDocDescription":[""]},"files":[]}}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - Zv0H2HvuIAMEnyg=
      x-amzn-requestid:
      - cc7acd49-3872-4bb1-b580-5102df17d631
    status:
      code: 200
      message: null
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/submissions/CIK0001718179.json
  response:
    body:
      string: '{"cik":"0001718179","entityType":"other","sic":"","sicDescription":"","ownerOrg":"","insiderTransactionForOwnerExists":1,"insiderTransactionForIssuerExists":0,"name":"Sievert
        Stephanie A","tickers":[],"exchanges":[],"ein":null,"lei":null,"description":"","website":"","investorWebsite":"","category":"","fiscalYearEnd":null,"stateOfIncorporation":"","stateOfIncorporationDescription":"","addresses":{"mailing":{"street1":"1200
        WEST CENTURY AVENUE","street2":null,"city":"BISMARCK","stateOrCountry":"ND","zipCode":"58503","stateOrCountryDescription":"ND","isForeignLocation":0,"foreignStateTerritory":null,"country":null,"countryCode":null},"business":{"street1":null,"street2":null,"city":null,"stateOrCountry":null,"zipCode":null,"stateOrCountryDescription":null,"isForeignLocation":null,"foreignStateTerritory":null,"country":null,"countryCode":null}},"phone":null,"flags":"","formerNames":[{"name":"Barth
        Stephanie A","from":"2017-10-02T04:00:00.000Z","to":"2023-06-01T04:00:00.000Z"}],"filings":{"recent":{"accessionNumber":["0001225208-26-002188","0001225208-25-001759","0001225208-24-002327","0001225208-23-006383","0001225208-23-002404","0001225208-22-003579","0001225208-22-002960","0001225208-21-002553","0001225208-20-007882","0001225208-20-002583","0001127602-18-011365","0001127602-17-028578"],"filingDate":["2026-02-19","2025-02-14","2024-02-16","2023-06-01","2023-02-21","2022-02-28","2022-02-22","2021-02-16","2020-05-18","2020-02-18","2018-03-1[...]
[...]
