interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/1819796/000121390025058997/0001213900-25-058997.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001213900-25-058997.txt : 20250627\n<SEC-HEADER>0001213900-25-058997.hdr.sgml
        : 20250627\n<ACCEPTANCE-DATETIME>20250627160205\nACCESSION NUMBER:\t\t0001213900-25-058997\nCONFORMED
        SUBMISSION TYPE:\tS-3\nPUBLIC DOCUMENT COUNT:\t\t9\nFILED AS OF DATE:\t\t20250627\nDATE
        AS OF CHANGE:\t\t20250627\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED
        NAME:\t\t\tGCM Grosvenor Inc.\n\t\tCENTRAL INDEX KEY:\t\t\t0001819796\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tINVESTMENT ADVICE [6282]\n\t\tORGANIZATION NAME:
        \          \t02 Finance\n\t\tEIN:\t\t\t\t000000000\n\t\tSTATE OF INCORPORATION:\t\t\tDE\n\t\tFISCAL
        YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM TYPE:\t\tS-3\n\t\tSEC ACT:\t\t1933
        Act\n\t\tSEC FILE NUMBER:\t333-288378\n\t\tFILM NUMBER:\t\t251086176\n\n\tBUSINESS
        ADDRESS:\t\n\t\tSTREET 1:\t\t900 NORTH MICHIGAN AVENUE\n\t\tSTREET 2:\t\tSUITE
        1100\n\t\tCITY:\t\t\tCHICAGO\n\t\tSTATE:\t\t\tIL\n\t\tZIP:\t\t\t60611\n\t\tBUSINESS
        PHONE:\t\t312-506-6500\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t900 NORTH MICHIGAN
        AVENUE\n\t\tSTREET 2:\t\tSUITE 1100\n\t\tCITY:\t\t\tCHICAGO\n\t\tSTATE:\t\t\tIL\n\t\tZIP:\t\t\t60611\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>S-3\n<SEQUENCE>1\n<FILENAME>ea0243561-s3_gcmgrosvenor.htm\n<DESCRIPTION>REGISTRATION
        STATEMENT\n<TEXT>\n<HTML>\n<HEAD>\n     <TITLE></TITLE>\n</HEAD>\n<BODY STYLE=\"font:
        10pt Times New Roman, Times, Serif\">\n\n<P STYLE=\"font: 10pt Times New Roman,
        Times, Serif; margin: 0pt 0; text-align: center\"><B>As filed with the Securities
        and Exchange Commission\non June 27, 2025</B></P>\n<P STYLE=\"font: 10pt Times
        New Roman, Times, Serif; margin: 0pt 0; text-align: center\"></P>\n\n<P STYLE=\"font:
        10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: right\"><B>Registration
        No.&nbsp;333-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</B></P>\n\n<P
        STYLE=\"font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align:
        center\"><B></B></P>\n\n<!-- Field: Rule-Page --><DIV STYLE=\"margin-top:
        0pt; margin-bottom: 0pt; width: 100%\"><DIV STYLE=\"font-size: 1pt; border-top:
        Black 2pt solid; border-bottom: Black 1pt solid\">&nbsp;</DIV></DIV><!-- Field:
        /Rule-Page -->\n\n<P STYLE=\"font: 10pt Times New Roman, Times, Serif; margin:
        0pt 0; text-align: center\"><B>&nbsp;</B></P>\n\n<P STYLE=\"font: 10pt Times
        New Roman, Times, Serif; margin: 0pt 0; text-align: center\"><FONT STYLE=\"font-size:
        12pt\"><B>UNITED STATES</B></FONT></P>\n\n<P STYLE=\"font: 10pt Times New
        Roman, Times, Serif; margin: 0pt 0; text-align: center\"><FONT STYLE=\"font-size:
        12pt\"><B>SECURITIES AND\nEXCHANGE COMMISSION</B></FONT></P>\n\n<P STYLE=\"font:
        10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: center\"><FONT
        STYLE=\"font-size: 12pt\"><B>Washington, D.C.\n20549</B></FONT></P>\n\n<P
        STYLE=\"font: 10pt Times New Roman, Times, S[...]
