interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/81443/000141036826010921/0001410368-26-010921.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001410368-26-010921.txt : 20260212\n<SEC-HEADER>0001410368-26-010921.hdr.sgml
        : 20260212\n<ACCEPTANCE-DATETIME>20260212111240\nACCESSION NUMBER:\t\t0001410368-26-010921\nCONFORMED
        SUBMISSION TYPE:\tN-CEN\nPUBLIC DOCUMENT COUNT:\t\t2\nCONFORMED PERIOD OF
        REPORT:\t20251130\nFILED AS OF DATE:\t\t20260212\nDATE AS OF CHANGE:\t\t20260212\nEFFECTIVENESS
        DATE:\t\t20260212\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED NAME:\t\t\tAB
        CAP FUND, INC.\n\t\tCENTRAL INDEX KEY:\t\t\t0000081443\n\t\tORGANIZATION NAME:
        \          \t\n\t\tEIN:\t\t\t\t132625045\n\t\tSTATE OF INCORPORATION:\t\t\tDE\n\t\tFISCAL
        YEAR END:\t\t\t0731\n\n\tFILING VALUES:\n\t\tFORM TYPE:\t\tN-CEN\n\t\tSEC
        ACT:\t\t1940 Act\n\t\tSEC FILE NUMBER:\t811-01716\n\t\tFILM NUMBER:\t\t26624245\n\n\tBUSINESS
        ADDRESS:\t\n\t\tSTREET 1:\t\tALLIANCEBERNSTEIN LP\n\t\tSTREET 2:\t\t66 HUDSON
        BOULEVARD EAST, 26TH FLOOR\n\t\tCITY:\t\t\tNEW YORK\n\t\tSTATE:\t\t\tNY\n\t\tZIP:\t\t\t10001\n\t\tBUSINESS
        PHONE:\t\t2129691000\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\tALLIANCEBERNSTEIN
        LP\n\t\tSTREET 2:\t\t66 HUDSON BOULEVARD EAST, 26TH FLOOR\n\t\tCITY:\t\t\tNEW
        YORK\n\t\tSTATE:\t\t\tNY\n\t\tZIP:\t\t\t10001\n\n\tFORMER COMPANY:\t\n\t\tFORMER
        CONFORMED NAME:\tALLIANCEBERNSTEIN CAP FUND, INC.\n\t\tDATE OF NAME CHANGE:\t20110524\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tALLIANCEBERNSTEIN CAP FUND,INC\n\t\tDATE
        OF NAME CHANGE:\t20040908\n\n\tFORMER COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tALLIANCEBERNSTEIN
        SMALL CAP GROWTH FUND INC\n\t\tDATE OF NAME CHANGE:\t19931001\n<SERIES-AND-CLASSES-CONTRACTS-DATA>\n<EXISTING-SERIES-AND-CLASSES-CONTRACTS>\n<SERIES>\n<OWNER-CIK>0000081443\n<SERIES-ID>S000045542\n<SERIES-NAME>AB
        Small Cap Value Portfolio\n<CLASS-CONTRACT>\n<CLASS-CONTRACT-ID>C000141790\n<CLASS-CONTRACT-NAME>Class
        A\n<CLASS-CONTRACT-TICKER-SYMBOL>SCAVX\n</CLASS-CONTRACT>\n<CLASS-CONTRACT>\n<CLASS-CONTRACT-ID>C000141791\n<CLASS-CONTRACT-NAME>Class
        C\n<CLASS-CONTRACT-TICKER-SYMBOL>SCCVX\n</CLASS-CONTRACT>\n<CLASS-CONTRACT>\n<CLASS-CONTRACT-ID>C000141795\n<CLASS-CONTRACT-NAME>Advisor
        Class\n<CLASS-CONTRACT-TICKER-SYMBOL>SCYVX\n</CLASS-CONTRACT>\n</SERIES>\n<SERIES>\n<OWNER-CIK>0000081443\n<SERIES-ID>S000062452\n<SERIES-NAME>AB
        All China Equity Portfolio\n<CLASS-CONTRACT>\n<CLASS-CONTRACT-ID>C000202616\n<CLASS-CONTRACT-NAME>Advisor
        Class\n<CLASS-CONTRACT-TICKER-SYMBOL>ACEYX\n</CLASS-CONTRACT>\n<CLASS-CONTRACT>\n<CLASS-CONTRACT-ID>C000202617\n<CLASS-CONTRACT-NAME>Class
        A\n<CLASS-CONTRACT-TICKER-SYMBOL>ACEAX\n</CLASS-CONTRACT>\n</SERIES>\n<SERIES>\n<OWNER-CIK>0000081443\n<SERIES-ID>S000084745\n<SERIES-NAME>AB
        Mid Cap Value Portfolio\n<CLASS-CONTRACT>\n<CLASS-CONTRACT-ID>C000249214\n<CLASS-CONTRACT-NAME>Class
        Z\n<CLASS-CONTRACT-TICKER-SYMBOL>ABMVX\n</CLASS-CONTRACT>\n</SERIES>\n</EXISTING-SERIES-AND-CLASSES-CONTRACTS>\n</SERIES-AND-CLASSES-CONTRACTS-DATA>\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>N-CEN\n<SEQUENCE>1\n<FILENAME>primary_doc.xml\n<TEXT>\n<XML>\n<?xml
        version=\"1.0\" encoding=\"UTF-8\"?>\n<edgarSubmission xmlns=\"http://www.sec.gov/edgar/ncen\"
        xmlns:com=\"http://www.sec.gov/edgar/common\">\n  <schemaVersion>X0505</schemaVersion>\n
        \ <headerData>\n    <submissionType>N-CEN</submissionType>\n    <filerInfo>\n
        \     <liveTestFlag>LIVE</liveTestFlag>\n      <filer>\n        <issuerCredentials>\n
        \         <cik>0000081443</cik>\n          <ccc>XXXXXXXX</ccc>\n        </issuerCredentials>\n
        \       <fileNumber>811-01716</fileNumber>\n      </filer>\n      <flags>\n
        \       <overrideInternetFlag>false</overrideInternetFlag>\n        <confirmingCopyFlag>false</confirmingCopyFlag>\n
        \     </flags>\n      <investmentCompanyType>N-1A</investmentCompanyType>\n
        \   </filerInfo>\n    <seriesClass>\n      <reportSeriesClass>\n        <rptSeriesClassInfo>\n
        \         <seriesId>S000045542</seriesId>\n          <classInfo>\n            <classId>C000141795</classId>\n
        \         </classInfo>\n          <classInfo>\n            <classId>C000141790</classId>\n
        \         </classInfo>\n          <classInfo>\n            <classId>C000141791</classId>\n
        \         </classInfo>\n        </rptSeriesClassInfo>\n        <rptSeriesClassInfo>\n
        \         <seriesId>S000062452</seriesId>\n          <classInfo>\n            <classId>C000202617</classId>\n
        \         </classInfo>\n          <classInfo>\n            <classId>C000202616</classId>\n
        \         </classInfo>\n        </rptSeriesClassInfo>\n        <rptSeriesClassInfo>\n
        \         <seriesId>S000084745</seriesId>\n          <classInfo>\n            <classId>C000249214</classId>\n
        \         </classInfo>\n        </rptSeriesClassInfo>\n      </reportSeriesClass>\n
        \   </seriesClass>\n  </headerData>\n  <formData>\n    <generalInfo reportEndingPeriod=\"2025-11-30\"
        isReportPeriodLt12=\"N\"/>\n    <registrantInfo>\n      <registrantFullName>AB
        CAP FUND, INC.</registrantFullName>\n      <investmentCompFileNo>811-01716</investmentCompFileNo>\n
        \     <registrantCik>0000081443</registrantCik>\n      <registrantLei>549300I24E20QB4B6Y20</registrantLei>\n
        \     <registrantstreet1>ALLIANCEBERNSTEIN LP</registrantstreet1>\n      <registrantstreet2>66
        Hudson Boulevard East</registrantstreet2>\n      <registrantcity>NEW YORK</registrantcity>\n
        \     <registrantzipCode>10001</registrantzipCode>\n      <registrantstate>US-NY</registrantstate>\n
        \     <registrantcountry>US</registrantcountry>\n      <registrantphoneNumber>212-969-1000</registrantphoneNumber>\n
        \     <websites>\n        <website webpage=\"www.abfunds.com\"/>\n      </websites>\n
        \     <locationBooksRecords>\n        <locationBooksRecord>\n          <officeName>Brown
        Brothers Harriman &amp; Co.</officeName>\n          <officeAddress1>50 Post
        Office Square</officeAddress1>\n          <officeCity>Boston</officeCity>\n
        \         <officeStateCountry officeCountry=\"US\" officeState=\"US-MA\"/>\n
        \         <officeRecordsZipCode>02110</officeRecordsZipCode>\n          <officePhone>617-772-1818</officePhone>\n
        \         <booksRecordsDesc>Custody and Accounting Records</booksRecordsDesc>\n
        \       </locationBooksRecord>\n        <locationBooksRecord>\n          <officeName>State
        Street Bank and Trust Company</officeName>\n          <officeAddress1>1 Congress
        Street</officeAddress1>\n          <officeAddress2>Suite 1</officeAddress2>\n
        \         <officeCity>Boston</officeCity>\n          <officeStateCountry officeCountry=\"US\"
        officeState=\"US-MA\"/>\n          <officeRecordsZipCode>02114</officeRecordsZipCode>\n
        \         <officePhone>617-786-3000</officePhone>\n          <booksRecordsDesc>Custody
        and Accounting Records</booksRecordsDesc>\n        </locationBooksRecord>\n
        \     </locationBooksRecords>\n      <isRegistrantFirstFiling>N</isRegistrantFirstFiling>\n
        \     <isRegistrantLastFiling>N</isRegistrantLastFiling>\n      <registrantFamilyInvComp
        isRegistrantFamilyInvComp=\"Y\" familyInvCompFullName=\"ALLIANCEBE\"/>\n      <registrantClassificationType>N-1A</registrantClassificationType>\n
        \     <totalSeries>11</totalSeries>\n      <isSecuritiesActRegistration>Y</isSecuritiesActRegistration>\n
        \     <directors>\n        <director>\n          <directorName>Alexander Chaloff</directorName>\n
        \         <crdNumber>005019996</crdNumber>\n          <isDirectorInterestedPerson>Y</isDirectorInterestedPerson>\n
        \         <fileNumbers>\n            <fileNumberInfo fileNumber=\"811-00126\"/>\n
        \           <fileNumberInfo fileNumber=\"811-00134\"/>\n            <fileNumberInfo
        fileNumber=\"811-00204\"/>\n            <fileNumberInfo fileNumber=\"811-02383\"/>\n
        \           <fileNumberInfo fileNumber=\"811-03131\"/>\n            <fileNumberInfo
        fileNumber=\"811-04791\"/>\n            <fileNumberInfo fileNumber=\"811-05088\"/>\n
        \           <fileNumberInfo fileNumber=\"811-05398\"/>\n            <fileNumberInfo
        f[...]
