interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/1108205/000110820525000026/0001108205-25-000026.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001108205-25-000026.txt : 20250331\n<SEC-HEADER>0001108205-25-000026.hdr.sgml
        : 20250331\n<ACCEPTANCE-DATETIME>20250331061215\nACCESSION NUMBER:\t\t0001108205-25-000026\nCONFORMED
        SUBMISSION TYPE:\t424B5\nPUBLIC DOCUMENT COUNT:\t\t9\nFILED AS OF DATE:\t\t20250331\nDATE
        AS OF CHANGE:\t\t20250331\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED
        NAME:\t\t\tCURIS INC\n\t\tCENTRAL INDEX KEY:\t\t\t0001108205\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tBIOLOGICAL PRODUCTS (NO DIAGNOSTIC SUBSTANCES)
        [2836]\n\t\tORGANIZATION NAME:           \t03 Life Sciences\n\t\tEIN:\t\t\t\t043505116\n\t\tSTATE
        OF INCORPORATION:\t\t\tDE\n\t\tFISCAL YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\t424B5\n\t\tSEC ACT:\t\t1933 Act\n\t\tSEC FILE NUMBER:\t333-276950\n\t\tFILM
        NUMBER:\t\t25788635\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\t128 SPRING
        STREET\n\t\tSTREET 2:\t\tBUILDING C, SUITE 500\n\t\tCITY:\t\t\tLEXINGTON\n\t\tSTATE:\t\t\tMA\n\t\tZIP:\t\t\t02421\n\t\tBUSINESS
        PHONE:\t\t617-503-6500\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t128 SPRING STREET\n\t\tSTREET
        2:\t\tBUILDING C, SUITE 500\n\t\tCITY:\t\t\tLEXINGTON\n\t\tSTATE:\t\t\tMA\n\t\tZIP:\t\t\t02421\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>424B5\n<SEQUENCE>1\n<FILENAME>march282025prospectussuppl.htm\n<DESCRIPTION>424B5\n<TEXT>\n<html><head>\n<!--
        Document created using Wdesk -->\n<!-- Copyright 2025 Workiva -->\n<title>Document</title></head><body><div
        id=\"i266e9e99ed494798b2d0e136dc697093_1\"></div><div style=\"min-height:69.12pt;width:100%\"><div><font><br></font></div></div><div
        style=\"margin-top:0.05pt;padding-left:396pt;padding-right:8pt;text-align:right;text-indent:-10.45pt\"><font
        style=\"color:#000000;font-family:'Times New Roman',sans-serif;font-size:8pt;font-weight:700;line-height:124%\">Filed
        pursuant to Rule 424(b)(5) </font></div><div style=\"margin-top:0.05pt;padding-left:407.9pt;padding-right:8pt;text-align:right;text-indent:-10.45pt\"><font
        style=\"color:#000000;font-family:'Times New Roman',sans-seri[...]
