interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/submissions/CIK0001324424.json
  response:
    body:
      string: '{"cik":"0001324424","entityType":"operating","sic":"4700","sicDescription":"Transportation
        Services","ownerOrg":"01 Energy & Transportation","insiderTransactionForOwnerExists":1,"insiderTransactionForIssuerExists":1,"name":"Expedia
        Group, Inc.","tickers":["EXPE"],"exchanges":["Nasdaq"],"ein":"202705720","lei":null,"description":"","website":"","investorWebsite":"","category":"Large
        accelerated filer","fiscalYearEnd":"1231","stateOfIncorporation":"DE","stateOfIncorporationDescription":"DE","addresses":{"mailing":{"street1":"1111
        EXPEDIA GROUP WAY W.","street2":null,"city":"SEATTLE","stateOrCountry":"WA","zipCode":"98119","stateOrCountryDescription":"WA","isForeignLocation":0,"foreignStateTerritory":null,"country":null,"countryCode":null},"business":{"street1":"1111
        EXPEDIA GROUP WAY W.","street2":null,"city":"SEATTLE","stateOrCountry":"WA","zipCode":"98119","stateOrCountryDescription":"WA","isForeignLocation":null,"foreignStateTerritory":null,"country":null,"countryCode":null}},"phone":"(206)
        481-7200","flags":"","formerNames":[{"name":"Expedia, Inc.","from":"2005-04-25T00:00:00.000Z","to":"2018-03-20T00:00:00.000Z"}],"filings":{"recent":{"accessionNumber":["0001628280-26-014565","0001225208-26-002145","0001225208-26-002144","0001225208-26-002143","0001225208-26-002142","0001225208-26-002141","0001225208-26-002140","0001324424-26-000008","0001324424-26-000005","0001225208-26-000649","0001225208-26-000162","0001225208-26-000161","0001225208-26-000160","0001225208-26-000159","0001225208-25-010102","0001225208-25-009587","0001950047-25-009576","0001225208-25-009470","0001225208-25-009469","0001950047-25-009337","0001225208-25-009408","0001950047-25-0[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/submissions/CIK0001324424-submissions-001.json
  response:
    body:
      string: '{"accessionNumber":["0001225208-16-029557","0001193125-16-498632","0001225208-16-029130","0001225208-16-028639","0001225208-16-028638","0001225208-16-028637","0001225208-16-028636","0001193125-16-482036","0001193125-16-482016","0001225208-16-027155","0001225208-16-026646","0001422849-16-000600","0001193125-16-460052","0001193125-16[...]
