interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/submissions/CIK0000789019.json
  response:
    body:
      string: '{"cik":"0000789019","entityType":"operating","sic":"7372","sicDescription":"Services-Prepackaged
        Software","ownerOrg":"06 Technology","insiderTransactionForOwnerExists":1,"insiderTransactionForIssuerExists":1,"name":"MICROSOFT
        CORP","tickers":["MSFT"],"exchanges":["Nasdaq"],"ein":"911144442","lei":null,"description":"","website":"","investorWebsite":"","category":"Large
        accelerated filer","fiscalYearEnd":"0630","stateOfIncorporation":"WA","stateOfIncorporationDescription":"WA","addresses":{"mailing":{"street1":"ONE
        MICROSOFT WAY","street2":null,"city":"REDMOND","stateOrCountry":"WA","zipCode":"98052-6399","stateOrCountryDescription":"WA","isForeignLocation":0,"foreignStateTerritory":null,"country":null,"countryCode":null},"business":{"street1":"ONE
        MICROSOFT WAY","street2":null,"city":"REDMOND","stateOrCountry":"WA","zipCode":"98052-6399","stateOrCountryDescription":"WA","isForeignLocation":null,"foreignStateTerritory":null,"country":null,"countryCode":null}},"phone":"425-882-8080","flags":"","formerNames":[],"filings":{"recent":{"accessionNumber":["0001193125-26-027232","0001193125-26-027207","0001193125-26-027198","0000789019-26-000002","0001193125-25-337096","0001193125-25-337091","0001193125-25-337081","0001193125-25-337056","0000789019-25-000133","0000789019-25-000132","0000789019-25-000129","0000789019-25-000128","0000789019-25-000127","0000789019-25-000126","0000789019-25-000125","0000789019-25-000124","0000789019-25-000123","0000789019-25-000122","0000789019-25-000121","0000789019-25-000120","0000789019-25-000110","0001193125-25-3[...]
