interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/893739/000089373920000019/0000893739-20-000019.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0000893739-20-000019.txt : 20200325\n<SEC-HEADER>0000893739-20-000019.hdr.sgml
        : 20200325\n<ACCEPTANCE-DATETIME>20200325160255\nACCESSION NUMBER:\t\t0000893739-20-000019\nCONFORMED
        SUBMISSION TYPE:\tDEF 14A\nPUBLIC DOCUMENT COUNT:\t\t7\nCONFORMED PERIOD OF
        REPORT:\t20200514\nFILED AS OF DATE:\t\t20200325\nDATE AS OF CHANGE:\t\t20200325\nEFFECTIVENESS
        DATE:\t\t20200325\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED NAME:\t\t\t180
        DEGREE CAPITAL CORP. /NY/\n\t\tCENTRAL INDEX KEY:\t\t\t0000893739\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tINVESTORS, NEC [6799]\n\t\tIRS NUMBER:\t\t\t\t133119827\n\t\tSTATE
        OF INCORPORATION:\t\t\tNY\n\t\tFISCAL YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\tDEF 14A\n\t\tSEC ACT:\t\t1934 Act\n\t\tSEC FILE NUMBER:\t811-07074\n\t\tFILM
        NUMBER:\t\t20742205\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\t7 N. WILLOW
        STREET\n\t\tSTREET 2:\t\tSUITE 4B\n\t\tCITY:\t\t\tMONTCLAIR\n\t\tSTATE:\t\t\tNJ\n\t\tZIP:\t\t\t07042\n\t\tBUSINESS
        PHONE:\t\t973-746-4500\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t7 N. WILLOW
        STREET\n\t\tSTREET 2:\t\tSUITE 4B\n\t\tCITY:\t\t\tMONTCLAIR\n\t\tSTATE:\t\t\tNJ\n\t\tZIP:\t\t\t07042\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tHARRIS & HARRIS GROUP INC /NY/\n\t\tDATE
        OF NAME CHANGE:\t19930714\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>DEF 14A\n<SEQUENCE>1\n<FILENAME>annualmeetingproxy2020-doc.htm\n<DESCRIPTION>DEF
        14A\n<TEXT>\n<!DOCTYPE html PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\"
        \"http://www.w3.org/TR/html4/loose.dtd\"><html><head>\n<!-- Document created
        using Wdesk -->\n<!-- Copyright 2020 Workiva -->\n<title>Document</title></head><body><div
        id=\"i39c6f312929f4b2fadb34d0be1cde9bb_1\"></div><div style=\"height:58.5pt;width:100%;\"><div><font><br></font></div></div><div
        style=\"text-align:center;\"><font style=\"background-color:rgb(255,255,255,
        0.0);color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:700;line-height:120%;\">UNITED
        STATES</font></div><div style=\"text-align:center;\"><font style=\"background-color:rgb(255,255,255,
        0.0);color:#000000;font-family:'Times New Roman',sans-serif;font-size:10pt;font-weight:700;line-height:120%;\">SECURITIES
        AND EXCHANGE COMMI[...]
