interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/1796129/000119312525068723/0001193125-25-068723.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001193125-25-068723.txt : 20250331\n<SEC-HEADER>0001193125-25-068723.hdr.sgml
        : 20250331\n<ACCEPTANCE-DATETIME>20250331160205\nACCESSION NUMBER:\t\t0001193125-25-068723\nCONFORMED
        SUBMISSION TYPE:\tS-3/A\nPUBLIC DOCUMENT COUNT:\t\t2\nFILED AS OF DATE:\t\t20250331\nDATE
        AS OF CHANGE:\t\t20250331\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED
        NAME:\t\t\tVincerx Pharma, Inc.\n\t\tCENTRAL INDEX KEY:\t\t\t0001796129\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tPHARMACEUTICAL PREPARATIONS [2834]\n\t\tORGANIZATION
        NAME:           \t03 Life Sciences\n\t\tEIN:\t\t\t\t833197402\n\t\tFISCAL
        YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM TYPE:\t\tS-3/A\n\t\tSEC
        ACT:\t\t1933 Act\n\t\tSEC FILE NUMBER:\t333-284478\n\t\tFILM NUMBER:\t\t25793029\n\n\tBUSINESS
        ADDRESS:\t\n\t\tSTREET 1:\t\t260 SHERIDAN AVENUE\n\t\tSTREET 2:\t\tSUITE 400\n\t\tCITY:\t\t\tPALO
        ALTO\n\t\tSTATE:\t\t\tCA\n\t\tZIP:\t\t\t94306\n\t\tBUSINESS PHONE:\t\t650-800-6676\n\n\tMAIL
        ADDRESS:\t\n\t\tSTREET 1:\t\t260 SHERIDAN AVENUE\n\t\tSTREET 2:\t\tSUITE 400\n\t\tCITY:\t\t\tPALO
        ALTO\n\t\tSTATE:\t\t\tCA\n\t\tZIP:\t\t\t94306\n\n\tFORMER COMPANY:\t\n\t\tFORMER
        CONFORMED NAME:\tVincera Pharma, Inc.\n\t\tDATE OF NAME CHANGE:\t20201223\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tLifeSci Acquisition Corp.\n\t\tDATE
        OF NAME CHANGE:\t20191206\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>S-3/A\n<SEQUENCE>1\n<FILENAME>d921557ds3a.htm\n<DESCRIPTION>S-3/A\n<TEXT>\n<HTML><HEAD>\n<TITLE>S-3/A</TITLE>\n</HEAD>\n
        <BODY BGCOLOR=\"WHITE\" STYLE=\"line-height:Normal\">\n\n\n<Center><DIV STYLE=\"width:8.5in\"
        align=\"left\">\n  <P STYLE=\"margin-top:0pt; margin-bottom:0pt; font-size:8pt;
        font-family:Times New Roman\" ALIGN=\"center\"><B>As filed with the Securities
        and Exchange Commission on March 31, 2025 </B></P>\n<P STYLE=\"margin-top:0pt;
        margin-bottom:0pt; font-size:8pt; font-family:Times New Roman\" ALIGN=\"right\"><B>Registration
        No.&nbsp;333-284478 </B></P>  <P STYLE=\"font-size:4pt;margin-top:0pt;margin-bottom:0pt\">&nbsp;</P>\n<P
        STYLE=\"line-height:1.0pt;margin-top:0pt;margin-bottom:0pt;border-bottom:1px
        solid #000000\">&nbsp;</P> <P STYLE=\"line-height:3.0pt;margin-top:0pt;margin-bottom:2pt;border-bottom:1px
        solid #000000\">&nbsp;</P>\n<P STYLE=\"margin-top:4pt; margin-bottom:0pt;
        font-size:17pt; font-family:Times New Roman\" ALIGN=\"center\"><B>UNITED STATES
        SECURITIES AND EXCHANGE COMMISSION </B></P>\n<P STYLE=\"margin-top:0pt; margin-bottom:0pt;
        font-size:11pt; font-family:Times New Roman\" ALIGN=\"center\"><B>Washington,
        D.C. 20549 </B></P> <P STYLE=\"font-size:3pt;margin-top:0pt;margin-bottom:0pt\">&nbsp;</P><center>\n<P
        STYLE=\"line-height:6.0pt;margin-top:0pt;margin-bottom:2pt;border-bottom:1.00pt
        solid #000000;width:21%\">&nbsp;</P></center>  <P STYLE=\"margin-top:3pt;
        margin-bottom:0pt; font-size:17pt; font-family:Times New Roman\" ALIGN=\"center\"><B>AMENDMENT\nNO.
        1 </B></P> <P STYLE=\"margin-top:0pt; margin-bottom:0pt; font-size:17pt; font-family:Times
        New Roman\" ALIGN=\"center\"><B>TO </B></P>\n<P STYLE=\"margin-top:3pt; margin-bottom:0pt;
        font-size:1[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/submissions/CIK0001796129.json
  response:
    body:
      string: '{"cik":"0001796129","entityType":"operating","sic":"2834","sicDescription":"Pharmaceutical
        Preparations","ownerOrg":"03 Life Sciences","insiderTransactionForOwnerExists":0,"insiderTransactionForIssuerExists":1,"name":"Vincerx
        Pharma, Inc.","tickers":[],"exchanges":[],"ein":"833197402","lei":null,"description":"","website":"","investorWebsite":"","category":"<br>Emerging
        growth company","fiscalYearEnd":"1231","stateOfIncorporation":"","stateOfIncorporationDescription":"","addresses":{"mailing":{"street1":"260
        SHERIDAN AVENUE","street2":"SUITE 400","city":"PALO ALTO","stateOrCountry":"CA","zipCode":"94306","stateOrCountryDescription":"CA","isForeignLocation":0,"foreignStateTerritory":null,"country":null,"countryCode":null},"business":{"street1":"260
        SHERIDAN AVENUE","street2":"SUITE 400","city":"PALO ALTO","stateOrCountry":"CA","zipCode":"94306","stateOrCountryDescription":"CA","isForeignLocation":null,"foreignStateTerritory":null,"country":null,"countryCode":null}},"phone":"650-800-6676","flags":"","formerNames":[{"name":"Vincera
        Pharma, Inc.","from":"2020-11-06T00:00:00.000Z","to":"2021-01-05T00:00:00.000Z"},{"name":"LifeSci
        Acquisition Corp.","from":"2019-12-12T00:00:00.000Z","to":"2020-12-22T00:00:00.000Z"}],"filings":{"recent":{"accessionNumber":["0001085146-25-004280","0001193125-25-159868","0001193125-25-156217","0001193125-25-156210","0001193125-25-142729","0001193125-25-137028","0001193125-25-120762","0001172661-25-002218","0001193125-25-117863","9999999995-25-001386","9999999995-25-001378","9999999995-25-001377","0001193125-25-110107","0001193125-25-110105","0001193125-25-110103","0001193125-25-110102","0001193125-25-110100","0001193125-25-110098","0001193125-25-110095","0001193125-25-110092","0001193125-25-107499","0001193125-25-1[...]
[...]
