interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/1130598/000110465924132924/0001104659-24-132924.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001104659-24-132924.txt : 20241231\n<SEC-HEADER>0001104659-24-132924.hdr.sgml
        : 20241231\n<ACCEPTANCE-DATETIME>20241231172304\nACCESSION NUMBER:\t\t0001104659-24-132924\nCONFORMED
        SUBMISSION TYPE:\t424B4\nPUBLIC DOCUMENT COUNT:\t\t3\nFILED AS OF DATE:\t\t20241231\nDATE
        AS OF CHANGE:\t\t20241231\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED
        NAME:\t\t\tTraws Pharma, Inc.\n\t\tCENTRAL INDEX KEY:\t\t\t0001130598\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tPHARMACEUTICAL PREPARATIONS [2834]\n\t\tORGANIZATION
        NAME:           \t03 Life Sciences\n\t\tIRS NUMBER:\t\t\t\t000000000\n\t\tSTATE
        OF INCORPORATION:\t\t\tDE\n\t\tFISCAL YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\t424B4\n\t\tSEC ACT:\t\t1933 Act\n\t\tSEC FILE NUMBER:\t333-273081\n\t\tFILM
        NUMBER:\t\t241593825\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\t12 PENNS TRAIL\n\t\tCITY:\t\t\tNEWTOWN\n\t\tSTATE:\t\t\tPA\n\t\tZIP:\t\t\t18940\n\t\tBUSINESS
        PHONE:\t\t267-759-3680\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t12 PENNS TRAIL\n\t\tCITY:\t\t\tNEWTOWN\n\t\tSTATE:\t\t\tPA\n\t\tZIP:\t\t\t18940\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tOnconova Therapeutics, Inc.\n\t\tDATE
        OF NAME CHANGE:\t20090526\n\n\tFORMER COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tONCONOVA
        THERAPEUTICS, INC.\n\t\tDATE OF NAME CHANGE:\t20090526\n\n\tFORMER COMPANY:\t\n\t\tFORMER
        CONFORMED NAME:\tONCONOVA THERAPEUTICS INC\n\t\tDATE OF NAME CHANGE:\t20001226\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>424B4\n<SEQUENCE>1\n<FILENAME>tm2432248-1_424b4.htm\n<DESCRIPTION>424B4\n<TEXT>\n<html>\n
        \ <head>\n    <title>tm2432248-1_424b4 - none - 4.5312725s</title>\n  </head>\n
        \ <body style=\"margin-left:auto;margin-right:auto;width:595.31pt;\">\n    <div
        style=\"page-break-after:always; width:595.3pt;margin-left:auto;margin-right:auto;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;color:#000000;font-family:Times
        New Roman, Times, serif ;font-size:10pt;\">\n      <div style=\"padding:0pt;margin:0pt;font-family:calibri,
        arial, sans-serif;font-weight:normal;font-style:normal;font-size:8pt;line-height:8pt;\">\n
        \       <a style=\"text-decoration:none;color:#003366;\" href=\"#TOC\">TABLE
        OF CONTENTS</a>\n      </div>\n      <div style=\"margin-top:27.85pt;margin-bottom:21.86pt;margin-left:69.66pt;width:456pt;\">\n
        \       <div style=\"text-align:right; width:456pt; line-height:10pt;font-weight:bold;\">\n
        \         <font style=\"letter-spacing:-0.2pt;\">&#8202;Filed Pursuant to
        Rule&#160;424(b)(4)</font>&#8203;</div>\n        <div style=\"text-align:right;
        width:456pt; line-height:10pt;font-weight:bold;\">\n          <font style=\"letter-spacing:-0.2pt;\">&#8202;Registration
        No. 333-273081</font>&#8203;</div>\n        <div style=\"margin-top:-0.2pt;
        width:456pt; line-height:11.5pt;font-weight:bold;\">\n          <font style=\"letter-spacing:-0.2pt;\">PROSPECTUS
        SUPPLEMENT</font> <br ><font style=\"letter-spacing:-0.2pt;\">(To Prospectus
        dated July 11, 2023)</font><font style=\"font-weight:normal;letter-spacing:0.2pt;\">
        </font></div>\n        <div style=\"position:relative;margin-top:3pt; text-align:center;
        width:456pt;\">\n          <img src=\"lg_trawspharma-4clr.jpg\" alt=\"[MISSING
        IMAGE: lg_trawspharma-4clr.jpg]\" height=\"65\" width=\"227\" >\n        </div>\n
        \       <div style=\"margin-top:15.6pt; text-align:center; width:456pt; line-height:19pt;font-weight:bold;font-size:18pt;\">\n
        \         <font style=\"letter-spacing:-0.36pt;\">Traws Pharma, Inc.</font><font
        style=\"font-weight:normal;letter-spacing:0.36pt;\"> </font>\n        </div>\n
        \       <div style=\"margin-top:12pt; text-align:center; width:456pt; line-height:15pt;font-weight:bold;font-size:14pt;\">\n
        \         <font style=\"letter-spacing:-0.28pt;\">608,197 Shares of Common
        Stock</font><font style=\"font-weight:normal;letter-spacing:0.28pt;\"> </font>\n
        \       </div>\n        <div style=\"text-indent:20pt; margin-top:3pt; width:456pt;
        line-height:10.5pt;\">\n          <font style=\"letter-spacing:0.2pt;\">We
        are offering 608,197 shares of our common stock to investors pursuant to this
        prospectus supplement and the accompanying prospectus and a securities purchase
        agreement with each investor. </font>\n        </div>\n        <div style=\"text-indent:20pt;
        margin-top:3pt; width:456pt; line-height:10.5pt;\">\n          <font style=\"letter-spacing:0.2pt;\">In
        a concurrent private placement, or the Warrant Private Placement, we are also
        selling to the investors, including our chief executive officer and certain
        principal stockholders of the Company, Series&#160;A common stock warrants,
        or Series&#160;A Warrants, and pre-funded warrants to purchase shares of common
        stock, or Pre-Funded Warrants, and together with the Seri[...]
