interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/1779026/000177902623000027/0001779026-23-000027.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001779026-23-000027.txt : 20230526\n<SEC-HEADER>0001779026-23-000027.hdr.sgml
        : 20230526\n<ACCEPTANCE-DATETIME>20230526113432\nACCESSION NUMBER:\t\t0001779026-23-000027\nCONFORMED
        SUBMISSION TYPE:\t10-K\nPUBLIC DOCUMENT COUNT:\t\t7\nCONFORMED PERIOD OF REPORT:\t20230228\n<DEPOSITOR-CIK>0001259380\n<SPONSOR-CIK>0001601902\nFILED
        AS OF DATE:\t\t20230526\nDATE AS OF CHANGE:\t\t20230526\nABS ASSET CLASS:
        \            \tAuto loans\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED
        NAME:\t\t\tCarMax Auto Owner Trust 2019-3\n\t\tCENTRAL INDEX KEY:\t\t\t0001779026\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tASSET-BACKED SECURITIES [6189]\n\t\tIRS NUMBER:\t\t\t\t367736028\n\t\tFISCAL
        YEAR END:\t\t\t0228\n\n\tFILING VALUES:\n\t\tFORM TYPE:\t\t10-K\n\t\tSEC ACT:\t\t1934
        Act\n\t\tSEC FILE NUMBER:\t333-228379-03\n\t\tFILM NUMBER:\t\t23964978\n\n\tBUSINESS
        ADDRESS:\t\n\t\tSTREET 1:\t\t12800 TUCKAHOE CREEK PARKWAY\n\t\tSTREET 2:\t\tSUITE
        400\n\t\tCITY:\t\t\tRICHMOND\n\t\tSTATE:\t\t\tVA\n\t\tZIP:\t\t\t23238\n\t\tBUSINESS
        PHONE:\t\t(804) 935-4512\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t12800 TUCKAHOE
        CREEK PARKWAY\n\t\tSTREET 2:\t\tSUITE 400\n\t\tCITY:\t\t\tRICHMOND\n\t\tSTATE:\t\t\tVA\n\t\tZIP:\t\t\t23238\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>10-K\n<SEQUENCE>1\n<FILENAME>a2019-310xk052623.htm\n<DESCRIPTION>10-K\n<TEXT>\n<!DOCTYPE
        html PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\" \"http://www.w3.org/TR/html4/loose.dtd\"><html><head>\n<!--
        Document created using Wdesk -->\n<!-- Copyright 2023 Workiva -->\n<title>Document</title></head><body><div
        id=\"ib6b449b385994103bfde673ef7c896c1_1\"></div><div style=\"min-height:42.75pt;width:100%\"><div><font><br></font></div></div><div
        style=\"-sec-extract:summary;margin-top:2pt;text-align:center\"><font style=\"color:#000000;font-family:'Times
        New Roman',sans-serif;font-size:14pt;font-weight:700;line-height:120%\">UNITED
        STATES</font></div><div style=\"text-align:center\"><font style=\"color:#000000;font-family:'Times
        New Roman',sans-serif;font-size:14pt;font-weight:700;line-height:120%\">SECURITIES
        AND EXCHANGE COMMISSION</font></div><div style=\"margin-top:2pt;[...]
