interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/submissions/CIK0001045810.json
  response:
    body:
      string: '{"cik":"0001045810","entityType":"operating","sic":"3674","sicDescription":"Semiconductors
        & Related Devices","ownerOrg":"04 Manufacturing","insiderTransactionForOwnerExists":1,"insiderTransactionForIssuerExists":1,"name":"NVIDIA
        CORP","tickers":["NVDA"],"exchanges":["Nasdaq"],"ein":"943177549","lei":null,"description":"","website":"","investorWebsite":"","category":"Large
        accelerated filer","fiscalYearEnd":"0131","stateOfIncorporation":"DE","stateOfIncorporationDescription":"DE","addresses":{"mailing":{"street1":"2788
        SAN TOMAS EXPRESSWAY","street2":null,"city":"SANTA CLARA","stateOrCountry":"CA","zipCode":"95051","stateOrCountryDescription":"CA","isForeignLocation":0,"foreignStateTerritory":null,"country":null,"countryCode":null},"business":{"street1":"2788
        SAN TOMAS EXPRESSWAY","street2":null,"city":"SANTA CLARA","stateOrCountry":"CA","zipCode":"95051","stateOrCountryDescription":"CA","isForeignLocation":null,"foreignStateTerritory":null,"country":null,"countryCode":null}},"phone":"408-486-2000","flags":"","formerNames":[{"name":"NVIDIA
        CORP/CA","from":"1998-05-07T00:00:00.000Z","to":"2002-06-04T00:00:00.000Z"}],"filings":{"recent":{"accessionNumber":["0001347842-26-000007","0001283854-26-000002","0001588670-26-000006","0001696841-26-000002","0001197649-26-000003","0001045810-26-000021","0001045810-26-000019","0001045810-26-000011","0001588670-26-000004","0000102909-26-000226","0001045810-26-000008","0001045810-26-000007","0001636665-26-000002","0001347842-26-000004","0001045810-26-000003","0001921094-26-000054","0001588670-26-000002","0001347842-26-000002","0001921094-26-000026","0001526111-26-000002","0001950047-26-000053","0001199039-25-0[...]
[...]
