interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/42352/000095012323009133/0000950123-23-009133.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0000950123-23-009133.txt : 20231030\n<SEC-HEADER>0000950123-23-009133.hdr.sgml
        : 20231030\n<ACCEPTANCE-DATETIME>20231030162701\nACCESSION NUMBER:\t\t0000950123-23-009133\nCONFORMED
        SUBMISSION TYPE:\tATS-N/UA\nPUBLIC DOCUMENT COUNT:\t\t7\n<PREVIOUS-ACCESSION-NUMBER>0000950123-23-006141\nFILED
        AS OF DATE:\t\t20231030\n<PUBLIC-REL-DATE>20231030\nDATE AS OF CHANGE:\t\t20231030\n\nFILER:\n\n\tCOMPANY
        DATA:\t\n\t\tCOMPANY CONFORMED NAME:\t\t\tGOLDMAN SACHS & CO. LLC\n\t\tCENTRAL
        INDEX KEY:\t\t\t0000042352\n\t\tIRS NUMBER:\t\t\t\t135108880\n\t\tSTATE OF
        INCORPORATION:\t\t\tNY\n\t\tFISCAL YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\tATS-N/UA\n\t\tSEC ACT:\t\t1934 Act\n\t\tSEC FILE NUMBER:\t013-00121\n\t\tFILM
        NUMBER:\t\t231360679\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\t200 WEST STREET\n\t\tCITY:\t\t\tNEW
        YORK\n\t\tSTATE:\t\t\tNY\n\t\tZIP:\t\t\t10282-2198\n\t\tBUSINESS PHONE:\t\t801-884-1967\n\n\tMAIL
        ADDRESS:\t\n\t\tSTREET 1:\t\t111 SOUTH MAIN STREET\n\t\tSTREET 2:\t\t27TH
        FLOOR\n\t\tCITY:\t\t\tSALT LAKE CITY\n\t\tSTATE:\t\t\tUT\n\t\tZIP:\t\t\t84111\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tGOLDMAN, SACHS & CO.\n\t\tDATE OF
        NAME CHANGE:\t20170505\n\n\tFORMER COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tGOLDMAN
        SACHS & CO. LLC\n\t\tDATE OF NAME CHANGE:\t20170502\n\n\tFORMER COMPANY:\t\n\t\tFORMER
        CONFORMED NAME:\tGOLDMAN, SACHS & CO.\n\t\tDATE OF NAME CHANGE:\t20020222\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>ATS-N/UA\n<SEQUENCE>1\n<FILENAME>primary_doc.xml\n<TEXT>\n<XML>\n<?xml
        version=\"1.0\" encoding=\"UTF-8\"?>\n<edgarSubmission xmlns=\"http://www.sec.gov/edgar/atsn\"
        xmlns:com=\"http://www.sec.gov/edgar/common\" xmlns:ats=\"http://www.sec.gov/edgar/atsncommon\">\n
        \ <headerData>\n    <submissionType>ATS-N/UA</submissionType>\n    <accessionNumber>0000950123-23-006141</accessionNumber>\n
        \   <filerInfo>\n      <liveTestFlag>LIVE</liveTestFlag>\n      <filer>\n
        \       <filerCredentials>\n          <com:cik>0000042352</com:cik>\n          <com:ccc>XXXXXXXX</com:ccc>\n
        \       </filerCredentials>\n        <fileNumber>013-00121</fileNumber>\n
        \     </filer>\n      <flags>\n        <ats:overrideInternetFlag>false</ats:overrideInternetFlag>\n
        \       <ats:confirmingCopyFlag>false</ats:confirmingCopyFlag>\n      </flags>\n
        \   </filerInfo>\n  </headerData>\n  <formData>\n    <cover>\n      <txNMSStockATSName>Sigma
        X2</txNMSStockATSName>\n      <rbOperatesPursuantToFormATS>Y</rbOperatesPursuantToFormATS>\n
        \     <taStatementAboutAmendment>This Updating Amendment revises the responses
        to (1) Part 1, Item 8, by providing an updated copy of Schedule A to the Form
        BD of Goldman Sachs &amp; Co. LLC (GSCO), the Broker-Dealer Operator of Sigma
        X2, reflecting the addition of a Co-Principal Operations Officer, and (2)
        Part II, Item 7.d (Protection of Confidential Trading Information), to remove
        references to employee roles that had access to confidential trading information
        because such roles no longer exist.  The changes noted in (1), above, apply
        solely to GSCO, the Broker-Dealer Operator of Sigma X2.  The changes noted
        in (2), above, apply to GSCO and all Subscribers.</taStatementAboutAmendment>\n
        \   </cover>\n    <partOne>\n      <rbPart1Item1IsBd>Y</rbPart1Item1IsBd>\n
        \     <txPart1Item2ATSName>GOLDMAN SACHS &amp; CO. LLC</txPart1Item2ATSName>\n
        \     <atsNames>\n        <atsName txPart1Item3ATSName=\"SIGMA X2\"/>\n      </atsNames>\n
        \     <txPart1Item4aBdFileNumber>008-00129</txPart1Item4aBdFileNumber>\n      <txPart1Item4aBdCrdNumber>000000361</txPart1Item4aBdCrdNumber>\n
        \     <txPart1Item5aNsaFullName>FINRA</txPart1Item5aNsaFullName>\n      <part1Item5bEffectiveMembershipDate>10/26/1936</part1Item5bEffectiveMembershipDate>\n
        \     <txtPart1Item5cNmsStockMPID>SGMT</txtPart1Item5cNmsStockMPID>\n      <txtPart1Item6uwebsite>https://www.goldmansachs.com/what-we-do/securities/gset-equities.html</txtPart1Item6uwebsite>\n
        \     <part1Item7PrimarySite>\n        <ats:street1>Equinix NY4 data center</ats:street1>\n
        \       <ats:street2>755 Secaucus Rd</ats:street2>\n        <ats:city>Secaucus</ats:city>\n
        \       <ats:zip>07094</ats:zip>\n        <ats:state>US-NJ</ats:state>\n      </part1Item7PrimarySite>\n
        \     <part1Item7SecondarySiteRecords>\n        <secondarySiteI7>\n          <ats:street1>CH4
        - 350 E. Cermak Rd</ats:street1>\n          <ats:city>Chicago</ats:city>\n
        \         <ats:zip>60616</ats:zip>\n          <ats:state>US-IL</ats:state>\n
        \       </secondarySiteI7>\n      </part1Item7SecondarySiteRecords>\n      <cbPart1Item8Exhibit1atWebsite>false</cbPart1Item8Exhibit1atWebsite>\n
        \     <cbPart1Item9Exhibit2atWebsite>false</cbPart1Item9Exhibit2atWebsite>\n
        \   </partOne>\n    <partTwo>\n      <part2Item1aArePermittedToEnterInterest
        rbPart2Item1aArePermittedToEnterInterest=\"Y\">\n        <taPart2Item1aUnitNamesEnterInterest>Yes.
        GSCO is a leading global investment banking, securities and investment management
        firm that provides a wide range of financial services to a substantial and
        diversified client base that includes corporations, financial institutions,
        governments and individuals. As such, GSCO has a number of business units
        that engage in various securities trading activities that may enter and/or
        direct the entry of orders to Sigma X2 using limit or Peg order t[...]
