interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/1675365/000167536519000012/0001675365-19-000012.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001675365-19-000012.txt : 20190510\n<SEC-HEADER>0001675365-19-000012.hdr.sgml
        : 20190510\n<ACCEPTANCE-DATETIME>20190510173410\nACCESSION NUMBER:\t\t0001675365-19-000012\nCONFORMED
        SUBMISSION TYPE:\tATS-N\nPUBLIC DOCUMENT COUNT:\t\t3\nFILED AS OF DATE:\t\t20190510\n\nFILER:\n\n\tCOMPANY
        DATA:\t\n\t\tCOMPANY CONFORMED NAME:\t\t\tBOFA SECURITIES, INC.\n\t\tCENTRAL
        INDEX KEY:\t\t\t0001675365\n\t\tIRS NUMBER:\t\t\t\t474921463\n\t\tSTATE OF
        INCORPORATION:\t\t\tDE\n\t\tFISCAL YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\tATS-N\n\t\tSEC ACT:\t\t1934 Act\n\t\tSEC FILE NUMBER:\t013-00150\n\t\tFILM
        NUMBER:\t\t19816192\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\tONE BRYANT
        PARK\n\t\tCITY:\t\t\tNEW YORK\n\t\tSTATE:\t\t\tNY\n\t\tZIP:\t\t\t10036\n\t\tBUSINESS
        PHONE:\t\t212-670-0454\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t222 BROADWAY\n\t\tSTREET
        2:\t\tNY3-222-12-05\n\t\tCITY:\t\t\tNEW YORK\n\t\tSTATE:\t\t\tNY\n\t\tZIP:\t\t\t10038\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tBOFAML SECURITIES, INC.\n\t\tDATE
        OF NAME CHANGE:\t20190121\n\n\tFORMER COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tBOFA
        SECURITIES, INC.\n\t\tDATE OF NAME CHANGE:\t20190121\n\n\tFORMER COMPANY:\t\n\t\tFORMER
        CONFORMED NAME:\tBOFAML SECURITIES, INC.\n\t\tDATE OF NAME CHANGE:\t20160523\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>ATS-N\n<SEQUENCE>1\n<FILENAME>primary_doc.xml\n<TEXT>\n<XML>\n<?xml
        version=\"1.0\" encoding=\"UTF-8\"?>\n<edgarSubmission xmlns=\"http://www.sec.gov/edgar/atsn\"
        xmlns:com=\"http://www.sec.gov/edgar/common\" xmlns:ats=\"http://www.sec.gov/edgar/atsncommon\">\n
        \ <headerData>\n    <submissionType>ATS-N</submissionType>\n    <filerInfo>\n
        \     <liveTestFlag>LIVE</liveTestFlag>\n      <filer>\n        <filerCredentials>\n
        \         <com:cik>0001675365</com:cik>\n          <com:ccc>XXXXXXXX</com:ccc>\n
        \       </filerCredentials>\n      </filer>\n      <flags>\n        <ats:overrideInternetFlag>false</ats:overrideInternetFlag>\n
        \       <ats:confirmingCopyFlag>false</ats:confirmingCopyFlag>\n      </flags>\n
        \   </filerInfo>\n  </headerData>\n  <formData>\n    <cover>\n      <txNMSStockATSName>Instinct
        X</txNMSStockATSName>\n      <rbOperatesPursuantToFormATS>N</rbOperatesPursuantToFormATS>\n
        \   </cover>\n    <partOne>\n      <rbPart1Item1IsBd>Y</rbPart1Item1IsBd>\n
        \     <txPart1Item2ATSName>BOFA SECURITIES, INC.</txPart1Item2ATSName>\n      <atsNames>\n
        \       <atsName txPart1Item3ATSName=\"Instinct X\"/>\n      </atsNames>\n
        \     <txPart1Item4aBdFileNumber>008-69787</txPart1Item4aBdFileNumber>\n      <txPart1Item4aBdCrdNumber>000283942</txPart1Item4aBdCrdNumber>\n
        \     <txPart1Item5aNsaFullName>FINRA</txPart1Item5aNsaFullName>\n      <part1Item5bEffectiveMembershipDate>01/23/2018</part1Item5bEffectiveMembershipDate>\n
        \     <txtPart1Item5cNmsStockMPID>MLIX</txtPart1Item5cNmsStockMPID>\n      <txtPart1Item6uwebsite>https://www.bofaml.com/en-us/content/high-touch-electronic-trading.html</txtPart1Item6uwebsite>\n
        \     <part1Item7PrimarySite>\n        <ats:street1>Equinix NY4 New York IBX
        Data Center (\"NY4 Data Center\")</ats:street1>\n        <ats:street2>755
        Secaucus Rd.</ats:street2>\n        <ats:city>Secaucus</ats:city>\n        <ats:zip>07094</ats:zip>\n
        \       <ats:state>US-NY</ats:state>\n      </part1Item7PrimarySite>\n      <cbPart1Item8Exhibit1atWebsite>false</cbPart1Item8Exhibit1atWebsite>\n
        \     <cbPart1Item9Exhibit2atWebsite>false</cbPart1Item9Exhibit2atWebsite>\n
        \   </partOne>\n    <partTwo>\n      <part2Item1aArePermittedToEnterInterest
        rbPart2Item1aArePermittedToEnterInterest=\"Y\">\n        <taPart2Item1aUnitNamesEnterInterest>Instinct
        X accepts orders and conditional placements. Responses to questions regarding
        ATS trading interest refer to conditional placements. References to \"Customer\"
        in this Form ATS-N represent non-broker-dealers. References to \"Clients\"
        in this Form ATS-N represent Customers and broker-dealers. The following BofA
        Securities, Inc. (\"BofAS\") business units are permitted to enter orders
        and conditional placements into Instinct X. Each business[...]
