interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/1771910/000095010325008153/0000950103-25-008153.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0000950103-25-008153.txt : 20250630\n<SEC-HEADER>0000950103-25-008153.hdr.sgml
        : 20250630\n<ACCEPTANCE-DATETIME>20250630172828\nACCESSION NUMBER:\t\t0000950103-25-008153\nCONFORMED
        SUBMISSION TYPE:\tS-3\nPUBLIC DOCUMENT COUNT:\t\t9\nFILED AS OF DATE:\t\t20250630\nDATE
        AS OF CHANGE:\t\t20250630\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED
        NAME:\t\t\tADC Therapeutics SA\n\t\tCENTRAL INDEX KEY:\t\t\t0001771910\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tPHARMACEUTICAL PREPARATIONS [2834]\n\t\tORGANIZATION
        NAME:           \t03 Life Sciences\n\t\tEIN:\t\t\t\t000000000\n\t\tSTATE OF
        INCORPORATION:\t\t\tV8\n\t\tFISCAL YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\tS-3\n\t\tSEC ACT:\t\t1933 Act\n\t\tSEC FILE NUMBER:\t333-288437\n\t\tFILM
        NUMBER:\t\t251093387\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\tBIOPOLE\n\t\tSTREET
        2:\t\tROUTE DE LA CORNICHE 3B\n\t\tCITY:\t\t\tEPALINGES\n\t\tSTATE:\t\t\tV8\n\t\tZIP:\t\t\t1066\n\t\tBUSINESS
        PHONE:\t\t41 21 653 02 00\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\tBIOPOLE\n\t\tSTREET
        2:\t\tROUTE DE LA CORNICHE 3B\n\t\tCITY:\t\t\tEPALINGES\n\t\tSTATE:\t\t\tV8\n\t\tZIP:\t\t\t1066\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>S-3\n<SEQUENCE>1\n<FILENAME>dp230854_s3.htm\n<DESCRIPTION>FORM
        S-3\n<TEXT>\n<HTML>\n<HEAD>\n     <TITLE></TITLE>\n</HEAD>\n<BODY STYLE=\"font:
        10pt Times New Roman, Times, Serif\">\n\n<P STYLE=\"margin: 0\">&nbsp;</P>\n\n<P
        STYLE=\"font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align:
        center\"><B>As filed with the Securities and Exchange Commission\non June
        30, 2025.</B><P STYLE=\"font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt
        0; text-align: right\"><B>Registration\nNo. 333-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</B><P
        STYLE=\"font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align:
        center\"></P>\n\n\n<P STYLE=\"margin: 0\"></P>\n\n<!-- Field: Rule-Page --><DIV
        ALIGN=\"LEFT\" STYLE=\"margin-top: 0pt; margin-bottom: 0pt\"><DIV STYLE=\"border-top:
        Black 3pt solid; font-size: 1pt; border-bottom: Black 1pt solid; width: 100%\">&nbsp;</DIV></DIV><!--
        Field: /Rule-Page -->\n\n<P STYLE=\"margin: 0\"></P>\n\n<P STYLE=\"font: 10pt
        Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align: center\"><B>UNITED
        STATES</B></P>\n\n<P STYLE=\"font: 10pt Arial, Helvetica, Sans-Serif; margin:
        0pt 0; text-align: center\"><B>SECURITIES AND EXCHANGE COMMISSION</B></P>\n\n<P
        STYLE=\"font: 10pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align:
        center\"><B>Washington, D.C. 20549</B></P>\n\n<P STYLE=\"font: 10pt Arial,
        Helvetica, Sans-Serif; margin: 0pt 0; text-align: center\">&nbsp;</P>\n\n<P
        STYLE=\"font: 12pt Arial, Helvetica, Sans-Serif; margin: 0pt 0; text-align:
        center\"><B>FORM S-3</B></P>\n\n<P STYLE=\"font: 10pt Arial, Helvetica, Sans-Serif;
        margin: 0pt 0; text-align: center\"><B>REGISTRATION STATEMENT UNDER THE SECURITIES
        ACT\nOF 1933</B></P>\n\n<P STYLE=\"font: 10pt Arial, Helvetica, Sans-Serif;
        margin: 0pt 0; text-align: center\">&nbsp;</P>\n\n<P STYLE=\"font: 14pt Arial,
        Helvetica, Sans-Serif; margin: 0pt 0; text-align: center\"><B>ADC THERAPEUTICS
        SA</B></P>\n\n<P STYLE=\"font: 10pt Arial, Helvetica, Sans-Serif; margin:
        0pt 0; text-align: center\">(Exact name of Registrant as specified in its
        charter)</P>\n\n<P STYLE=\"font: 10pt Arial, Helvetica, Sans-Serif; margin:
        0pt 0; text-align: center\">&nbsp;</P>\n\n<TABLE CELLSPACING=\"0\" CELLPADDING=\"0\"
        STYLE=\"font: 10pt Arial, Helvetica, Sans-Serif; width: 100%; border-collapse:
        collapse\">\n  <TR STYLE=\"vertical-align: top\">\n    <TD STYLE=\"width:
        49%; text-align: center\"><FONT STYLE=\"font-family: Arial, Helvetica, Sans-Serif;
        font-size: 10pt\"><B>Switzerland</B></FONT></TD>\n    <TD STYLE=\"width: 1%;
        text-align: center\">&nbsp;</TD>\n    <TD STYLE=\"width: 1%; text-align: center\">&nbsp;</TD>\n
        \   <TD STYLE=\"width: 49%; text-align: center\"><FONT STYLE=\"font-family:
        Arial, Helvetica, Sans-Serif; font-size: 10pt\"><B>Not Applicable</B></FONT></TD></TR>\n
        \ <TR STYLE=\"vertical-align: top\">\n    <TD STYLE=\"text-align: center\"><FONT
        STYLE=\"font-family: Arial, Helvetica, Sans-Serif; font-size: 10pt\">(State
        or other jurisdiction of incorporation or organizatio[...]
