interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/320193/000091205700023442/0000912057-00-023442.txt
  response:
    body:
      string: "-----BEGIN PRIVACY-ENHANCED MESSAGE-----\nProc-Type: 2001,MIC-CLEAR\nOriginator-Name:
        webmaster@www.sec.gov\nOriginator-Key-Asymmetric:\n MFgwCgYEVQgBAQICAf8DSgAwRwJAW2sNKK9AVtBzYZmr6aGjlWyK3XmZv3dTINen\n
        TWSM7vrzLADbmYQaionwg5sDW3P6oaM5D3tdezXMm7z1T+B+twIDAQAB\nMIC-Info: RSA-MD5,RSA,\n
        HremkjNdzKUZqJL8OLlA8wvLUCJ6CRoB8qBnSX32eywMcy7yVX+uzan/qAva17DH\n fiKYCu0lkDEDqo/He7Y1pA==\n\n<SEC-DOCUMENT>0000912057-00-023442.txt
        : 20000512\n<SEC-HEADER>0000912057-00-023442.hdr.sgml : 20000512\nACCESSION
        NUMBER:\t\t0000912057-00-023442\nCONFORMED SUBMISSION TYPE:\t10-Q\nPUBLIC
        DOCUMENT COUNT:\t\t5\nCONFORMED PERIOD OF REPORT:\t20000401\nFILED AS OF DATE:\t\t20000511\n\nFILER:\n\n\tCOMPANY
        DATA:\t\n\t\tCOMPANY CONFORMED NAME:\t\t\tAPPLE COMPUTER INC\n\t\tCENTRAL
        INDEX KEY:\t\t\t0000320193\n\t\tSTANDARD INDUSTRIAL CLASSIFICATION:\tELECTRONIC
        COMPUTERS [3571]\n\t\tIRS NUMBER:\t\t\t\t942404110\n\t\tSTATE OF INCORPORATION:\t\t\tCA\n\t\tFISCAL
        YEAR END:\t\t\t0930\n\n\tFILING VALUES:\n\t\tFORM TYPE:\t\t10-Q\n\t\tSEC ACT:\t\t\n\t\tSEC
        FILE NUMBER:\t000-10030\n\t\tFILM NUMBER:\t\t626787\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET
        1:\t\t1 INFINITE LOOP\n\t\tCITY:\t\t\tCUPERTINO\n\t\tSTATE:\t\t\tCA\n\t\tZIP:\t\t\t95014\n\t\tBUSINESS
        PHONE:\t\t4089961010\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\tONE INFINITE LOOP\n\t\tCITY:\t\t\tCUPERTINO\n\t\tSTATE:\t\t\tCA\n\t\tZIP:\t\t\t95014\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>10-Q\n<SEQUENCE>1\n<DESCRIPTION>10-Q\n<TEXT>\n\n<PAGE>\n\n
        \                                 UNITED STATES\n                       SECURITIES
        AND EXCHANGE COMMISSION\n                             WASHINGTON, D.C. 20549\n\n
        \                                  -----------\n\n                                    FORM
        10-Q\n\n                                   -----------\n\n                                   (MARK
        ONE)\n\n   X     QUARTERLY REPORT PURSUANT TO SECTION 13 OR 15(d) OF THE SECURITIES\n
        \ ---  [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/320193/0000912057-00-023442-index.html
  response:
    body:
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\" \"http://www.w3.org/TR/html4/loose.dtd\">\n<html
        xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n<meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\" />\n<meta http-equiv=\"Last-Modified\"
        content=\"Thu, 11 May 2000 04:00:00 GMT\" />\n<title>EDGAR Filing Documents
        for 0000912057-00-023442</title>\n<link  rel=\"stylesheet\" href=\"/edgar/search/global/css/bootstrap/bootstrap.min.css\"
        type=\"text/css\" />\n<link rel=\"stylesheet\" type=\"text/css\" href=\"/include/interactive2.css\"
        />\n</head>\n<body style=\"margin: 0; font-size: 16px; \">\n<!-- SEC Web Analytics
        - For information please visit: https://www.sec.gov/privacy.htm#collectedinfo
        -->\n<noscript><iframe src=\"//www.googletagmanager.com/ns.html?id=GTM-TD3BKV\"\nheight=\"0\"
        width=\"0\" style=\"display:none;visibility:hidden\"></iframe></noscript>\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\nnew
        Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\n'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);\n})(window,document,'script','dataLayer','GTM-TD3BKV');</script>\n<!--
        End SEC Web Analytics -->\n<noscript><div style=\"color:red; font-weight:bold;
        text-align:center;\">This page uses Javascript. Your browser either doesn't
        support Javascript or you have it turned off. To see this page as it is meant
        to appear please use a Javascript enabled browser.</div></noscript>\n<!--
        BEGIN BANNER -->\n<div  id=\"header\" style=\"text-align: center;\">\n   <nav
        id=\"main-navbar\" class=\"navbar navbar-expand\">\n      <ul class=\"navbar-nav\">\n
        \        <li class=\"nav-item\">\n            <a class=\"nav__sec_link\" href=\"https://www.sec.gov\">\n
        \              <img src=\"/edgar/search/images/edgar-logo-2x.png\" alt=\"\"
        style=\"height:6.25rem\">\n            </a>\n         </li>\n         <li
        class=\"nav-item\">\n            <a class=\"nav__sec_link\" href=\"https://www.sec.gov\">\n
        \              <span class=\"link-text d-inline\">SEC.gov</span>\n            </a>\n
        \        </li>\n         <li class=\"nav-item\">\n            <a class=\"nav__link\"
        href=\"//www.sec.gov/submit-filings/about-edgar\" id=\"edgar-short-form\"><span
        class=\"link-text\">EDGAR</span></a>\n         </li>\n      </ul>\n\n      <ul
        class=\"navbar-nav ml-auto\">\n         <li class=\"nav-item\">\n\t\t\t<a
        href=\"/cgi-bin/browse-edgar?action=getcurrent\" class=\"nav__link\">Latest
        Filings</a> \n         </li>\n         <li class=\"nav-item\">\n            <a
        href=\"https://www.sec.gov/edgar/search-and-access\" class=\"nav__link\">Filings
        search tools</a>\n         </li>\n      </ul>\n   </nav>\n   <div style=\"position:
        absolute;width: 100%;\"> <h1 style=\"position: relative;top: -60px;\">Filing
        Detail</h1></div>\n</div>\n<!-- END BANNER -->\n\n\n<!-- BEGIN BREADCRUMBS
        -->\n<div id=\"breadCrumbs\">\n   <ul>\n      <li><a href=\"/index.htm\">SEC
        Home</a> &#187;</li>\n      <li><a href=\"/edgar/searchedgar/companysearch.html\">Company
        Search</a> &#187;</li>\n      <li class=\"last\">Current Page</li>\n   </ul>\n</div>\n<!--
        END BREADCRUMBS -->\n\n<div id=\"contentDiv\">\n<!-- START FILING DIV -->\n<div
        class=\"formDiv\">\n   <div id=\"formHeader\">\n      <div id=\"formName\">\n
        \        <strong>Form 10-Q</strong> - Quarterly report [Sections 13 or 15(d)]:
        \n      </div>\n      <div id=\"secNum\">\n         <strong><acronym title=\"Securities
        and Exchange Commission\">SEC</acronym> Accession <acronym title=\"Number\">No.</acronym></strong>
        0000912057-00-023442\n      </div>\n   </div>\n   <div class=\"formContent\">\n
        \  \n      <div class=\"formGrouping\">\n         <div class=\"infoHead\">Filing
        Date</div>\n         <div class=\"info\">2000-05-11</div>\n         <div class=\"infoHead\">Accepted</div>\n
        \        <div class=\"info\">2000-05-11 00:00:00</div>\n         <div class=\"infoHead\">Documents</div>\n
        \        <div class=\"info\">5</div>\n      </div>\n      <div class=\"formGrouping\">\n
        \        <div class=\"infoHead\">Period of Report</div>\n         <div class=\"info\">2000-04-01</div>\n
        \     </div>\n      <div style=\"clear:both\"></div>\n<!-- END FILING DIV
        -->\n<!-- START DOCUMENT DIV -->\n  </div>\n    </div>\n<div class=\"formDiv\">\n
        \  <div style=\"padding: 0px 0px 4px 0px; font-size: 12px; margin: 0px 2px
        0px 5px; width: 100%; overflow:hidden\">\n      <p>Document Format Files</p>\n
        \     <table class=\"tableFile\" summary=\"Document Format Files\">\n         <tr>\n
        \           <th scope=\"col\" style=\"width: 5%;\"><acronym title=\"Sequence
        Number\">Seq</acronym></th>\n            <th scope=\"col\" style=\"width:
        40%;\">Description</th>\n            <th scope=\"col\" style=\"width: 20%;\">Document</th>\n
        \           <th scope=\"col\" style=\"width: 10%;\">Type</th>\n            <th
        scope=\"col\">Size</th>\n         </tr>\n         <tr>\n            <td scope=\"row\">1</td>\n
        \           <td scope=\"row\">10-Q</td>\n            <td scope=\"row\"><a
        href=\"/Archives/edgar/data/320193/000091205700023442/\"></a></td>\n            <td
        scope=\"row\">10-Q</td>\n            <td scope=\"row\">84846</td>\n         </tr>\n
        \        <tr class=\"evenRow\">\n            <td scope=\"row\">2</td>\n            <td
        scope=\"row\">EX 3.2</td>\n            <td scope=\"row\"><a href=\"/Archives/edgar/data/320193/0000912057000[...]
[...]
