interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/1009672/000156459018004771/crr-10k_20171231.htm
  response:
    body:
      string: '<DOCUMENT>

        <TYPE>10-K

        <SEQUENCE>1

        <FILENAME>crr-10k_20171231.htm

        <DESCRIPTION>10-K

        <TEXT>

        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

        <html>

        <head>

        <title>

        crr-10k_20171231.htm

        </title>

        </head>

        <!-- NG Converter v4.0.8.21 -->

        <body>


        <p style="border-bottom:Double 2.25pt;padding-bottom:1pt;margin-bottom:0pt;margin-top:0pt;text-indent:0%;font-size:1pt;">&nbsp;</p>

        <p style="text-align:center;margin-top:3pt;margin-bottom:0pt;text-indent:0%;font-weight:bold;font-size:16pt;font-family:Times
        New Roman;font-style:normal;text-transform:none;font-variant: normal;">UNITED
        STATES[...]
