interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/1736243/000110465923076317/0001104659-23-076317.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001104659-23-076317.txt : 20230629\n<SEC-HEADER>0001104659-23-076317.hdr.sgml
        : 20230629\n<ACCEPTANCE-DATETIME>20230629160740\nACCESSION NUMBER:\t\t0001104659-23-076317\nCONFORMED
        SUBMISSION TYPE:\tS-1\nPUBLIC DOCUMENT COUNT:\t\t6\nFILED AS OF DATE:\t\t20230629\nDATE
        AS OF CHANGE:\t\t20230629\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED
        NAME:\t\t\tAcurx Pharmaceuticals, Inc.\n\t\tCENTRAL INDEX KEY:\t\t\t0001736243\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tPHARMACEUTICAL PREPARATIONS [2834]\n\t\tIRS NUMBER:\t\t\t\t000000000\n\t\tSTATE
        OF INCORPORATION:\t\t\tDE\n\t\tFISCAL YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\tS-1\n\t\tSEC ACT:\t\t1933 Act\n\t\tSEC FILE NUMBER:\t333-273015\n\t\tFILM
        NUMBER:\t\t231057449\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\t259 LIBERTY
        AVENUE\n\t\tCITY:\t\t\tSTATEN ISLAND\n\t\tSTATE:\t\t\tNY\n\t\tZIP:\t\t\t10305\n\t\tBUSINESS
        PHONE:\t\t917-533-1469\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t259 LIBERTY
        AVENUE\n\t\tCITY:\t\t\tSTATEN ISLAND\n\t\tSTATE:\t\t\tNY\n\t\tZIP:\t\t\t10305\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tAcurx Pharmaceuticals, LLC\n\t\tDATE
        OF NAME CHANGE:\t20180402\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>S-1\n<SEQUENCE>1\n<FILENAME>tm2319782d1_s1.htm\n<DESCRIPTION>FORM
        S-1\n<TEXT>\n<HTML>\n<HEAD>\n     <TITLE></TITLE>\n</HEAD>\n<BODY STYLE=\"font:
        10pt Times New Roman, Times, Serif\">\n\n<P STYLE=\"margin: 0\">&nbsp;</P>\n\n<P
        STYLE=\"font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align:
        center\"><B>As filed with the Securities and Exchange Commission\non June&nbsp;29,
        2023</B></P>\n\n<P STYLE=\"font: 10pt Times New Roman, Times, Serif; margin:
        0pt 0\">&nbsp;</P>\n\n<P STYLE=\"font: 10pt Times New Roman, Times, Serif;
        margin: 0pt 0; text-align: right\"><B>Registration No.&nbsp;333-</B></P>\n\n<P
        STYLE=\"font: 10pt Times New Roman, Times, Serif; margin: 0pt 0\"></P>\n\n<P
        STYLE=\"font: 10pt Times New Roman, Times, Serif; margin: 0pt 0\"></P>\n\n<!--
        Field: Rule-Page --><DIV STYLE=\"margin-top: 0; margin-bottom: 0; width: 100%\"><DIV
        STYLE=\"font-size: 1pt; border-top: Black 2pt solid; border-bottom: Black
        1pt solid\">&nbsp;</DIV></DIV><!-- Field: /Rule-Page -->\n\n<P STYLE=\"font:
        10pt Times New Roman, Times, Serif; margin: 0pt 0\">&nbsp;</P>\n\n<P STYLE=\"font:
        18pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: center\"><B>UNITED
        STATES</B></P>\n\n<P STYLE=\"font: 18pt Times New Roman, Times, Serif; margin:
     [...]
