interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/1888447/000119312525068732/0001193125-25-068732.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001193125-25-068732.txt : 20250331\n<SEC-HEADER>0001193125-25-068732.hdr.sgml
        : 20250331\n<ACCEPTANCE-DATETIME>20250331160353\nACCESSION NUMBER:\t\t0001193125-25-068732\nCONFORMED
        SUBMISSION TYPE:\t424B5\nPUBLIC DOCUMENT COUNT:\t\t3\nFILED AS OF DATE:\t\t20250331\nDATE
        AS OF CHANGE:\t\t20250331\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED
        NAME:\t\t\tExcelerate Energy, Inc.\n\t\tCENTRAL INDEX KEY:\t\t\t0001888447\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tNATURAL GAS DISTRIBUTION [4924]\n\t\tORGANIZATION
        NAME:           \t01 Energy & Transportation\n\t\tEIN:\t\t\t\t872878691\n\t\tSTATE
        OF INCORPORATION:\t\t\tDE\n\t\tFISCAL YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\t424B5\n\t\tSEC ACT:\t\t1933 Act\n\t\tSEC FILE NUMBER:\t333-271850\n\t\tFILM
        NUMBER:\t\t25793062\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\t2445 TECHNOLOGY
        FOREST BLVD.\n\t\tSTREET 2:\t\tLEVEL 6\n\t\tCITY:\t\t\tTHE WOODLANDS\n\t\tSTATE:\t\t\tTX\n\t\tZIP:\t\t\t77381\n\t\tBUSINESS
        PHONE:\t\t8328137100\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t2445 TECHNOLOGY
        FOREST BLVD.\n\t\tSTREET 2:\t\tLEVEL 6\n\t\tCITY:\t\t\tTHE WOODLANDS\n\t\tSTATE:\t\t\tTX\n\t\tZIP:\t\t\t77381\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>424B5\n<SEQUENCE>1\n<FILENAME>d833971d424b5.htm\n<DESCRIPTION>424B5\n<TEXT>\n<HTML><HEAD>\n<TITLE>424B5</TITLE>\n</HEAD>\n
        <BODY BGCOLOR=\"WHITE\" STYLE=\"line-height:Normal\">\n<h5 align=\"left\"
        style=\"font-size:10pt;font-weight:bold\"><a href=\"#toc\">Table of Contents</a></h5>\n\n\n<Center><DIV
        STYLE=\"width:8.5in\" align=\"left\">\n <P STYLE=\"margin-top:0pt; margin-bottom:0pt;
        font-size:10pt; font-family:Times New Roman\" ALIGN=\"right\"><B>Filed pursuant
        to Rule 424(b)(5) <BR> Registration No. 333-271850 <BR> </B></P>\n<p STYLE=\"margin-top:0pt;margin-bottom:0pt
        ; font-size:8pt\">&nbsp;</P><DIV STYLE=\"position:relative; overflow:visible;
        width:698pt; height:20pt; transform-origin:bottom left; transform: rotate(-90deg)
        translate(-100%, 100%) translateX(20pt);\">\n<P STYLE=\"margin-top:0pt; margin-bottom:0pt;
        font-size:10pt; font-family:ARIAL\"><FONT COLOR=\"#cb2d5e\"><B>The information
        in this preliminary prospectus supplement is not complete and may be changed.
        This preliminary prospectus supplement and the\naccompanying prospectus are
        not an offer to sell these securities, and are not soliciting an offer to
        buy these securities, in any jurisdiction where the offer or sale is not permitted.\n</B></FONT></P></DIV><DIV
        STYLE=\"position:relative; overflow:visible; margin-left:38pt; margin-right:38pt;
        transform: translateY(-20pt);\"> <p STYLE=\"margin-top:0pt;margin-bottom:0pt
        ; font-size:8pt\">&nbsp;</P>\n<P STYLE=\"margin-top:0pt; margin-bottom:0pt;
        font-size:10pt; font-family:arial\" ALIGN=\"center\"><FONT COLOR=\"#cb2d5e\">Subject
        to Completion, dated March&nbsp;31, 2025 </FONT></P>\n<P STYLE=\"margin-top:5pt;
        margin-bottom:0pt; font-size:12pt; font-family:arial\"><B><U>PROSPECTUS SUPPLEMENT</U></B>
        </P> <P STYLE=\"margin-top:0pt; margin-bottom:0pt; font-size:12pt; font-family:arial\">(To
        Prospectus dated May&nbsp;24, 2023) </P>\n<P STYLE=\"font-size:4pt;margin-top:0pt;margin-bottom:0pt\">&nbsp;</P>
        <P STYLE=\"line-height:1.0pt;margin-top:0pt;margin-bottom:2pt;border-bottom:1px
        solid #000000\">&nbsp;</P>\n<P STYLE=\"margin-top:9pt; margin-bottom:0pt;
        font-size:16pt; font-family:arial\" ALIGN=\"center\"><B>$150,000,000 </B></P>
        <P STYLE=\"font-size:9pt;margin-top:0pt;margin-bottom:0pt\">&nbsp;</P> <P
        STYLE=\"margin-top:0pt;margin-bottom:0pt\" ALIGN=\"center\">\n\n\n<IMG SRC=\"g833971g09i26.jpg\"
        ALT=\"LOGO\" STYLE=\"width:3.32903in;height:0.627544in;\">\n </P> <P STYLE=\"margin-top:6pt;
        margin-bottom:0pt; font-size:14pt; font-family:arial\" ALIGN=\"center\"><B>Excelerate
        Energy, Inc. </B></P>\n<P STYLE=\"margin-top:0pt; margin-bottom:0pt; font-size:14pt;
        font-family:arial\" ALIGN=\"center\"><B>Class&nbsp;A Common Stock </B></P>
        <P STYLE=\"font-size:7pt;margin-top:0pt;margin-bottom:0pt\">&nbsp;</P>\n<P
        STYLE=\"line-height:1.0pt;margin-top:0pt;margin-bottom:2pt;border-bottom:1px
        solid #000000\">&nbsp;</P> <P STYLE=\"margin-top:5pt; margin-bottom:0pt; font-size:12pt;
        font-family:arial\">We are offering shares of our Class&nbsp;A common stock,
        par\nvalue $0.001 per share (the &#147;Class&nbsp;A Common Stock&#148;), pursua[...]
