interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/1790837/000179083723000002/0001790837-23-000002.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001790837-23-000002.txt : 20230228\n<SEC-HEADER>0001790837-23-000002.hdr.sgml
        : 20230228\n<ACCEPTANCE-DATETIME>20230228132848\nACCESSION NUMBER:\t\t0001790837-23-000002\nCONFORMED
        SUBMISSION TYPE:\t13F-HR\nPUBLIC DOCUMENT COUNT:\t\t2\nCONFORMED PERIOD OF
        REPORT:\t20221231\nFILED AS OF DATE:\t\t20230228\nDATE AS OF CHANGE:\t\t20230228\nEFFECTIVENESS
        DATE:\t\t20230228\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED NAME:\t\t\tBull
        Street Advisors, LLC\n\t\tCENTRAL INDEX KEY:\t\t\t0001790837\n\t\tIRS NUMBER:\t\t\t\t834489500\n\t\tSTATE
        OF INCORPORATION:\t\t\tGA\n\t\tFISCAL YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\t13F-HR\n\t\tSEC ACT:\t\t1934 Act\n\t\tSEC FILE NUMBER:\t028-19609\n\t\tFILM
        NUMBER:\t\t23682935\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\t500 COMMERCIAL
        CT, SUITE 4\n\t\tCITY:\t\t\tSAVANNAH\n\t\tSTATE:\t\t\tGA\n\t\tZIP:\t\t\t31406\n\t\tBUSINESS
        PHONE:\t\t9124415185\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t500 COMMERCIAL
        CT, SUITE 4\n\t\tCITY:\t\t\tSAVANNAH\n\t\tSTATE:\t\t\tGA\n\t\tZIP:\t\t\t31406\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>13F-HR\n<SEQUENCE>1\n<FILENAME>primary_doc.xml\n<TEXT>\n<XML>\n<?xml
        version=\"1.0\" encoding=\"UTF-8\"?>\n<edgarSubmission xmlns=\"http://www.sec.gov/edgar/thirteenffiler\"
        xmlns:com=\"http://www.sec.gov/edgar/common\">\n  <schemaVersion>X0202</schemaVersion>\n
        \ <headerData>\n    <submissionType>13F-HR</submissionType>\n    <filerInfo>\n
        \     <liveTestFlag>LIVE</liveTestFlag>\n      <flags>\n        <confirmingCopyFlag>false</confirmingCopyFlag>\n
        \       <returnCopyFlag>false</returnCopyFlag>\n        <overrideInternetFlag>false</overrideInternetFlag>\n
        \     </flags>\n      <filer>\n        <credentials>\n          <cik>0001790837</cik>\n
        \         <ccc>XXXXXXXX</ccc>\n        </credentials>\n      </filer>\n      <periodOfReport>12-31-2022</periodOfReport>\n
        \   </filerInfo>\n  </headerData>\n  <formData>\n    <coverPage>\n      <reportCalendarOrQuarter>12-31-2022</reportCalendarOrQuarter>\n
        \     <filingManager>\n        <name>Bull Street Advisors, LLC</name>\n        <address>\n
        \         <com:street1>500 COMMERCIAL CT, SUITE 4</com:street1>\n          <com:city>SAVANNAH</com:city>\n
        \         <com:stateOrCountry>GA</com:stateOrCountry>\n          <com:zipCode>31406</com:zipCode>\n
        \       </address>\n      </filingManager>\n      <reportType>13F HOLDINGS
        REPORT</reportType>\n      <form13FFileNumber>028-19609</form13FFileNumber>\n
        \     <provideInfoForInstruction5>N</provideInfoForInstruction5>\n    </coverPage>\n
        \   <signatureBlock>\n      <name>Mark I Allen</name>\n      <title>CEO/CCO</title>\n
        \     <phone>912-441-5185</phone>\n      <signature>Mark I Allen</signature>\n
        \     <city>Savannah</city>\n      <stateOrCountry>GA</stateOrCountry>\n      <signatureDate>12-31-2022</signatureDate>\n
        \   </signatureBlock>\n    <summaryPage>\n      <otherIncludedManagersCount>0</otherIncludedManagersCount>\n
        \     <tableEntryTotal>90</tableEntryTotal>\n      <tableValueTotal>192767</tableValueTotal>\n
        \     <isConfidentialOmitted>false</isConfidentialOmitted>\n    </summaryPage>\n
        \ </formData>\n</edgarSubmission>\n</XML>\n</TEXT>\n</DOCUMENT>\n<DOCUMENT>\n<TYPE>INFORMATION
        TABLE\n<SEQUENCE>2\n<FILENAME>BSA13FDec2022.xml\n<DESCRIPTION>BSA 13F 12-31-2022\n<TEXT>\n<XML>\n<?xml
        version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ns1:informationTable
        xmlns:ns1=\"http://www.sec.gov/edgar/document/thirteenf/informationtable\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n\t<ns1:infoTable>\n\t\t<ns1:nameOfIssuer>3M
        Company</ns1:nameOfIssuer>\n\t\t<ns1:titleOfClass>COM</ns1:titleOfClass>\n\t\t<ns1:cusip>88579Y101</ns1:cusip>\n\t\t<ns1:value>287</ns1:value>\n\t\t<ns1:shrsOrPrnAmt>\n\t\t\t<ns1:sshPrnamt>2397</ns1:sshPrnamt>\n\t\t\t<ns1:sshPrnamtType>SH</ns1:sshPrnamtType>\n\t\t</ns1:shrsOrPrnAmt>\n\t\t<ns1:investmentDiscretion>SOLE</ns1:investmentDiscretion>\n\t\t<ns1:votingAuthority>\n\t\t\t<ns1:Sole>0</ns1:Sole>\n\t\t\t<ns1:Shared>0</ns1:Shared>\n\t\t\t<ns1:None>2397</ns1:None>\n\t\t</ns1:votingAuthority>\n\t</ns1:infoTable>\n\t<ns1:infoTable>\n\t\t<ns1:nameOfIssuer>AFLAC
        Inc.</ns1:nameOfIssuer>\n\t\t<ns1:titleOfClass>COM</ns1:titleOfClass>\n\t\t<ns1:cusip>001055102</ns1:cusip>\n\t\t<ns1:value>580</ns1:value>\n\t\t<ns1:shrsOrPrnAmt>\n\t\t\t<ns1:sshPrnamt>8065</ns1:sshPrnamt>\n\t\t\t<ns1:sshPrnamtType>SH</ns1:sshPrnamtType>\n\t\t</ns1:shrsOrPrnAmt>\n\t\t<ns1:investmentDiscretion>SOLE</ns1:investmentDiscretion>\n\t\t<ns1:votingAuthority>\n\t\t\t<n[...]
