interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/701347/000114036125024210/0001140361-25-024210.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001140361-25-024210.txt : 20250630\n<SEC-HEADER>0001140361-25-024210.hdr.sgml
        : 20250630\n<ACCEPTANCE-DATETIME>20250630170114\nACCESSION NUMBER:\t\t0001140361-25-024210\nCONFORMED
        SUBMISSION TYPE:\tS-3\nPUBLIC DOCUMENT COUNT:\t\t9\nFILED AS OF DATE:\t\t20250630\nDATE
        AS OF CHANGE:\t\t20250630\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED
        NAME:\t\t\tCENTRAL PACIFIC FINANCIAL CORP\n\t\tCENTRAL INDEX KEY:\t\t\t0000701347\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tSTATE COMMERCIAL BANKS [6022]\n\t\tORGANIZATION
        NAME:           \t02 Finance\n\t\tEIN:\t\t\t\t990212597\n\t\tSTATE OF INCORPORATION:\t\t\tHI\n\t\tFISCAL
        YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM TYPE:\t\tS-3\n\t\tSEC ACT:\t\t1933
        Act\n\t\tSEC FILE NUMBER:\t333-288430\n\t\tFILM NUMBER:\t\t251092943\n\n\tBUSINESS
        ADDRESS:\t\n\t\tSTREET 1:\t\t220 S KING ST\n\t\tCITY:\t\t\tHONOLULU\n\t\tSTATE:\t\t\tHI\n\t\tZIP:\t\t\t96813\n\t\tBUSINESS
        PHONE:\t\t8085440500\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\tP O BOX 3590\n\t\tCITY:\t\t\tHONOLULU\n\t\tSTATE:\t\t\tHI\n\t\tZIP:\t\t\t96811\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tCPB INC\n\t\tDATE OF NAME CHANGE:\t19920703\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>S-3\n<SEQUENCE>1\n<FILENAME>ny20051086x1_s3.htm\n<DESCRIPTION>S-3\n<TEXT>\n<html><head>\n
        \   <title></title>\n    <!-- Licensed to: Broadridge Financial Solutions,
        Inc.\n         Document created using Broadridge PROfile 25.5.1.5318\n         Copyright
        1995 - 2025 Broadridge -->\n  </head><body style=\"color: #000000;\" bgcolor=\"#ffffff\">\n<!--Begin
        Page 1-->\n<div class=\"BRDSX_page\" style=\"text-align: left; margin: auto;
        line-height: initial; width: 540pt;\"><a name=\"ny20051086x1_s3_100-regcov_pg1\"><!--Anchor--></a><p
        style=\"text-align: left; font-family: 'Times New Roman', Times, Serif; font-size:
        8pt; font-variant: normal; font-weight: bold\"><a href=\"#TOC\">TABLE OF CONTENTS</a></p><div
        class=\"BRDSX_page-content\"><div class=\"BRDSX_block-main\" style=\"width:
        540pt; margin-left: 0pt;\"><div class=\"BRDSX_h1\" style=\"color: #000000;
        font-family: 'Times New Roman', Times, serif; font-size: 10pt; font-weight:
        bold; margin-top: 25pt; text-align: center;\">As filed with the Securities
        and Exchange Commission on June&#160;30, 2025 </div><div class=\"BRDSX_regno\"
        style=\"color: #000000; font-family: 'Times New Roman', Times, serif; font-size:
        10pt; font-weight: bold; margin-top: 1pt; text-align: right;\">Registration
        No. 333-&#8195; </div></div></div><div class=\"BRDSX_block-frill\" style=\"width:
        540pt; margin-left: 0pt;\"><div><div class=\"BRDSX_rule-full\" style=\"height:
        0pt; width: 100%; border-bottom: 2pt solid #000000; margin-top: 1pt; margin-bottom:
        1pt; margin-left: auto; margin-right: auto;\"> </div><div class=\"BRDSX_rule-full\"
        style=\"height: 0pt; width: 100%; border-bottom: 1pt solid #000000; margin-bottom:
        1pt; margin-left: auto; margin-right: auto; margin-top: 4pt;\"> </div></div></div><div
        class=\"BRDSX_block-main\" style=\"width: 540pt; margin-left: 0pt;\"><div
        class=\"BRDSX_h1\" style=\"color: #000000; font-family: 'Times New Roman',
        Times, serif; font-size: 12pt; font-weight: bold; margin-top: 8pt; text-align:
        center;\">UNITED STATES <br></div><div class=\"BRDSX_h1\" style=\"color: #000000;
        font-family: 'Times New Roman', Times, serif; font-size: 12pt; font-weight:
        bold; margin-top: 0pt; text-align: center;\">SECURITIES AND EXCHANGE COMMISSION
        <br></div><div class=\"BRDSX_h1\" style=\"color: #000000; font-family: 'Times
        New Roman', Times, serif; font-weight: bold; margin-top: 0pt; text-align:
        center; font-size: 10pt;\"><font style=\"font-size: 10pt;\">Washington, D.C.
        20549 </font></div><div><div class=\"BRDSX_rule-partial\" style=\"height:
        0pt; width: 96pt; border-bottom: 1pt solid #000000; margin-bottom: 2pt; margin-left:
        auto; margin-right: auto; margin-top: 1.75pt;\"> </div></div><div class=\"BRDSX_h1\"
        style=\"color: #000000; font-family: 'Times New Roman', Times, serif; font-size:
        13pt; font-weight: bold; margin-top: 2pt; text-align: center;\">FORM S-3 <br></div><div
        class=\"BRDSX_h1\" style=\"color: #000000; font-family: 'Times New Roman',
        Times, serif; font-size: 13pt; font-weight: bold; margin-top: 0pt; text-align:
        center;\">REGISTRATION STATEMENT <br></div><div class=\"BRDSX_h1\" style=\"color:
        #000000; font-family: 'Times New Roman', Times, serif; font-weight: bold;
        margin-top: 0pt; text-align: center; font-size: 11pt;\"><font style=\"font-size:
        11pt; font-style: italic;\">UNDER</font><font style=\"font-size: 11pt; font-weight:
        normal;\"> </font><br></div><div class=\"BRDSX_h1\" style=\"color: #000000;
        font-family: 'Times New Roman', Times, serif; font-weight: bold; margin-top:
        0pt; text-align: center; font-size: 11pt;\"><font style=\"font-size: 11pt;
        font-style: italic;\">THE SECURITIES ACT OF 1933</font><font style=\"font-size:
        11pt; font-weight: normal;\"> </font></div><div><div class=\"BRDSX_rule-partial\"
        style=\"height: 0pt; width: 96pt; border-bottom: 1pt solid #000000; margin-bottom:
        2pt; margin-left: auto; margin-right: auto; margin-top: 1.75pt;\"> </div></div><div
        class=\"BRDSX_h1\" style=\"color: #000000; font-family: 'Times New Roman',
        Times, serif; font-size: 15pt; font-weight: bold; margin-top: 2pt; text-align:
        center;\">CENTRAL PACIFIC FINANCIAL CORP. <br></div><div class=\"BRDSX_h1\"
        style=\"color: #000000; font-family: 'Times New Roman', Times, serif; font-weight:
        bold; margin-top: 0pt; text-align: center; font-size: 9.6pt;\"><font style=\"font-size:
        9.6pt;\">(Exact name of registrant as specified in its charter) </font></div><div><div
        class=\"BRDSX_rule-partial\" style=\"height: 0pt; width: 96pt; border-bottom:
        1pt solid #000000; margin-bottom: 2pt; margin-left: auto; margin-right: auto;
        margin-top: 1.75pt;\"> </div></div><div class=\"BRDSX_fpara\" style=\"color:
        #000000; font-family: 'Times New Roman', Times, serif; font-size: 10pt; margin-top:
        1pt; margin-left: 0pt; text-align: left;\"> </div><table cellspacing=\"0\"
        cellpadding=\"0\" class=\"BRDSX_txttab\" style=\"border-spacing: 0; margin-top:
        -1pt; width: 540pt; margin-left: auto; margin-right: auto;\"><tr class=\"BRDSX_boxspacer\"><td
        style=\"height: 6pt; width: 168pt;\"><div style=\"font-size: 1pt;\">&#8194;</div></td><td
        style=\"height: 6pt; width: 6pt;\"><div style=\"font-size: 1pt;\">&#8194;</div></td><td
        style=\"height: 6pt; width: 6pt;\"><div style=\"font-size: 1pt;\">&#8194;</div></td><td
        style=\"height: 6pt; width: 168pt;\"><div style=\"font-size: 1pt;\">&#8194;</div></td><td
        style=\"height: 6pt; width: 6pt;\"><div style=\"font-size: 1pt;\">&#8194;</div></td><td
        style=\"height: 6pt; width: 6pt;\"><div style=\"font-size: 1pt;\">&#8194;</div></td><td
        style=\"height: 6pt; width: 180pt;\"><div style=\"font-size: 1pt;\">&#8194;</div></td></tr><tr><td
        style=\"width: 168pt; text-align: left; vertical-align: top;\"><div class=\"BRDSX_fpara\"
        style=\"color: #000000; font-family: 'Times New Roman', Times, serif; font-size:
        9.6pt; font-weight: bold; margin-top: 0pt; text-align: center;\">Hawaii <br></div><div
        class=\"BRDSX_fpara\" style=\"color: #000000; font-family: 'Times New Roman',
        Times, serif; font-size: 9.6pt; font-weight: bold; margin-top: 0pt; text-align:
        center;\">(State or other jurisdiction of <br></div><div class=\"BRDSX_fpara\"
        style=\"color: #000000; font-family: 'Times New Roman', Times, serif; font-size:
        9.6pt; font-weight: bold; margin-top: 0pt; text-align: center;\">incorporation
        or organization)</div></td><td style=\"width: 6pt;\"><div style=\"font-size:
        1pt;\">&#8194;</div></td><td style=\"width: 6pt;\"><div style=\"font-size:
        1pt;\">&#8194;</div></td><td style=\"width: 168pt; text-align: left; vertical-align:
        bottom;\"><div class=\"BRDSX_fpara\" style=\"color: #000000; font-family:
        'Times New Roman', Times, serif; font-size: 9.6pt; font-weight: bold; margin-top:
        0pt; text-align: center;\">6022 <br></div><div class=\"BRDSX_fpara\" style=\"color:
        #00000[...]
