interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/submissions/CIK0001009672.json
  response:
    body:
      string: '{"cik":"0001009672","entityType":"operating","sic":"3290","sicDescription":"Abrasive,
        Asbestos & Misc Nonmetallic Mineral Prods","ownerOrg":null,"insiderTransactionForOwnerExists":0,"insiderTransactionForIssuerExists":1,"name":"CARBO
        CERAMICS INC","tickers":[],"exchanges":[],"ein":"721100013","lei":null,"description":"","website":"","investorWebsite":"","category":"Non-accelerated
        filer<br>Smaller reporting company","fiscalYearEnd":"1231","stateOfIncorporation":"DE","stateOfIncorporationDescription":"DE","addresses":{"mailing":{"street1":"575
        NORTH DAIRY ASHFORD","street2":"SUITE 300","city":"HOUSTON","stateOrCountry":"TX","zipCode":"77079","stateOrCountryDescription":"TX","isForeignLocation":null,"foreignStateTerritory":null,"country":null,"countryCode":null},"business":{"street1":"575
        NORTH DAIRY ASHFORD","street2":"SUITE 300","city":"HOUSTON","stateOrCountry":"TX","zipCode":"77079","stateOrCountryDescription":"TX","isForeignLocation":null,"foreignStateTerritory":null,"country":null,"countryCode":null}},"phone":"2819216400","flags":"","formerNames":[],"filings":{"recent":{"accessionNumber":["0001193125-20-329449","0000315066-20-001636","0001209191-20-040955","0001564590-20-030114","0001564590-20-030074","0001564590-20-029382","0001209191-20-030810","9999999995-20-001207","9999999995-20-001196","9999999995-20-001195","0001564590-20-025870","0001564590-20-025867","0001564590-20-025861","0001564590-20-025860","0001564590-20-025858","0001564590-20-018611","0001564590-20-015270","0001564590-20-013837","0001564590-20-013833","0001387131-20-001312","0000315066-20-000906","0001564590-20-0[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/submissions/CIK0001009672-submissions-001.json
  response:
    body:
      string: '{"accessionNumber":["0001135080-03-000118","0001135080-03-000117","0001135080-03-000116","0001135080-03-000115","0001135080-03-000114","0001135080-03-000113","0001135080-03-000112","0001135080-03-000111","0001135080-03-000110","0001135080-03-000109","0001135080-03-000108","0001135080-03-000107","0001135080-03-000106","0001135080-03[...]
