interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/submissions/CIK0001033331.json
  response:
    body:
      string: '{"cik":"0001033331","entityType":"other","sic":"7372","sicDescription":"Services-Prepackaged
        Software","ownerOrg":"06 Technology","insiderTransactionForOwnerExists":1,"insiderTransactionForIssuerExists":0,"name":"HASTINGS
        REED","tickers":[],"exchanges":[],"ein":null,"lei":null,"description":"","website":"","investorWebsite":"","category":"","fiscalYearEnd":"1231","stateOfIncorporation":"DE","stateOfIncorporationDescription":"DE","addresses":{"mailing":{"street1":"121
        ALBRIGHT WAY","street2":null,"city":"LOS GATOS","stateOrCountry":"CA","zipCode":"95032","stateOrCountryDescription":"CA","isForeignLocation":0,"foreignStateTerritory":null,"country":null,"countryCode":null},"business":{"street1":null,"street2":null,"city":null,"stateOrCountry":null,"zipCode":null,"stateOrCountryDescription":null,"isForeignLocation":null,"foreignStateTerritory":null,"country":null,"countryCode":null}},"phone":null,"flags":"","formerNames":[],"filings":{"recent":{"accessionNumber":["0001065280-26-000091","0001628280-26-013239","0001065280-26-000079","0001065280-26-000048","0001628280-26-004611","0001065280-26-000002","0001628280-26-000144","0001065280-25-000472","0001628280-25-054437","0001065280-25-000448","0001065280-25-000414","0001628280-25-047817","0001065280-25-000398","0001628280-25-043481","0001628280-25-043435","0001065280-25-000362","0002007317-25-001008","0001065280-25-000325","0002007317-25-000779","0001065280-25-000299","0001065280-25-000297","0002007317-25-0[...]
