interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/submissions/CIK0001881551.json
  response:
    body:
      string: '{"cik":"0001881551","entityType":"operating","sic":"3690","sicDescription":"Miscellaneous
        Electrical Machinery, Equipment & Supplies","ownerOrg":"04 Manufacturing","insiderTransactionForOwnerExists":0,"insiderTransactionForIssuerExists":1,"name":"Solidion
        Technology Inc.","tickers":["STI"],"exchanges":["Nasdaq"],"ein":"871993879","lei":null,"description":"","website":"","investorWebsite":"","category":"<br>Emerging
        growth company","fiscalYearEnd":"1231","stateOfIncorporation":"DE","stateOfIncorporationDescription":"DE","addresses":{"mailing":{"street1":"13355
        NOEL ROAD","street2":"SUITE 1100","city":"DALLAS","stateOrCountry":"TX","zipCode":"75240","stateOrCountryDescription":"TX","isForeignLocation":0,"foreignStateTerritory":null,"country":null,"countryCode":null},"business":{"street1":"13355
        NOEL ROAD","street2":"SUITE 1100","city":"DALLAS","stateOrCountry":"TX","zipCode":"75240","stateOrCountryDescription":"TX","isForeignLocation":null,"foreignStateTerritory":null,"country":null,"countryCode":null}},"phone":"(972)
        918-5120","flags":"","formerNames":[{"name":"Nubia Brand International Corp.","from":"2021-09-27T04:00:00.000Z","to":"2024-02-02T05:00:00.000Z"}],"filings":{"recent":{"accessionNumber":["0001213900-26-033616","0001213900-26-015796","0001213900-26-015206","0001213900-26-015175","0001213900-26-010234","9999999995-25-003724","0001678511-25-000007","0001213900-25-121708","0001213900-25-119716","0001678511-25-000006","0001213900-25-115510","0001213900-25-115497","0001972481-25-000282","0001213900-25-112830","0001213900-25-112742","0001213900-25-111602","0001213900-25-111600","0001213900-25-105610","0001213900-25-104844","0001213900-25-102678","0001213900-25-099264","0001213900-25-0[...]
