interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/submissions/CIK0000895419.json
  response:
    body:
      string: '{"cik":"0000895419","entityType":"operating","sic":"3674","sicDescription":"Semiconductors
        & Related Devices","ownerOrg":"04 Manufacturing","insiderTransactionForOwnerExists":1,"insiderTransactionForIssuerExists":1,"name":"WOLFSPEED,
        INC.","tickers":["WOLF"],"exchanges":["NYSE"],"ein":"561572719","lei":null,"description":"","website":"","investorWebsite":"","category":"Large
        accelerated filer","fiscalYearEnd":"0629","stateOfIncorporation":"DE","stateOfIncorporationDescription":"DE","addresses":{"mailing":{"street1":"4600
        SILICON DR","street2":null,"city":"DURHAM","stateOrCountry":"NC","zipCode":"27703-8475","stateOrCountryDescription":"NC","isForeignLocation":0,"foreignStateTerritory":null,"country":null,"countryCode":null},"business":{"street1":"4600
        SILICON DR","street2":null,"city":"DURHAM","stateOrCountry":"NC","zipCode":"27703","stateOrCountryDescription":"NC","isForeignLocation":null,"foreignStateTerritory":null,"country":null,"countryCode":null}},"phone":"9194075300","flags":"","formerNames":[{"name":"CREE,
        INC.","from":"2019-08-20T04:00:00.000Z","to":"2021-10-01T04:00:00.000Z"},{"name":"CREE
        INC","from":"2000-10-27T04:00:00.000Z","to":"2019-08-05T04:00:00.000Z"},{"name":"CREE
        RESEARCH INC /NC/","from":"1996-11-14T05:00:00.000Z","to":"1999-05-11T04:00:00.000Z"}],"filings":{"recent":{"accessionNumber":["0001193125-26-126509","0001193125-26-126490","0001193125-26-126483","0001193125-26-116233","0001193125-26-116228","0001193125-26-116036","9999999995-26-000865","0001193125-26-114339","0001193125-26-098748","0001193125-26-098669","0001193125-26-098608","0000080255-26-000293","0000902664-26-001152","0001193125-26-050721","0001422848-26-000036","0000895421-26-000064","0001628280-26-006380","0000895419-26-000019","0000895419-26-000016","0000895419-26-000012","0001193125-26-030582","0000895419-26-0[...]
