interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/320193/000000000024005673/0000000000-24-005673.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0000000000-24-005673.txt : 20240614\n<SEC-HEADER>0000000000-24-005673.hdr.sgml
        : 20240614\n<ACCEPTANCE-DATETIME>20240516153610\n<PRIVATE-TO-PUBLIC>\nACCESSION
        NUMBER:\t\t0000000000-24-005673\nCONFORMED SUBMISSION TYPE:\tUPLOAD\nPUBLIC
        DOCUMENT COUNT:\t\t2\nFILED AS OF DATE:\t\t20240516\n\nFILED FOR:\t\t\n\n\tCOMPANY
        DATA:\t\n\t\tCOMPANY CONFORMED NAME:\t\t\tApple Inc.\n\t\tCENTRAL INDEX KEY:\t\t\t0000320193\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tELECTRONIC COMPUTERS [3571]\n\t\tORGANIZATION
        NAME:           \t06 Technology\n\t\tIRS NUMBER:\t\t\t\t942404110\n\t\tSTATE
        OF INCORPORATION:\t\t\tCA\n\t\tFISCAL YEAR END:\t\t\t0928\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\tUPLOAD\n\t\tSEC FILE NUMBER:\t001-36743\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET
        1:\t\tONE APPLE PARK WAY\n\t\tCITY:\t\t\tCUPERTINO\n\t\tSTATE:\t\t\tCA\n\t\tZIP:\t\t\t95014\n\t\tBUSINESS
        PHONE:\t\t(408) 996-1010\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\tONE APPLE
        PARK WAY\n\t\tCITY:\t\t\tCUPERTINO\n\t\tSTATE:\t\t\tCA\n\t\tZIP:\t\t\t95014\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tAPPLE INC\n\t\tDATE OF NAME CHANGE:\t20070109\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tAPPLE COMPUTER INC\n\t\tDATE OF NAME
        CHANGE:\t19970808\nPUBLIC REFERENCE ACCESSION NUMBER:\t\t0000320193-23-000106\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>LETTER\n<SEQUENCE>1\n<FILENAME>filename1.pdf\n<TEXT>\n<PDF>\nbegin
        644 filename1\nM)5!$1BTQ+C4*)>+CS],*,2 P(&]B:@H\\/\"]#;VQO<E-P86-E+T1E=FEC94=R\nM87DO4W5B='EP92]);6%G92](96EG:'0@,C0W+T9I;'1E<B]&;&%T941E8V]D\nM92]4>7!E+UA/8FIE8W0O5VED=&@@,30R.\"],96YG=&@@,S8U+T)I='-097)#\nM;VUP;VYE;G0@.#X^<W1R96%M\"GB<[<&!
        \    ,,@?^K=X 15 0\nM\nM\nM\nM\nM\nM\nM\nM                        SP!1E;J9\"F5N9'-T<F5A;0IE;F1O8FH*,B
        P\nM(&]B:@H\\/\"]#;VQO<E-P86-E6R]#86Q21T(\\/\"]'86UM85LR+C(@,BXR(#(N\nM,ETO5VAI=&50;VEN=%LP+CDU,#0S(#$@,2XP.5TO36%T<FEX6S
  [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/320193/0000000000-24-005673-index.html
  response:
    body:
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\" \"http://www.w3.org/TR/html4/loose.dtd\">\n<html
        xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n<meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\" />\n<meta http-equiv=\"Last-Modified\"
        content=\"Thu, 16 May 2024 19:36:10 GMT\" />\n<title>EDGAR Filing Documents
        for 0000000000-24-005673</title>\n<link  rel=\"stylesheet\" href=\"/edgar/search/global/css/bootstrap/bootstrap.min.css\"
        type=\"text/css\" />\n<link rel=\"stylesheet\" type=\"text/css\" href=\"/include/interactive2.css\"
        />\n</head>\n<body style=\"margin: 0; font-size: 16px; \">\n<!-- SEC Web Analytics
        - For information please visit: https://www.sec.gov/privacy.htm#collectedinfo
        -->\n<noscript><iframe src=\"//www.googletagmanager.com/ns.html?id=GTM-TD3BKV\"\nheight=\"0\"
        width=\"0\" style=\"display:none;visibility:hidden\"></iframe></noscript>\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\nnew
        Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\nj=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\n'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);\n})(window,document,'script','dataLayer','GTM-TD3BKV');</script>\n<!--
        End SEC Web Analytics -->\n<noscript><div style=\"color:red; font-weight:bold;
        text-align:center;\">This page uses Javascript. Your browser either doesn't
        support Javascript or you have it turned off. To see this page as it is meant
        to appear please use a Javascript enabled browser.</div></noscript>\n<!--
        BEGIN BANNER -->\n<div  id=\"header\" style=\"text-align: center;\">\n   <nav
        id=\"main-navbar\" class=\"navbar navbar-expand\">\n      <ul class=\"navbar-nav\">\n
        \        <li class=\"nav-item\">\n            <a class=\"nav__sec_link\" href=\"https://www.sec.gov\">\n
        \              <img src=\"/edgar/search/images/edgar-logo-2x.png\" alt=\"\"
        style=\"height:6.25rem\">\n            </a>\n         </li>\n         <li
        class=\"nav-item\">\n            <a class=\"nav__sec_link\" href=\"https://www.sec.gov\">\n
        \              <span class=\"link-text d-inline\">SEC.gov</span>\n            </a>\n
        \        </li>\n         <li class=\"nav-item\">\n            <a class=\"nav__link\"
        href=\"//www.sec.gov/submit-filings/about-edgar\" id=\"edgar-short-form\"><span
        class=\"link-text\">EDGAR</span></a>\n         </li>\n      </ul>\n\n      <ul
        class=\"navbar-nav ml-auto\">\n         <li class=\"nav-item\">\n\t\t\t<a
        href=\"/cgi-bin/browse-edgar?action=getcurrent\" class=\"nav__link\">Latest
        Filings</a> \n         </li>\n         <li class=\"nav-item\">\n            <a
        href=\"https://www.sec.gov/edgar/search-and-access\" class=\"nav__link\">Filings
        search tools</a>\n         </li>\n      </ul>\n   </nav>\n   <div style=\"position:
        absolute;width: 100%;\"> <h1 style=\"position: relative;top: -60px;\">Filing
        Detail</h1></div>\n</div>\n<!-- END BANNER -->\n\n\n<!-- BEGIN BREADCRUMBS
        -->\n<div id=\"breadCrumbs\">\n   <ul>\n      <li><a href=\"/index.htm\">SEC
        Home</a> &#187;</li>\n      <li><a href=\"/edgar/searchedgar/companysearch.html\">Company
        Search</a> &#187;</li>\n      <li class=\"last\">Current Page</li>\n   </ul>\n</div>\n<!--
        END BREADCRUMBS -->\n\n<div id=\"contentDiv\">\n<!-- START FILING DIV -->\n<div
        class=\"formDiv\">\n   <div id=\"formHeader\">\n      <div id=\"formName\">\n
        \        <strong>Form UPLOAD</strong> - SEC-generated letter: \n      </div>\n
        \     <div id=\"secNum\">\n         <strong><acronym title=\"Securities and
        Exchange Commission\">SEC</acronym> Accession <acronym title=\"Number\">No.</acronym></strong>
        0000000000-24-005673\n      </div>\n   </div>\n   <div class=\"formContent\">\n
        \  \n      <div class=\"formGrouping\">\n         <div class=\"infoHead\">Filing
        Date</div>\n         <div class=\"info\">2024-05-16</div>\n         <div class=\"infoHead\">Accepted</div>\n
        \        <div class=\"info\">2024-05-16 15:36:10</div>\n         <div class=\"infoHead\">Documents</div>\n
        \        <div class=\"info\">2</div>\n      </div>\n      <div style=\"clear:both\"></div>\n<!--
        END FILING DIV -->\n<!-- START DOCUMENT DIV -->\n  </div>\n    </div>\n<div
        class=\"formDiv\">\n   <div style=\"padding: 0px 0px 4px 0px; font-size: 12px;
        margin: 0px 2px 0px 5px; width: 100%; overflow:hidden\">\n      <p>Document
        Format Files</p>\n      <table class=\"tableFile\" summary=\"Document Format
        Files\">\n         <tr>\n            <th scope=\"col\" style=\"width: 5%;\"><acronym
        title=\"Sequence Number\">Seq</acronym></th>\n            <th scope=\"col\"
        style=\"width: 40%;\">Description</th>\n            <th scope=\"col\" style=\"width:
        20%;\">Document</th>\n            <th scope=\"col\" style=\"width: 10%;\">Type</th>\n
        \           <th scope=\"col\">Size</th>\n         </tr>\n         <tr>\n            <td
        scope=\"row\">1</td>\n            <td scope=\"row\"></td>\n            <td
        scope=\"row\"><a href=\"/Archives/edgar/data/320193/000000000024005673/filename1.pdf\">filename1.pdf</a></td>\n
        \           <td scope=\"row\">LETTER</td>\n            <td scope=\"row\">27492</td>\n
        \        </tr>\n         <tr class=\"evenRow\">\n            <td scope=\"row\">2</td>\n
        \           <td scope=\"row\"></td>\n            <td scope=\"row\"><a href=\"/Archives/edgar/data/320193/000000000024005673/filename2.txt\">filen[...]
