interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyfacts/CIK0001835632.json
  response:
    body:
      string: '{"cik":1835632,"entityName":"MARVELL TECHNOLOGY, INC","facts":{"dei":{"EntityCommonStockSharesOutstanding":{"label":"Entity
        Common Stock, Shares Outstanding","description":"Indicate number of shares
        or other units outstanding of each of registrant''s classes of capital or
        common stock or other ownership interests, if and as stated on cover of related
        periodic report. Where multiple classes or units exist define each class/interest
        by adding class of stock items such as Common Class A [Member], Common Class
        B [Member] or Partnership Interest [Member] onto the Instrument [Domain] of
        the Entity Listings, Instrument.","units":{"shares":[{"end":"2021-06-02","val":819500000,"accn":"0001835632-21-000010","fy":2022,"fp":"Q1","form":"10-Q","filed":"2021-06-09","frame":"CY2021Q2I"},{"end":"2021-08-20","val":823600000,"accn":"0001835632-21-000022","fy":2022,"fp":"Q2","form":"10-Q","filed":"2021-08-27","frame":"CY2021Q3I"},{"end":"2021-11-26","val":843800000,"accn":"0001835632-21-000032","fy":2022,"fp":"Q3","form":"10-Q","filed":"2021-12-03","frame":"CY2021Q4I"},{"end":"2022-03-03","val":847800000,"accn":"0001835632-22-000016","fy":2022,"fp":"FY","form":"10-K","filed":"2022-03-10","frame":"CY2022Q1I"},{"end":"2022-05-20","val":849900000,"accn":"0001835632-22-000[...]
