interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/1847577/000114036121010426/0001140361-21-010426.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001140361-21-010426.txt : 20210329\n<SEC-HEADER>0001140361-21-010426.hdr.sgml
        : 20210329\n<ACCEPTANCE-DATETIME>20210329133451\nACCESSION NUMBER:\t\t0001140361-21-010426\nCONFORMED
        SUBMISSION TYPE:\tS-1\nPUBLIC DOCUMENT COUNT:\t\t7\nFILED AS OF DATE:\t\t20210329\n\nFILER:\n\n\tCOMPANY
        DATA:\t\n\t\tCOMPANY CONFORMED NAME:\t\t\tLearn CW Investment Corp\n\t\tCENTRAL
        INDEX KEY:\t\t\t0001847577\n\t\tIRS NUMBER:\t\t\t\t000000000\n\t\tSTATE OF
        INCORPORATION:\t\t\tE9\n\t\tFISCAL YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\tS-1\n\t\tSEC ACT:\t\t1933 Act\n\t\tSEC FILE NUMBER:\t333-254820\n\t\tFILM
        NUMBER:\t\t21780902\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\t11755 WILSHIRE
        BLVD.\n\t\tSTREET 2:\t\tSUITE 2320\n\t\tCITY:\t\t\tLOS ANGELES\n\t\tSTATE:\t\t\tCA\n\t\tZIP:\t\t\t90025\n\t\tBUSINESS
        PHONE:\t\t4243242990\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t11755 WILSHIRE
        BLVD.\n\t\tSTREET 2:\t\tSUITE 2320\n\t\tCITY:\t\t\tLOS ANGELES\n\t\tSTATE:\t\t\tCA\n\t\tZIP:\t\t\t90025\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>S-1\n<SEQUENCE>1\n<FILENAME>nt10022269x1_s1.htm\n<DESCRIPTION>S-1\n<TEXT>\n<html><head>\n
        \   <title></title>\n    <!-- Licensed to: Broadridge Financial Solutions,
        Inc.\n         Document created using EDGARfilings PROfile 7.4.0.0\n         Copyright
        1995 - 2021 Broadridge -->\n  </head><body style=\"color: #000000;\" bgcolor=\"#ffffff\">\n<!--Begin
        Page 1-->\n<div class=\"page\" style=\"text-align: left; margin: auto; position:
        relative; width: 540pt;\"><a name=\"nt10022269x1_s1_100-regcov_pg1\"><!--Anchor--></a><p
        style=\"text-align: left; font-family: 'Times New Roman', Times, Serif; font-size:
        8pt; font-variant: normal; font-weight: bold\"><a href=\"#TOC\">TABLE OF CONTENTS</a></p><div
        class=\"page-content\"><div class=\"block-main\" style=\"width: 540pt; margin-left:
        0pt;\"><div class=\"h1\" style=\"color: #000000; font-family: 'Times New Roman',
        Times, serif; font-size: 10pt; font-weight: bold; margin-top: 14pt; text-align:
        center;\">As filed with the U.S. Securities and Exchange Commission on March
        29, 2021 <br></div><div class=\"h1\" style=\"color: #000000; font-family:
        'Times New Roman', Times, serif; font-size: 10pt; font-weight: bold; margin-top:
        0pt; text-align: center;\">under the Securities Act of 1933, as amended.</div><div
        class=\"regno\" style=\"color: #000000; font-family: 'Times New Roman', Times,
        serif; font-size: 10pt; font-weight: bold; margin-top: 1pt; text-align: right;\">Registration
        No. 333-</div></div></div><div class=\"block-frill\" style=\"width: 540pt;
        margin-left: 0pt;\"><div><div class=\"rule-full\" style=\"height: 0pt; width:
        100%; border-bottom: 2pt solid #000000; margin-top: 1pt; margin-bottom: 1pt;
        margin-left: auto; margin-right: auto;\"> </div><div class=\"rule-full\" style=\"height:
        0pt; width: 100%; border-bottom: 1pt solid #000000; margin-bottom: 1pt; margin-left:
        auto; margin-right: auto; margin-top: 4pt;\"> </div></div></div><div class=\"block-main\"
        style=\"width: 540pt; margin-left: 0pt;\"><div class=\"h1\" style=\"color:
        #000000; font-family: 'Times New Roman', Times, serif; font-size: 14pt; font-weight:
        bold; margin-top: 9.5pt; text-align: center;\">UNITED STATES<br></div><div
        class=\"h1\" style=\"color: #000000; font-family: 'Times New Roman', Times,
        serif; font-size: 14pt; font-weight: bold; margin-top: 0pt; text-align: center;\">SECURITIES
        AND EXCHANGE COMMISSION<br></div><div class=\"h1\" style=\"color: #000000;
        font-family: 'Times New Roman', Times, serif; font-size: 14pt; font-weight:
        bold; margin-top: 0pt; text-align: center;\"><font style=\"font-size: 10pt;\">Washington,
        D.C. 20549</font></div><div><div class=\"rule-partial\" style=\"height: 0pt;
        width: 96pt; border-bottom: 1pt solid #000000; margin-bottom: 2pt; margin-left:
        auto; margin-right: auto; margin-top: 2.25pt;\"> </div></div><div class=\"fpara\"
        style=\"color: #000000; font-family: 'Times New Roman', Times, serif; font-size:
        9pt; font-weight: bold; margin-top: 4.5pt; text-align: center;\">FORM S-1<font
        style=\"font-weight: normal;\"> </font></div><div class=\"fpara\" style=\"color:
        #000000; font-family: 'Times New Roman', Times, serif; font-siz[...]
