interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/submissions/CIK0000315090.json
  response:
    body:
      string: '{"cik":"0000315090","entityType":"other","sic":"","sicDescription":"","ownerOrg":"","insiderTransactionForOwnerExists":1,"insiderTransactionForIssuerExists":0,"name":"BUFFETT
        WARREN E","tickers":[],"exchanges":[],"ein":null,"lei":null,"description":"","website":"","investorWebsite":"","category":"","fiscalYearEnd":null,"stateOfIncorporation":"","stateOfIncorporationDescription":"","addresses":{"mailing":{"street1":"3555
        FARNAM ST","street2":"STE 1440","city":"OMAHA","stateOrCountry":"NE","zipCode":"68131","stateOrCountryDescription":"NE","isForeignLocation":0,"foreignStateTerritory":null,"country":null,"countryCode":null},"business":{"street1":"3555
        FARNAM ST","street2":"STE 1440","city":"OMAHA","stateOrCountry":"NE","zipCode":"68131","stateOrCountryDescription":"NE","isForeignLocation":null,"foreignStateTerritory":null,"country":null,"countryCode":null}},"phone":"402-346-1400","flags":"","formerNames":[],"filings":{"recent":{"accessionNumber":["0001193125-26-054947","0001193125-26-054931","0001193125-26-054614","0001193125-26-033900","0001193125-25-282940","0001193125-25-277658","0001193125-25-277436","0001193125-25-256858","0000950123-25-008374","0000950170-25-102306","0000950170-25-102303","0000950170-25-101546","0000950170-25-096373","0000950170-25-091838","0000950170-25-091802","0000950170-25-078056","0000950170-25-072923","0000950123-25-005714","0000950170-25-069150","0000950170-25-052621","0000950170-25-023556","0000950170-25-0[...]
