interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/submissions/CIK-000000001.json
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>submissions/CIK-000000001.json</Key><RequestId>JD15FR9DF9N2TVGZ</RequestId><HostId>2U/fr+OwCH2kb2vNa+jgy5PCPmA/6YfX7yrMePYuJr+UGQ0Q7Ze+10feacVPVd4pvW86t71RHbQ=</HostId></Error>'
    headers:
      content-type:
      - application/xml
      x-amz-apigw-id:
      - Zv0GyFEcIAMEHQg=
      x-amzn-requestid:
      - 6fa28bff-8b26-4a3a-8973-6f1b9d3d6d28
    status:
      code: 404
      message: null
version: 1
