interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/1875558/000110465926017097/0001104659-26-017097.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001104659-26-017097.txt : 20260320\n<SEC-HEADER>0001104659-26-017097.hdr.sgml
        : 20260320\n<ACCEPTANCE-DATETIME>20260218163328\n<PRIVATE-TO-PUBLIC>\nACCESSION
        NUMBER:\t\t0001104659-26-017097\nCONFORMED SUBMISSION TYPE:\tCORRESP\nPUBLIC
        DOCUMENT COUNT:\t\t2\nFILED AS OF DATE:\t\t20260218\n\nFILER:\n\n\tCOMPANY
        DATA:\t\n\t\tCOMPANY CONFORMED NAME:\t\t\tNuvectis Pharma, Inc.\n\t\tCENTRAL
        INDEX KEY:\t\t\t0001875558\n\t\tSTANDARD INDUSTRIAL CLASSIFICATION:\tPHARMACEUTICAL
        PREPARATIONS [2834]\n\t\tORGANIZATION NAME:           \t03 Life Sciences\n\t\tEIN:\t\t\t\t862405608\n\t\tSTATE
        OF INCORPORATION:\t\t\tDE\n\t\tFISCAL YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\tCORRESP\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\t1 BRIDGE PLAZA,
        SUITE 275\n\t\tCITY:\t\t\tFORT LEE\n\t\tSTATE:\t\t\tNJ\n\t\tZIP:\t\t\t07024\n\t\tBUSINESS
        PHONE:\t\t360-837-7232\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t1 BRIDGE PLAZA,
        SUITE 275\n\t\tCITY:\t\t\tFORT LEE\n\t\tSTATE:\t\t\tNJ\n\t\tZIP:\t\t\t07024\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>CORRESP\n<SEQUENCE>1\n<FILENAME>filename1.htm\n<TEXT>\n<HTML>\n<HEAD>\n<TITLE></TITLE>\n</HEAD>\n<BODY>\n\n<P
        STYLE=\"font: 10pt Times New Roman, Times, Serif; margin: 0pt 0\"></P>\n\n<P
        STYLE=\"font: 10pt Times New Roman, Times, Serif; margin: 0pt 0\">&nbsp;</P>\n\n<P
        STYLE=\"text-align: center; margin-top: 0pt; margin-bottom: 0pt\"><IMG SRC=\"tm266190d3_corresp-img01.jpg\"
        ALT=\"\"></P>\n\n<P STYLE=\"font: 10pt Times New Roman, Times, Serif; margin:
        0pt 0\">&nbsp;</P>\n\n<P STYLE=\"font: 10pt Times New Roman, Times, Serif;
        margin: 0pt 0; text-align: center\">February 18, 2026</P>\n\n<P STYLE=\"font:
        10pt Times New Roman, Times, Serif; margin: 0pt 0\">&nbsp;</P>\n\n<P STYLE=\"font:
        10pt Times New Roman, Times, Serif; margin: 0pt 0\"><FONT STYLE=\"text-transform:
        uppercase\"><B><U>VIA EDGAR</U></B></FONT></P>\n\n<P STYLE=\"font: 10pt Times
        New Roman, Times, Serif; margin: 0pt 0\">&nbsp;</P>\n\n<P STYLE=\"font: 10pt
        Times New Roman, Times, Serif; margin: 0pt 0\">Securities and Exchange Commission</P>\n\n<P
        STYLE=\"font: 10pt Times New Roman, Times, Serif; margin: 0pt 0\">Division
        of Corporation Finance</P>\n\n<P STYLE=\"font: 10pt Times New Roman, Times,
        Serif; margin: 0pt 0\">100 F Street, N.E.</P>\n\n<P STYLE=\"font: 10pt Times
        New Roman, Times, Serif; margin: 0pt 0\">Washington, D.C. 20549</P>\n\n<P
        STYLE=\"font: 10pt Times New Roman, Times, Serif; margin: 0pt 0\">&nbsp;</P>\n\n<TABLE
        CELLSPACING=\"0\" CELLPADDING=\"0\" STYLE=\"font: 10pt Times New Roman, Times,
        Serif; width: 100%\">\n  <TR STYLE=\"vertical-align: top\">\n    <TD STYLE=\"width:
        0.35in\">&nbsp;</TD>\n    <TD STYLE=\"width: 0.35in\"><B>Re:</B></TD>\n    <TD><B>Nuvectis
        Pharma, Inc.<BR>\nRegistration Statement on Form S-3</B></TD></TR>\n  <TR
        STYLE=\"vertical-align: top\">\n    <TD>&nbsp;</TD>\n    <TD>&nbsp;</TD>\n
        \   <TD><B>File No. &nbsp;333-293459</B></TD></TR>\n  </TABLE>\n<P STYLE=\"font:
        10pt Times New Roman, Times, Serif; margin: 0pt 0\">&nbsp;</P>\n\n<P STYLE=\"font:
        10pt Times New Roman, Times, Serif; margin: 0pt 0; text-indent: 0.5in\">Ladies
        and Gentlemen:</P>\n\n<P STYLE=\"font: 10pt Times New Roman, Times, Serif;
        m[...]
