interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/1462356/000032019322000061/0000320193-22-000061.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0000320193-22-000061.txt : 20220506\n<SEC-HEADER>0000320193-22-000061.hdr.sgml
        : 20220506\n<ACCEPTANCE-DATETIME>20220506183057\nACCESSION NUMBER:\t\t0000320193-22-000061\nCONFORMED
        SUBMISSION TYPE:\t4\nPUBLIC DOCUMENT COUNT:\t\t1\nCONFORMED PERIOD OF REPORT:\t20220504\nFILED
        AS OF DATE:\t\t20220506\nDATE AS OF CHANGE:\t\t20220506\n\nREPORTING-OWNER:\t\n\n\tOWNER
        DATA:\t\n\t\tCOMPANY CONFORMED NAME:\t\t\tAdams Katherine L.\n\t\tCENTRAL
        INDEX KEY:\t\t\t0001462356\n\n\tFILING VALUES:\n\t\tFORM TYPE:\t\t4\n\t\tSEC
        ACT:\t\t1934 Act\n\t\tSEC FILE NUMBER:\t001-36743\n\t\tFILM NUMBER:\t\t22902747\n\n\tMAIL
        ADDRESS:\t\n\t\tSTREET 1:\t\tAPPLE INC.\n\t\tSTREET 2:\t\t1 INFINITE LOOP\n\t\tCITY:\t\t\tCUPERTINO\n\t\tSTATE:\t\t\tCA\n\t\tZIP:\t\t\t95014\n\nISSUER:\t\t\n\n\tCOMPANY
        DATA:\t\n\t\tCOMPANY CONFORMED NAME:\t\t\tApple Inc.\n\t\tCENTRAL INDEX KEY:\t\t\t0000320193\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tELECTRONIC COMPUTERS [3571]\n\t\tIRS NUMBER:\t\t\t\t942404110\n\t\tSTATE
        OF INCORPORATION:\t\t\tCA\n\t\tFISCAL YEAR END:\t\t\t0924\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET
        1:\t\tONE APPLE PARK WAY\n\t\tCITY:\t\t\tCUPERTINO\n\t\tSTATE:\t\t\tCA\n\t\tZIP:\t\t\t95014\n\t\tBUSINESS
        PHONE:\t\t(408) 996-1010\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\tONE APPLE
        PARK WAY\n\t\tCITY:\t\t\tCUPERTINO\n\t\tSTATE:\t\t\tCA\n\t\tZIP:\t\t\t95014\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tAPPLE INC\n\t\tDATE OF NAME CHANGE:\t20070109\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tAPPLE COMPUTER INC\n\t\tDATE OF NAME
        CHANGE:\t19970808\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>4\n<SEQUENCE>1\n<FILENAME>wf-form4_165187623819106.xml\n<DESCRIPTION>FORM
        4\n<TEXT>\n<XML>\n<?xml version=\"1.0\"?>\n<ownershipDocument>\n\n    <schemaVersion>X0306</schemaVersion>\n\n
        \   <documentType>4</documentType>\n\n    <periodOfReport>2022-05-04</periodOfReport>\n\n
        \   <notSubjectToSection16>0</notSubjectToSection16>\n\n    <issuer>\n        <issuerCik>0000320193</issuerCik>\n
        \       <issuerName>Apple Inc.</issuerName>\n        <issuerTradingSymbol>AAPL</issuerTradingSymbol>\n
        \   </issuer>\n\n    <reportingOwner>\n        <reportingOwnerId>\n            <rptOwnerCik>0001462356</rptOwnerCik>\n
        \           <rptOwnerName>Adams Katherine L.</rptOwnerName>\n        </reportingOwnerId>\n
        \       <reportingOwnerAddress>\n            <rptOwnerStreet1>ONE APPLE PARK
        WAY</rptOwnerStreet1>\n            <rptOwnerStreet2></rptOwnerStreet2>\n            <rptOwnerCity>CUPERTINO</rptOwnerCity>\n
        \           <rptOwnerState>CA</rptOwnerState>\n            <rptOwnerZipCode>95014</rptOwnerZipCode>\n
        \           <rptOwnerStateDescription></rptOwnerStateDescription>\n        </reportingOwnerAddress>\n
        \       <reportingOwnerRelationship>\n            <isDirector>0</isDirector>\n
        \           <isOfficer>1</isOfficer>\n            <isTenPercentOwner>0</isTenPercentOwner>\n
        \           <isOther>0</isOther>\n            <officerTitle>SVP, GC and Secretary</officerTitle>\n
        \           <otherText></otherText>\n        </reportingOwnerRelationship>\n
        \   </reportingOwner>\n\n    <nonDerivativeTable>\n        <nonDerivativeTransaction>\n
        \           <securityTitle>\n                <value>Common Stock</value>\n
        \               <footnoteId id=\"F1\"/>\n            </securityTitle>\n            <transactionDate>\n
        \               <value>2022-05-04</value>\n            </transactionDate>\n
        \           <transactionCoding>\n                <transactionFormType>4</transactionFormType>\n
        \               <transactionCode>S</transactionCode>\n                <equitySwapInvolved>0</equitySwapInvolved>\n
        \           </transactionCoding>\n            <transactionAmounts>\n                <transactionShares>\n
        \                   <value>9136</value>\n                </transactionShares>\n
        \               <transactionPricePerShare>\n                    <value>159.94</value>\n
        \                   <footnoteId id=\"F2\"/>\n                </transactionPricePerShare>\n
        \               <transactionAcquiredDisposedCode>\n                    <value>D</value>\n
        \               </transactionAcquiredDisposedCode>\n            </transactionAmounts>\n
        \           <postTransactionAmounts>\n                <sharesOwnedFollowingTransaction>\n
        \                   <value>468198</value>\n                </sharesOwnedFollowingTransaction>\n
        \           </postTransactionAmounts>\n            <ownershipNature>\n                <directOrIndirectOwnership>\n
        \                   <value>D</value>\n                </directOrIndirectOwnership>\n
        \           </ownershipNature>\n        </nonDerivativeTransaction>\n        <nonDerivativeTransaction>\n
        \           <securityTitle>\n                <value>Common Stock</value>\n
        \               <footnoteId id=\"F1\"/>\n            </securityTitle>\n            <transactionDate>\n
        \               <value>2022-05-04</value>\n            </transactionDate>\n
        \   [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/submissions/CIK0001462356.json
  response:
    body:
      string: '{"cik":"0001462356","entityType":"other","sic":"","sicDescription":"","ownerOrg":"","insiderTransactionForOwnerExists":1,"insiderTransactionForIssuerExists":0,"name":"Adams
        Katherine L.","tickers":[],"exchanges":[],"ein":null,"lei":null,"description":"","website":"","investorWebsite":"","category":"","fiscalYearEnd":null,"stateOfIncorporation":"","stateOfIncorporationDescription":"","addresses":{"mailing":{"street1":"APPLE
        INC.","street2":"ONE APPLE PARK WAY","city":"CUPERTINO","stateOrCountry":"CA","zipCode":"95014","stateOrCountryDescription":"CA","isForeignLocation":0,"foreignStateTerritory":null,"country":null,"countryCode":null},"business":{"street1":null,"street2":null,"city":null,"stateOrCountry":null,"zipCode":null,"stateOrCountryDescription":null,"isForeignLocation":null,"foreignStateTerritory":null,"country":null,"countryCode":null}},"phone":null,"flags":"","formerNames":[],"filings":{"recent":{"accessionNumber":["0001950047-26-004044","0001462356-25-000012","0001462356-25-000010","0001950047-25-007713","0001462356-25-000008","0000320193-25-000042","0001950047-25-002338","0000320193-24-000126","0000320193-24-000110","0001950047-24-007542","0000320193-24-000099","0000320193-24-000084","0001950047-24-005824","0000320193-24-000071","0000320193-24-000048","0001950047-24-002876","0000320193-23-000111","0000320193-23-000088","0001950047-23-004374","0000320193-23-000081","0000320193-23-000068","0000320193-23-0[...]
