interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/70858/000191870425005479/0001918704-25-005479.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001918704-25-005479.txt : 20250331\n<SEC-HEADER>0001918704-25-005479.hdr.sgml
        : 20250331\n<ACCEPTANCE-DATETIME>20250331163542\nACCESSION NUMBER:\t\t0001918704-25-005479\nCONFORMED
        SUBMISSION TYPE:\t424B2\nPUBLIC DOCUMENT COUNT:\t\t19\nFILED AS OF DATE:\t\t20250331\nDATE
        AS OF CHANGE:\t\t20250331\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED
        NAME:\t\t\tBofA Finance LLC\n\t\tCENTRAL INDEX KEY:\t\t\t0001682472\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tNATIONAL COMMERCIAL BANKS [6021]\n\t\tORGANIZATION
        NAME:           \t02 Finance\n\t\tEIN:\t\t\t\t813167494\n\t\tSTATE OF INCORPORATION:\t\t\tDE\n\t\tFISCAL
        YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM TYPE:\t\t424B2\n\t\tSEC
        ACT:\t\t1933 Act\n\t\tSEC FILE NUMBER:\t333-268718-01\n\t\tFILM NUMBER:\t\t25793950\n\n\tBUSINESS
        ADDRESS:\t\n\t\tSTREET 1:\t\t100 NORTH TRYON STREET\n\t\tSTREET 2:\t\tNC1-007-06-10\n\t\tCITY:\t\t\tCHARLOTTE\n\t\tSTATE:\t\t\tNC\n\t\tZIP:\t\t\t28202\n\t\tBUSINESS
        PHONE:\t\t704-386-4175\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t100 NORTH TRYON
        STREET\n\t\tSTREET 2:\t\tNC1-007-06-10\n\t\tCITY:\t\t\tCHARLOTTE\n\t\tSTATE:\t\t\tNC\n\t\tZIP:\t\t\t28202\n\nFILER:\n\n\tCOMPANY
        DATA:\t\n\t\tCOMPANY CONFORMED NAME:\t\t\tBANK OF AMERICA CORP /DE/\n\t\tCENTRAL
        INDEX KEY:\t\t\t0000070858\n\t\tSTANDARD INDUSTRIAL CLASSIFICATION:\tNATIONAL
        COMMERCIAL BANKS [6021]\n\t\tORGANIZATION NAME:           \t02 Finance\n\t\tEIN:\t\t\t\t560906609\n\t\tSTATE
        OF INCORPORATION:\t\t\tDE\n\t\tFISCAL YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\t424B2\n\t\tSEC ACT:\t\t1933 Act\n\t\tSEC FILE NUMBER:\t333-268718\n\t\tFILM
        NUMBER:\t\t25793951\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\tBANK OF AMERICA
        CORPORATE CENTER\n\t\tSTREET 2:\t\t100 N TRYON ST\n\t\tCITY:\t\t\tCHARLOTTE\n\t\tSTATE:\t\t\tNC\n\t\tZIP:\t\t\t28255\n\t\tBUSINESS
        PHONE:\t\t7043868486\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\tBANK OF AMERICA
        CORPORATE CENTER\n\t\tSTREET 2:\t\t100 N TRYON ST\n\t\tCITY:\t\t\tCHARLOTTE\n\t\tSTATE:\t\t\tNC\n\t\tZIP:\t\t\t28255\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tBANKAMERICA CORP/DE/\n\t\tDATE OF
        NAME CHANGE:\t19981022\n\n\tFORMER COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tNATIONSBANK
        CORP\n\t\tDATE OF NAME CHANGE:\t19920703\n\n\tFORMER COMPANY:\t\n\t\tFORMER
        CONFORMED NAME:\tNCNB CORP\n\t\tDATE OF NAME CHANGE:\t19920107\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>424B2\n<SEQUENCE>1\n<FILENAME>bofa-34039_424b2.htm\n<DESCRIPTION>424B2\n<TEXT>\n<html>\n<head>\n<title>\n</title>\n</head>\n\n<body>\n<table
        \ width=\"100%\"  border=\"1\"  cellpadding = \"0\"  cellspacing = \".0\"
        \ style = \" border-collapse:collapse;border-top:1px solid ; border-bottom:1px
        solid ; border-left:1px solid ; border-right:1px solid ;  margin-bottom:20px;\"
        >\n\n  <tr>\n\n   <td  colspan=\"1\"  width=\"33%\"  rowspan=\"1\"  valign=\"top\"
        >\n    <div style=\"text-align:left; border-width:1px 1px 1px 1px; border-style:none
        none none none;\">\n\n\n    </div>\n\n\n   </td>\n\n   <td  colspan=\"1\"
        \ width=\"31%\"  rowspan=\"1\"  valign=\"top\"  style = \"border-left:1px
        solid ;  \" >\n    <div style=\"text-align:left; border-width:1px 1px 1px
        1px; border-style:none none none none;\">\n\n\n    </div>\n\n\n   </td>\n\n
        \  <td  colspan=\"1\"  width=\"35%\"  rowspan=\"1\"  valign=\"top\"  style
        = \"border-left:1px solid ;  \" >\n    <div style=\"text-align:right; border-width:1px
        1px 1px 1px; border-style:none none none none;\">\n<font style=\"font-size:7pt;font-family:'Arial',Times,serif;\"><b>Filed
        Pursuant to Rule 424(b)(2)</b>\n     <br><b>Registration Statement Nos. 333-268718
        and 333-268718-01</b>\n     <br><b>(To Prospectus dated December 30, 2022,</b>\n
        \    <br><b>Prospectus Supplement dated December 30, 2022 and</b>\n     <br><b>Product
        Supplement EQUITY ARN-1 dated January 12, 2023)</b></font>\n\n    </div>\n\n\n
        \  </td>\n\n  </tr>\n\n</table>\n    <div style=\"text-align:left; border-width:1px
        1px 1px 1px; border-style:none none none none;\">\n\n    </div>\n\n    <div
        style=\"text-align:left; margin-top:8px;margin-bottom:8px;border-width:1px
        1px 1px 1px; border-style:none none none none;\">\n    </div>\n\n <table  width=\"100%\"
        \ align=\"center\"  cellpadding = \"0\"  cellspacing = \".0\"  style = \"
        border-collapse:collapse; \" >\n\n  <tr>\n\n   <td  colspan=\"3\"  width=\"51%\"
        \ rowspan=\"2\"  bgcolor=\"#1F497D\"  valign=\"top\"  style = \"padding-left:9.9px
        ; \" >\n    <div style=\"text-align:left;padding-left:7px;padding-right:7px;
        border-width:1px 1px 1px 1px; border-style:none none none none;\">\n\n     <br><font
        style=\"font-size:9pt;color:#FFFFFF;font-family:'Arial',Times,serif;\">659,466
        Units\n     <br>$10 principal amount per unit\n     <br>CUSIP No.&nbsp;05612Q663</font>\n
        \    <br>\n     <img src=\"image_001.jpg\" ALT=\"\" style=\"width:298px;height:58px;\">\n\n
        \   </div>\n\n\n   </td>\n\n   <td  colspan=\"2\"  width=\"24%\"  rowspan=\"1\"
        \ bgcolor=\"#1F497D\"  valign=\"top\"  style = \"padding-left:9.9px ; \" >\n
        \   <div style=\"text-align:left;padding-left:7px;padding-right:7px; border-width:1px
        1px 1px 1px; border-style:none none none none;\">\n\n     <br><font style=\"font-size:9pt;color:#FFFFFF;font-family:'Arial',Times,serif;\">Pricing
       [...]
