interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/70858/000121390025026186/0001213900-25-026186.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001213900-25-026186.txt : 20250331\n<SEC-HEADER>0001213900-25-026186.hdr.sgml
        : 20250331\n<ACCEPTANCE-DATETIME>20250331154449\nACCESSION NUMBER:\t\t0001213900-25-026186\nCONFORMED
        SUBMISSION TYPE:\t424B2\nPUBLIC DOCUMENT COUNT:\t\t6\nFILED AS OF DATE:\t\t20250331\nDATE
        AS OF CHANGE:\t\t20250331\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED
        NAME:\t\t\tBANK OF AMERICA CORP /DE/\n\t\tCENTRAL INDEX KEY:\t\t\t0000070858\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tNATIONAL COMMERCIAL BANKS [6021]\n\t\tORGANIZATION
        NAME:           \t02 Finance\n\t\tEIN:\t\t\t\t560906609\n\t\tSTATE OF INCORPORATION:\t\t\tDE\n\t\tFISCAL
        YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM TYPE:\t\t424B2\n\t\tSEC
        ACT:\t\t1933 Act\n\t\tSEC FILE NUMBER:\t333-268718\n\t\tFILM NUMBER:\t\t25792825\n\n\tBUSINESS
        ADDRESS:\t\n\t\tSTREET 1:\t\tBANK OF AMERICA CORPORATE CENTER\n\t\tSTREET
        2:\t\t100 N TRYON ST\n\t\tCITY:\t\t\tCHARLOTTE\n\t\tSTATE:\t\t\tNC\n\t\tZIP:\t\t\t28255\n\t\tBUSINESS
        PHONE:\t\t7043868486\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\tBANK OF AMERICA
        CORPORATE CENTER\n\t\tSTREET 2:\t\t100 N TRYON ST\n\t\tCITY:\t\t\tCHARLOTTE\n\t\tSTATE:\t\t\tNC\n\t\tZIP:\t\t\t28255\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tBANKAMERICA CORP/DE/\n\t\tDATE OF
        NAME CHANGE:\t19981022\n\n\tFORMER COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tNATIONSBANK
        CORP\n\t\tDATE OF NAME CHANGE:\t19920703\n\n\tFORMER COMPANY:\t\n\t\tFORMER
        CONFORMED NAME:\tNCNB CORP\n\t\tDATE OF NAME CHANGE:\t19920107\n\nFILER:\n\n\tCOMPANY
        DATA:\t\n\t\tCOMPANY CONFORMED NAME:\t\t\tBofA Finance LLC\n\t\tCENTRAL INDEX
        KEY:\t\t\t0001682472\n\t\tSTANDARD INDUSTRIAL CLASSIFICATION:\tNATIONAL COMMERCIAL
        BANKS [6021]\n\t\tORGANIZATION NAME:           \t02 Finance\n\t\tEIN:\t\t\t\t813167494\n\t\tSTATE
        OF INCORPORATION:\t\t\tDE\n\t\tFISCAL YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\t424B2\n\t\tSEC ACT:\t\t1933 Act\n\t\tSEC FILE NUMBER:\t333-268718-01\n\t\tFILM
        NUMBER:\t\t25792826\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\t100 NORTH TRYON
        STREET\n\t\tSTREET 2:\t\tNC1-007-06-10\n\t\tCITY:\t\t\tCHARLOTTE\n\t\tSTATE:\t\t\tNC\n\t\tZIP:\t\t\t28202\n\t\tBUSINESS
        PHONE:\t\t704-386-4175\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t100 NORTH TRYON
        STREET\n\t\tSTREET 2:\t\tNC1-007-06-10\n\t\tCITY:\t\t\tCHARLOTTE\n\t\tSTATE:\t\t\tNC\n\t\tZIP:\t\t\t28202\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>424B2\n<SEQUENCE>1\n<FILENAME>ea0236394-01_424b2.htm\n<DESCRIPTION>PRELIMINARY
        PRICING SUPPLEMENT\n<TEXT>\n<HTML>\n<HEAD>\n<TITLE></TITLE>\n</HEAD>\n<BODY>\n\n\n<P
        STYLE=\"font: 6.5pt Arial, Helvetica, Sans-Serif; margin: 0; text-align: center\">&nbsp;</P>\n\n<P
        STYLE=\"font: 6.5pt Arial, Helvetica, Sans-Serif; margin: 0; text-align: center;
        color: red\">This pricing supplement, which is not complete\nand may be changed,
        relates to an effective Registration Statement under the Securities Act of
        1933. This pricing supplement and the accompanying\nproduct supplement, prospectus
        supplement and prospectus are not an offer to sell these notes in any country
        or jurisdiction where such\nan offer would not be permitted.</P>\n\n<P STYLE=\"font:
        6.5pt Arial, Helvetica, Sans-Serif; margin: 0; text-align: center; color:
        red\">SUBJECT TO COMPLETION, DATED March 31,\n2025</P>\n\n<P STYLE=\"font:
        12pt Arial, Helvetica, Sans-Serif; margin: 0\">&nbsp;</P>\n\n<TABLE CELLSPACING=\"0\"
        CELLPADDING=\"0\" STYLE=\"width: 100%; border-collapse: collapse; font-family:
        Arial, Helvetica, Sans-Serif\">\n  <TR STYLE=\"vertical-align: top\">\n    <TD
        STYLE=\"width: 50%; font-size: 9pt\"><FONT STYLE=\"font-size: 6.5pt\">Preliminary
        Pricing Supplement - Subject to Completion</FONT></TD>\n    <TD STYLE=\"text-align:
        right; width: 50%; font-size: 9pt\"><FONT STYLE=\"font-size: 6.5pt\">Filed
        Pursuant to Rule 424(b)(2)</FONT></TD></TR>\n  <TR STYLE=\"vertical-align:
        top\">\n    <TD STYLE=\"font-size: 9pt\"><FONT STYLE=\"font-size: 6.5pt\">(To
        Prospectus dated December 30, 2022,</FONT></TD>\n    <TD STYLE=\"text-align:
        right; font-size: 9pt\"><FONT STYLE=\"font-size: 6.5pt\">Series A Registration
        Statement Nos. 333-268718 and 333-268718-01</FONT></TD></TR>\n  </TABLE>\n<P
        STYLE=\"font: 6.5pt Arial, Helvetica, Sans-Serif; margin: 0\">Prospectus Supplement
        dated December 30, 2022 and</P>\n\n<P STYLE=\"font: 6.5pt Arial, Helvetica,
        Sans-Serif; margin: 0\">Product Supplement EQUITY-1 dated December 30, 2022)</P>\n\n<P
        STYLE=\"font: 6.5pt Arial, Helvetica, Sans-Serif; margin: 0\">Dated March&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        , 2025</P>\n\n<P STYLE=\"font: 12pt Arial, Helvetica, Sans-Serif; margin:
        0; text-align: right\"><FONT STYLE=\"font-family: Arial, Helvetica, Sans-Serif;
        font-size: 8pt\"><IMG SRC=\"image_001.jpg\" ALT=\"\" STYLE=\"height: 34px;
        width: 197px\"></FONT></P>\n\n<P STYLE=\"font: 11.5pt Arial, Helvetica, Sans-Serif;
        margin: 0\"><B>BofA Finance LLC</B> $---- Trigger Callable Yield Notes</P>\n\n<P
        STYLE=\"font: 7pt Arial, Helvetica, Sans-Serif; margin: 0\"><B>Linked to the
        Least Performing of the S&amp;P 500<SUP>&reg;</SUP> Index\nand the S&amp;P
        500<SUP>&reg;</SUP> Equal Weight Index Due October 5, 2026</B></P>\n\n<P STYLE=\"font:
        7pt Arial, Helvetica, Sans-Serif; margin: 0\"><B>Fully and Unconditionally
        Guaranteed by Bank of America Corporation</B></P>\n\n\n\n<TABLE CELLSPACING=\"0\"
        CELLPADDING=\"0\" STYLE=\"width: 100%; border-collapse: collapse; font-family:
        Arial, Helvetica, Sans-Serif\">\n  <TR STYLE=\"vertical-align: top; background-color:
        #788D41\[...]
