interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/submissions/CIK0000320193.json
  response:
    body:
      string: '{"cik":"0000320193","entityType":"operating","sic":"3571","sicDescription":"Electronic
        Computers","ownerOrg":"06 Technology","insiderTransactionForOwnerExists":0,"insiderTransactionForIssuerExists":1,"name":"Apple
        Inc.","tickers":["AAPL"],"exchanges":["Nasdaq"],"ein":"942404110","lei":null,"description":"","website":"","investorWebsite":"","category":"Large
        accelerated filer","fiscalYearEnd":"0926","stateOfIncorporation":"CA","stateOfIncorporationDescription":"CA","addresses":{"mailing":{"street1":"ONE
        APPLE PARK WAY","street2":null,"city":"CUPERTINO","stateOrCountry":"CA","zipCode":"95014","stateOrCountryDescription":"CA","isForeignLocation":0,"foreignStateTerritory":null,"country":null,"countryCode":null},"business":{"street1":"ONE
        APPLE PARK WAY","street2":null,"city":"CUPERTINO","stateOrCountry":"CA","zipCode":"95014","stateOrCountryDescription":"CA","isForeignLocation":null,"foreignStateTerritory":null,"country":null,"countryCode":null}},"phone":"(408)
        996-1010","flags":"","formerNames":[{"name":"APPLE INC","from":"2007-01-10T00:00:00.000Z","to":"2019-08-05T00:00:00.000Z"},{"name":"APPLE
        COMPUTER INC","from":"1994-01-26T00:00:00.000Z","to":"2007-01-04T00:00:00.000Z"},{"name":"APPLE
        COMPUTER INC/ FA","from":"1997-07-28T00:00:00.000Z","to":"1997-07-28T00:00:00.000Z"}],"filings":{"recent":{"accessionNumber":["0001059235-26-000004","0001216519-26-000004","0001179864-26-000004","0001214128-26-000004","0001051401-26-000004","0001453149-26-000005","0001690882-26-000004","0001140361-26-006577","0001059235-26-000002","0001216519-26-000002","0001179864-26-000002","0001214128-26-000002","0001051401-26-000002","0001453149-26-000003","0001690882-26-000002","0000320193-26-000006","0000320193-26-000005","0001096906-26-000136","0001308179-26-000009","0001308179-26-000008","0002100523-26-000002","0001140361-26-0[...]
