interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/1847986/000149315223041369/0001493152-23-041369.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001493152-23-041369.txt : 20231115\n<SEC-HEADER>0001493152-23-041369.hdr.sgml
        : 20231115\n<ACCEPTANCE-DATETIME>20231114203500\nACCESSION NUMBER:\t\t0001493152-23-041369\nCONFORMED
        SUBMISSION TYPE:\tS-3\nPUBLIC DOCUMENT COUNT:\t\t10\nFILED AS OF DATE:\t\t20231115\nDATE
        AS OF CHANGE:\t\t20231114\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED
        NAME:\t\t\tDragonfly Energy Holdings Corp.\n\t\tCENTRAL INDEX KEY:\t\t\t0001847986\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tMISCELLANEOUS ELECTRICAL MACHINERY, EQUIPMENT
        & SUPPLIES [3690]\n\t\tIRS NUMBER:\t\t\t\t851873463\n\t\tSTATE OF INCORPORATION:\t\t\tNV\n\t\tFISCAL
        YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM TYPE:\t\tS-3\n\t\tSEC ACT:\t\t1933
        Act\n\t\tSEC FILE NUMBER:\t333-275559\n\t\tFILM NUMBER:\t\t231408802\n\n\tBUSINESS
        ADDRESS:\t\n\t\tSTREET 1:\t\t1190 TRADEMARK DRIVE #108\n\t\tCITY:\t\t\tRENO\n\t\tSTATE:\t\t\tNV\n\t\tZIP:\t\t\t89521\n\t\tBUSINESS
        PHONE:\t\t(775) 622-3448\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t1190 TRADEMARK
        DRIVE #108\n\t\tCITY:\t\t\tRENO\n\t\tSTATE:\t\t\tNV\n\t\tZIP:\t\t\t89521\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tChardan NexTech Acquisition 2 Corp.\n\t\tDATE
        OF NAME CHANGE:\t20210225\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>S-3\n<SEQUENCE>1\n<FILENAME>forms-3.htm\n<TEXT>\n<HTML>\n<HEAD>\n
        \    <TITLE></TITLE>\n</HEAD>\n<BODY STYLE=\"font: 10pt Times New Roman, Times,
        Serif\">\n\n<P STYLE=\"font: 10pt Times New Roman, Times, Serif; margin: 0pt
        0; text-align: center\"><FONT STYLE=\"font-family: Times New Roman, Times,
        Serif; font-size: 10pt\">&nbsp;</FONT></P>\n\n<P STYLE=\"font: 10pt Times
        New Roman, Times, Serif; margin: 0pt 0; text-align: center\"><FONT STYLE=\"font-family:
        Times New Roman, Times, Serif; font-size: 10pt\"><B>As\nfiled with the Securities
        and Exchange Commission on November 14, 2023</B></FONT></P>\n\n<P STYLE=\"font:
        10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: center\"><FONT
        STYLE=\"font-family: Times New Roman, Times, Serif; font-size: 10pt\">&nbsp;</FONT></P>\n\n<P
        STYLE=\"font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align:
        right\"><FONT STYLE=\"font-family: Times New Roman, Times, Serif; font-size:
        10pt\">&#8239;<FONT STYLE=\"font-family: Times New Roman, Times, Serif; font-size:
        10pt\"><B>Registration\nNo. 333 -</B></FONT></FONT></P>\n\n<P STYLE=\"font:
        10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: center\"><FONT
        STYLE=\"font-family: Times New Roman, Times, Serif; font-size: 10pt\">&nbsp;</FONT></P>\n\n<P
        STYLE=\"font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align:
        center\"><FONT STYLE=\"font-family: Times New Roman, Times, Serif; font-size:
        10pt\"></FONT></P>\n\n<!-- Field: Rule-Page --><DIV STYLE=\"width: 100%\"><DIV
        STYLE=\"font-size: 1pt; border-top: Black 4pt solid; border-bottom: Black
        1.5pt solid\">&nbsp;</DIV></DIV><!-- Field: /Rule-Page -->\n\n<P STYLE=\"font:
        10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: center\"><FONT
        STYLE=\"font-family: Times New Roman, Times, Serif; font-size: 10pt\">&nbsp;</FONT></P>\n\n<P
        STYLE=\"font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align:
        center\"><FONT STYLE=\"[...]
