interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/320193/000032019324000061/0000320193-24-000061.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0000320193-24-000061.txt : 20240614\n<SEC-HEADER>0000320193-24-000061.hdr.sgml
        : 20240614\n<ACCEPTANCE-DATETIME>20240429090018\n<PRIVATE-TO-PUBLIC>\nACCESSION
        NUMBER:\t\t0000320193-24-000061\nCONFORMED SUBMISSION TYPE:\tCORRESP\nPUBLIC
        DOCUMENT COUNT:\t\t1\nFILED AS OF DATE:\t\t20240429\n\nFILER:\n\n\tCOMPANY
        DATA:\t\n\t\tCOMPANY CONFORMED NAME:\t\t\tApple Inc.\n\t\tCENTRAL INDEX KEY:\t\t\t0000320193\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tELECTRONIC COMPUTERS [3571]\n\t\tORGANIZATION
        NAME:           \t06 Technology\n\t\tIRS NUMBER:\t\t\t\t942404110\n\t\tSTATE
        OF INCORPORATION:\t\t\tCA\n\t\tFISCAL YEAR END:\t\t\t0928\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\tCORRESP\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\tONE APPLE PARK
        WAY\n\t\tCITY:\t\t\tCUPERTINO\n\t\tSTATE:\t\t\tCA\n\t\tZIP:\t\t\t95014\n\t\tBUSINESS
        PHONE:\t\t(408) 996-1010\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\tONE APPLE
        PARK WAY\n\t\tCITY:\t\t\tCUPERTINO\n\t\tSTATE:\t\t\tCA\n\t\tZIP:\t\t\t95014\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tAPPLE INC\n\t\tDATE OF NAME CHANGE:\t20070109\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tAPPLE COMPUTER INC\n\t\tDATE OF NAME
        CHANGE:\t19970808\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>CORRESP\n<SEQUENCE>1\n<FILENAME>filename1.htm\n<TEXT>\n<html><head>\n<!--
        Document created using Wdesk -->\n<!-- Copyright 2024 Workiva -->\n<title>Document</title></head><body><div
        id=\"i3a10fd4b738d41988da84d930f52fe74_1\"></div><div style=\"min-height:92.16pt;width:100%\"><div><font><br></font></div></div><div
        style=\"text-align:center\"><font><br></font></div><div><font style=\"color:#000000;font-family:'Helvetica',sans-serif;font-size:10pt;font-weight:700;line-height:120%\">FOIA
        CONFIDENTIAL TREATMENT REQUESTED PURSUANT TO RULE 83 (17 C.F.R. &#167; 200.83)</font></div><div
        style=\"padding-right:-9pt;text-align:justify\"><font><br></font></div><div
        style=\"padding-right:-9pt;text-align:justify\"><font><br></font></div><div
        style=\"padding-right:-9pt;text-align:justify\"><table style=\"border-collapse:collapse;display:inline-table;margin-bottom:5pt;vertical-align:text-bottom;width:91.166%\"><tr><td
        style=\"width:1.0%\"></td><td style=\"width:57.400%\"></td><td style=\"width:0.1%\"></td><td
        style=\"width:1.0%\"></td><td style=\"width:40.400%\"></td><td style=\"width:0.1%\"></td></tr><tr><td
        colspan=\"3\" style=\"padding:2px 1pt;text-align:left;vertical-align:top\"><div
        style=\"padding-right:-9pt;text-align:justify\"><font style=\"color:#000000;font-family:'Helvetica',sans-serif;font-size:10pt;font-weight:400;line-height:120%\">Apple
        Inc.</font></div><div style=\"padding-right:-9pt;text-al[...]
