interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/772129/000119312525152548/0001193125-25-152548.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001193125-25-152548.txt : 20250630\n<SEC-HEADER>0001193125-25-152548.hdr.sgml
        : 20250630\n<ACCEPTANCE-DATETIME>20250630145103\nACCESSION NUMBER:\t\t0001193125-25-152548\nCONFORMED
        SUBMISSION TYPE:\t497K\nPUBLIC DOCUMENT COUNT:\t\t2\nFILED AS OF DATE:\t\t20250630\nDATE
        AS OF CHANGE:\t\t20250630\nEFFECTIVENESS DATE:\t\t20250630\n\nFILER:\n\n\tCOMPANY
        DATA:\t\n\t\tCOMPANY CONFORMED NAME:\t\t\tGMO TRUST\n\t\tCENTRAL INDEX KEY:\t\t\t0000772129\n\t\tORGANIZATION
        NAME:           \t\n\t\tEIN:\t\t\t\t000000000\n\t\tSTATE OF INCORPORATION:\t\t\tMA\n\t\tFISCAL
        YEAR END:\t\t\t0831\n\n\tFILING VALUES:\n\t\tFORM TYPE:\t\t497K\n\t\tSEC ACT:\t\t1933
        Act\n\t\tSEC FILE NUMBER:\t002-98772\n\t\tFILM NUMBER:\t\t251091403\n\n\tBUSINESS
        ADDRESS:\t\n\t\tSTREET 1:\t\t53 STATE STREET\n\t\tSTREET 2:\t\tFLOOR 33\n\t\tCITY:\t\t\tBOSTON\n\t\tSTATE:\t\t\tMA\n\t\tZIP:\t\t\t02109\n\t\tBUSINESS
        PHONE:\t\t6173467646\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t53 STATE STREET\n\t\tSTREET
        2:\t\tFLOOR 33\n\t\tCITY:\t\t\tBOSTON\n\t\tSTATE:\t\t\tMA\n\t\tZIP:\t\t\t02109\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tGMO CORE TRUST\n\t\tDATE OF NAME CHANGE:\t19900927\n<SERIES-AND-CLASSES-CONTRACTS-DATA>\n<EXISTING-SERIES-AND-CLASSES-CONTRACTS>\n<SERIES>\n<OWNER-CIK>0000772129\n<SERIES-ID>S000004917\n<SERIES-NAME>GMO
        Multi-Sector Fixed Income Fund\n<CLASS-CONTRACT>\n<CLASS-CONTRACT-ID>C000213366\n<CLASS-CONTRACT-NAME>Class
        I\n</CLASS-CONTRACT>\n<CLASS-CONTRACT>\n<CLASS-CONTRACT-ID>C000213367\n<CLASS-CONTRACT-NAME>Class
        R6\n</CLASS-CONTRACT>\n</SERIES>\n</EXISTING-SERIES-AND-CLASSES-CONTRACTS>\n</SERIES-AND-CLASSES-CONTRACTS-DATA>\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>497K\n<SEQUENCE>1\n<FILENAME>d94622d497k.htm\n<DESCRIPTION>GMO
        TRUST\n<TEXT>\n<HTML><HEAD>\n<TITLE>GMO TRUST</TITLE>\n</HEAD>\n\n\n<body
        style=\"margin-top:0.0pt;width:595pt;\" bgcolor=\"white\">\n  <div> <div><a
        name=\"xx_39754e51-4a39-46e0-abde-2f548a968d0d_1\"></A> <div style=\"page-break-after:always;position:relative;\">
        <div style=\"clear:both;\">\n</div> <div style=\"float:left;margin-left:18pt;margin-top:18pt;width:420pt;min-height:42pt;\">\n<div
        style=\"line-height:19.0pt;text-align:left;\"><font style=\"color:#000000;font-family:Times
        New Roman;font-size:18pt;font-weight:bold;line-height:19pt;\">GMO MULTI-SECTOR
        FIXED INCOME FUND</font></div> </div>\n<div style=\"float:left;margin-left:19pt;margin-top:18pt;width:120pt;min-height:36pt;\">
        <div style=\"line-height:14.0pt;text-align:left;\"><font style=\"color:#000000;font-family:Times
        New Roman;font-size:12pt;font-weight:bold;line-height:14pt;\">Summary\nProspectus</font>
        <div> </div><font style=\"color:#000000;font-family:Times New Roman;font-size:12pt;font-weight:bold;line-height:14pt;\">June
        30, 2025</font></div> </div> <div style=\"clear:both;\"> </div>\n<div style=\"float:left;margin-left:18pt;width:559pt;min-height:678pt;\">
        <div style=\"line-height:0.0pt;text-align:left;\"><font style=\"color:#000000;float:right;font-family:Times
        New Roman;font-size:1pt;font-weight:bold;\">&#8195;</font></div>\n<div style=\"margin-top:15pt;\">\n<table
        style=\"empty-cells:show;width:269.97pt;\" cellpadding=\"0\" cellspacing=\"0\">\n<tr
        style=\"height:12pt;\">\n<td style=\"padding-bottom:4pt;padding-top:4pt;vertical-align:Top;width:147pt;\">
        <div style=\"line-height:13pt;text-align:left;\"> <div style=\"margin-right:15pt;text-align:Left;white-space:nowrap;\"><font\nstyle=\"color:#000000;font-family:Times
        New Roman;font-size:12pt;margin-left:0.0pt;\">Share Class:</font></div> </div>
        </td>\n<td style=\"padding-bottom:4pt;padding-top:4pt;vertical-align:Top;width:73.99pt;\">
        <div style=\"line-height:13pt;text-align:left;\"> <div style=\"margin-left:15pt;margin-right:15pt;text-align:Center;white-space:nowrap;\"><font\nstyle=\"color:#000000;font-family:Times
        New Roman;font-size:12pt;\">Class R6</font></div> </div> </td>\n<td style=\"padding-bottom:4pt;padding-top:4pt;vertical-align:Top;width:48.98pt;\">
        <div style=\"line-height:13pt;text-align:left;\"> <div style=\"margin-left:15pt;text-align:Center;white-space:nowrap;\"><font\nstyle=\"color:#000000;font-family:Times
        New Roman;font-size:12pt;\">Class I</font></div> </div> </td> </tr>\n<tr style=\"height:13pt;\">\n<td
        style=\"padding-bottom:4.5pt;padding-top:4pt;vertical-align:Top;width:147pt;\">
        <div style=\"line-height:13pt;text-align:left;\"> <div style=\"margin-right:15pt;text-align:Left;white-space:nowrap;\"><font\nstyle=\"color:#000000;font-family:Times
        New Roman;font-size:12pt;margin-left:0.0pt;\">Ticker:</font></div> </div>
        </td>\n<td style=\"padding-bottom:4.5pt;padding-top:4pt;vertical-align:Top;width:73.99pt;\">
        <div style=\"line-[...]
