interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/submissions/CIK0000350001.json
  response:
    body:
      string: '{"cik":"0000350001","entityType":"other","sic":"6189","sicDescription":"Asset-Backed
        Securities","ownerOrg":null,"insiderTransactionForOwnerExists":0,"insiderTransactionForIssuerExists":0,"name":"Company
        Name Three `!#$(),:;=.-;\\|@/{}&''\\WA\\","tickers":[],"exchanges":[],"ein":"111111111","lei":null,"description":"","website":"","investorWebsite":"","category":"","fiscalYearEnd":"1231","stateOfIncorporation":"VA","stateOfIncorporationDescription":"VA","addresses":{"mailing":{"street1":"1000
        KING STREET","street2":"1600 KING STREET","city":"LAKE RIDGE","stateOrCountry":"WA","zipCode":"22191","stateOrCountryDescription":"WA","isForeignLocation":null,"foreignStateTerritory":null,"country":null,"countryCode":null},"business":{"street1":"ABCD
        LN MARYLAND","street2":"1234567890123456789012345678901234567890","city":"12345678901234567890","stateOrCountry":"VA","zipCode":"12344","stateOrCountryDescription":"VA","isForeignLocation":null,"foreignStateTerritory":null,"country":null,"countryCode":null}},"phone":"(703)
        555-1212","flags":"","formerNames":[{"name":"ALLEN TEST CO & REL 8-6 DR INC","from":"2003-10-15T00:00:00.000Z","to":"2003-10-15T00:00:00.000Z"},{"name":"ALLEN
        TEST CO & REL 8-6 INC","from":"2003-07-28T00:00:00.000Z","to":"2003-09-04T00:00:00.000Z"},{"name":"ALLEN
        TEST CO & REL 8-5 INC","from":"2003-05-06T00:00:00.000Z","to":"2003-05-22T00:00:00.000Z"},{"name":"ALLEN
        TEST CO & RELEASE 8-3 INC","from":"2001-07-30T00:00:00.000Z","to":"2003-04-07T00:00:00.000Z"},{"name":"ALLEN
        TEST & SNOW REMOVAL CO INC","from":"2003-03-13T00:00:00.000Z","to":"2003-03-12T00:00:00.000Z"},{"name":"AL[...]
