interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyfacts/CIK0001652044.json
  response:
    body:
      string: '{"cik":1652044,"entityName":"ALPHABET INC.","facts":{"dei":{"EntityPublicFloat":{"label":"Entity
        Public Float","description":"The aggregate market value of the voting and
        non-voting common equity held by non-affiliates computed by reference to the
        price at which the common equity was last sold, or the average bid and asked
        price of such common equity, as of the last business day of the registrant''s
        most recently completed second fiscal quarter.","units":{"USD":[{"end":"2015-06-30","val":0,"accn":"0001652044-16-000012","fy":2015,"fp":"FY","form":"10-K","filed":"2016-02-11"},{"end":"2015-06-30","val":0,"accn":"0001652044-16-000022","fy":2015,"fp":"FY","form":"8-K","filed":"2016-05-03","frame":"CY2015Q2I"},{"end":"2016-06-30","val":413800000000,"accn":"0001652044-17-000008","fy":2016,"fp":"FY","form":"10-K","filed":"2017-02-03","frame":"CY2016Q2I"},{"end":"2017-06-30","val":554300000000,"accn":"0001652044-18-000007","fy":2017,"fp":"FY","form":"10-K","filed":"2018-02-06","frame":"CY2017Q2I"},{"end":"2018-06-29","val":680000000000,"accn":"0001652044-19-000004","fy":2018,"fp":"FY","form":"10-K","filed":"2019-02-05","frame":"CY2018Q2I"},{"end":"2019-06-28","val":663000000000,"accn":"0001652044-20-000008","fy":2019,"fp":"FY","form":"10-K","filed":"2020-02-04","frame":"CY2019Q2I"},{"end":"2020-06-30","val":849700000000,"accn":"0001652044-21-000010","fy":2020,"fp":"FY","form":"10-K","filed":"2021-02-03","frame":"CY2020Q2I"},{"end":"2021-06-30","val":1451100000000,"accn":"0001652044-22-000019","fy":2021,"fp":"FY","form":"10-K","filed":"2022-02-02","frame":"CY2021Q2I"},{"end":"2022-06-30","val":1256100000000,"accn":"0001652044-23-000016","fy":2022,"fp":"FY","form":"10-K","filed":"2023-02-03","frame":"CY2022Q2I"},{"end":"2023-06-30","val":1331200000000,"accn":"0001652044-24-000022","fy":2023,"fp":"FY","form":"10-K","filed":"2024-01-31","frame":"CY2023Q2I"},{"end":"2024-06-28","val":2000000000000,"accn":"0001652044-25-000014","fy":2024,"fp":"FY","form":"10-K","filed":"2025-02-05","frame":"CY2024Q2I"},{"end":"2025-06-30","val":1900000000000,"accn":"0001652044-26-000018","fy":2025,"fp":"FY","form":"10-K","filed":"2026-02-05","frame":"CY2025Q2I"}]}}},"us-gaap":{"AccountsPayableCurrent":{"label":"Accounts
        Payable, Current","description":"Carrying value as of the balance sheet date
        of liabilities incurred (and for which invoices have typically been received)
        and payable to vendors for goods and services received that are used in an
        entity''s business. Used to reflect the current portion of the liabilities
        (due within one year or within the normal operating cycle if longer).","units":{"USD":[{"end":"2014-12-31","val":1715000000,"accn":"0001[...]
