interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/submissions/CIK0001287750.json
  response:
    body:
      string: '{"cik":"0001287750","entityType":"operating","sic":"","sicDescription":"","ownerOrg":"","insiderTransactionForOwnerExists":1,"insiderTransactionForIssuerExists":1,"name":"ARES
        CAPITAL CORP","tickers":["ARCC"],"exchanges":["Nasdaq"],"ein":"331089684","lei":null,"description":"","website":"","investorWebsite":"","category":"Large
        accelerated filer","fiscalYearEnd":"1231","stateOfIncorporation":"MD","stateOfIncorporationDescription":"MD","addresses":{"mailing":{"street1":"245
        PARK AVENUE, 44TH FLOOR","street2":null,"city":"NEW YORK","stateOrCountry":"NY","zipCode":"10167","stateOrCountryDescription":"NY","isForeignLocation":0,"foreignStateTerritory":null,"country":null,"countryCode":null},"business":{"street1":"245
        PARK AVENUE, 44TH FLOOR","street2":null,"city":"NEW YORK","stateOrCountry":"NY","zipCode":"10167","stateOrCountryDescription":"NY","isForeignLocation":null,"foreignStateTerritory":null,"country":null,"countryCode":null}},"phone":"2127507300","flags":"","formerNames":[],"filings":{"recent":{"accessionNumber":["0001104659-26-107911","0001104659-26-106734","0001104659-26-105966","0001104659-26-105965","0001104659-26-105964","0001104659-26-105961","0001104659-26-105959","0001104659-26-105691","0001104659-26-099704","0001628280-26-057167","0001628280-26-050307","0001628280-26-050303","0001104659-26-085912","0001628280-26-044648","0001628280-26-041366","0001104659-26-071006","0001104659-26-070093","0001104659-26-065964","0001104659-26-062747","0001104659-26-062736","0001104659-26-062497","0001104659-26-0[...]
