interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/submissions/CIK0001318605.json
  response:
    body:
      string: '{"cik":"0001318605","entityType":"operating","sic":"3711","sicDescription":"Motor
        Vehicles & Passenger Car Bodies","ownerOrg":"04 Manufacturing","insiderTransactionForOwnerExists":0,"insiderTransactionForIssuerExists":1,"name":"Tesla,
        Inc.","tickers":["TSLA"],"exchanges":["Nasdaq"],"ein":"912197729","lei":null,"description":"","website":"","investorWebsite":"","category":"Large
        accelerated filer","fiscalYearEnd":"1231","stateOfIncorporation":"TX","stateOfIncorporationDescription":"TX","addresses":{"mailing":{"street1":"1
        TESLA ROAD","street2":null,"city":"AUSTIN","stateOrCountry":"TX","zipCode":"78725","stateOrCountryDescription":"TX","isForeignLocation":0,"foreignStateTerritory":null,"country":null,"countryCode":null},"business":{"street1":"1
        TESLA ROAD","street2":null,"city":"AUSTIN","stateOrCountry":"TX","zipCode":"78725","stateOrCountryDescription":"TX","isForeignLocation":null,"foreignStateTerritory":null,"country":null,"countryCode":null}},"phone":"512-516-8177","flags":"","formerNames":[{"name":"TESLA
        MOTORS INC","from":"2005-02-17T00:00:00.000Z","to":"2017-01-27T00:00:00.000Z"}],"filings":{"recent":{"accessionNumber":["0001104659-26-021746","0001950047-26-001763","0001628280-26-003952","0001628280-26-003837","0001972928-26-000001","0001104659-26-001460","0001968582-26-000010","0001628280-26-000016","0001104659-25-125703","0001104659-25-120387","0001104659-25-119764","0001968582-25-001185","0001950047-25-009970","0001104659-25-110597","0001104659-25-109266","0001104659-25-109263","0001104659-25-108602","0001104659-25-108507","0001104659-25-107871","0001104659-25-107096","0001096906-25-001748","0001096906-25-0[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/submissions/CIK0001830610.json
  response:
    body:
      string: '{"cik":"0001830610","entityType":"other","sic":"","sicDescription":"","ownerOrg":null,"insiderTransactionForOwnerExists":1,"insiderTransactionForIssuerExists":0,"name":"Michaels
        Lisa Anne","tickers":[],"exchanges":[],"ein":null,"lei":null,"description":"","website":"","investorWebsite":"","category":"","fiscalYearEnd":null,"stateOfIncorporation":"","stateOfIncorporationDescription":"","addresses":{"mailing":{"street1":"C/O
        EDITAS MEDICINE, INC.","street2":"1 MAIN STREET","city":"CAMBRIDGE","stateOrCountry":"MA","zipCode":"02142","stateOrCountryDescription":"MA","isForeignLocation":null,"foreignStateTerritory":null,"country":null,"countryCode":null},"business":{"street1":null,"street2":null,"city":null,"stateOrCountry":"","zipCode":null,"stateOrCountryDescription":"","isForeignLocation":null,"foreignStateTerritory":null,"country":null,"countryCode":null}},"phone":null,"flags":"","formerNames":[],"filings":{"recent":{"accessionNumber":["0001179110-21-011226","0001179110-21-010113","0001179110-20-010969","0001179110-20-010967"],"filingDate":["2021-12-23","2021-11-15","2020-11-10","2020-11-10"],"reportDate":["2021-12-22","2021-11-12","2020-11-09","2020-11-09"],"acceptanceDateTime":["2021-12-23T16:10:51.000Z","2021-11-15T16:26:31.000Z","2020-11-10T16:28:37.000Z","2020-11-10T16:26:01.000Z"],"act":["34","34","34","34"],"form":["4","4","4","3"],"fileNumber":["001-37687","001-37687","001-37687","001-37687"],"filmNumber":["211517278","211411166","201301531","201301497"],"items":["","","",""],"core_type":["4","4","4","3"],"size":[4799,4808,7115,8060],"isXBRL":[0,0,0,0],"isInlineXBRL":[0,0,0,0],"primaryDocument":["xslF345X03/edgar.xml","xslF345X03/edgar.xml","xslF345X03/edgar.xml","xslF345X02/edgar.xml"],"primaryDocDescription":["FORM
        4 -","FORM 4 -","FORM 4 -","FORM 3 -"]},"files":[]}}'
    headers:
      content-type:
      - application/json
      x-amz-apigw-id:
      - Zv0IMEiyoAMEkYQ=
      x-amzn-requestid:
      - 169842dc-e8d2-4105-8761-82333c305eda
    status:
      code: 200
      message: null
[...]
