interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/submissions/CIK0000320193.json
  response:
    body:
      string: '{"cik":"0000320193","entityType":"operating","sic":"3571","sicDescription":"Electronic
        Computers","ownerOrg":"06 Technology","insiderTransactionForOwnerExists":0,"insiderTransactionForIssuerExists":1,"name":"Apple
        Inc.","tickers":["AAPL"],"exchanges":["Nasdaq"],"ein":"942404110","lei":null,"description":"","website":"","investorWebsite":"","category":"Large
        accelerated filer","fiscalYearEnd":"0926","stateOfIncorporation":"CA","stateOfIncorporationDescription":"CA","addresses":{"mailing":{"street1":"ONE
        APPLE PARK WAY","street2":null,"city":"CUPERTINO","stateOrCountry":"CA","zipCode":"95014","stateOrCountryDescription":"CA","isForeignLocation":0,"foreignStateTerritory":null,"country":null,"countryCode":null},"business":{"street1":"ONE
        APPLE PARK WAY","street2":null,"city":"CUPERTINO","stateOrCountry":"CA","zipCode":"95014","stateOrCountryDescription":"CA","isForeignLocation":null,"foreignStateTerritory":null,"country":null,"countryCode":null}},"phone":"(408)
        996-1010","flags":"","formerNames":[{"name":"APPLE INC","from":"2007-01-10T00:00:00.000Z","to":"2019-08-05T00:00:00.000Z"},{"name":"APPLE
        COMPUTER INC","from":"1994-01-26T00:00:00.000Z","to":"2007-01-04T00:00:00.000Z"},{"name":"APPLE
        COMPUTER INC/ FA","from":"1997-07-28T00:00:00.000Z","to":"1997-07-28T00:00:00.000Z"}],"filings":{"recent":{"accessionNumber":["0001059235-26-000004","0001216519-26-000004","0001179864-26-000004","0001214128-26-000004","0001051401-26-000004","0001453149-26-000005","0001690882-26-000004","0001140361-26-006577","0001059235-26-000002","0001216519-26-000002","0001179864-26-000002","0001214128-26-000002","0001051401-26-000002","0001453149-26-000003","0001690882-26-000002","0000320193-26-000006","0000320193-26-000005","0001096906-26-000136","0001308179-26-000009","0001308179-26-000008","0002100523-26-000002","0001140361-26-0[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/nvstly/icons/main/ticker_icons/AAPL.png
  response:
    body:
      string: !!binary |
        iVBORw0KGgoAAAANSUhEUgAAAPoAAAD6CAYAAACI7Fo9AAAAAXNSR0IArs4c6QAAHbJJREFUeF7t
        nQncb1O5x79PpjJFaKBj7JJSp6iuUoaQMoRCKClu91KJaKKilHJp4ka5UTQQSYZIkiFRaRAhRTKU
        RJopDZ77+Wm9t1N5z/v//9+99l5r7+f5fM7nPee8e6/1rN9av72mZzBCAoEKEHD3BwFLAQ9Lf1YC
        VgNWAS43s+MqaEZnKlpnNUfFgcAMCLi7xudTgOcC6wHLJ5IvDTwEmB[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/nvstly/icons/main/ticker_icons/TWO.png
  response:
    body:
      string: '404: Not Found'
    headers:
      content-type:
      - text/plain; charset=utf-8
      source-age:
      - '0'
      x-fastly-request-id:
      - 7dc20fd0c05bbe6bc45970d0e668a7858ca864f0
    status:
      code: 404
      message: null
version: 1
