interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/1855485/000164117225001350/0001641172-25-001350.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001641172-25-001350.txt : 20250331\n<SEC-HEADER>0001641172-25-001350.hdr.sgml
        : 20250331\n<ACCEPTANCE-DATETIME>20250331060018\nACCESSION NUMBER:\t\t0001641172-25-001350\nCONFORMED
        SUBMISSION TYPE:\t424B5\nPUBLIC DOCUMENT COUNT:\t\t2\nFILED AS OF DATE:\t\t20250331\nDATE
        AS OF CHANGE:\t\t20250331\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED
        NAME:\t\t\tCalidi Biotherapeutics, Inc.\n\t\tCENTRAL INDEX KEY:\t\t\t0001855485\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tBIOLOGICAL PRODUCTS (NO DIAGNOSTIC SUBSTANCES)
        [2836]\n\t\tORGANIZATION NAME:           \t03 Life Sciences\n\t\tEIN:\t\t\t\t862967193\n\t\tSTATE
        OF INCORPORATION:\t\t\tDE\n\t\tFISCAL YEAR END:\t\t\t1231\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\t424B5\n\t\tSEC ACT:\t\t1933 Act\n\t\tSEC FILE NUMBER:\t333-284229\n\t\tFILM
        NUMBER:\t\t25788548\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\t4475 EXECUTIVE
        DRIVE\n\t\tSTREET 2:\t\tSUITE 200\n\t\tCITY:\t\t\tSAN DIEGO\n\t\tSTATE:\t\t\tCA\n\t\tZIP:\t\t\t92121\n\t\tBUSINESS
        PHONE:\t\t858-794-9600\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t4475 EXECUTIVE
        DRIVE\n\t\tSTREET 2:\t\tSUITE 200\n\t\tCITY:\t\t\tSAN DIEGO\n\t\tSTATE:\t\t\tCA\n\t\tZIP:\t\t\t92121\n\n\tFORMER
        COMPANY:\t\n\t\tFORMER CONFORMED NAME:\tFirst Light Acquisition Group, Inc.\n\t\tDATE
        OF NAME CHANGE:\t20210406\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>424B5\n<SEQUENCE>1\n<FILENAME>form424b5.htm\n<TEXT>\n<HTML>\n<HEAD>\n
        \    <TITLE></TITLE>\n</HEAD>\n<BODY STYLE=\"font: 10pt Times New Roman, Times,
        Serif\">\n\n<P STYLE=\"font: 10pt Times New Roman, Times, Serif; text-align:
        right; margin: 0pt\"><FONT STYLE=\"font-family: Times New Roman, Times, Serif;
        font-size: 10pt\">&nbsp;</FONT></P>\n\n<P STYLE=\"font: 10pt Times New Roman,
        Times, Serif; margin: 0pt; text-align: right\"><FONT STYLE=\"font-family:
        Times New Roman, Times, Serif; font-size: 10pt\"><B>Filed\nPursuant to Rule
        424(b)(5)</B></FONT></P>\n\n<P STYLE=\"font: 10pt Times New Roman, Times,
        Serif; margin: 0pt; text-align: right\"><FONT STYLE=\"font-family: Times New
        Roman, Times, Serif; font-size: 10pt\"><B>Registration\nNo. 333-284229</B></FONT></P>\n\n<P[...]
