interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.sec.gov/Archives/edgar/data/1677077/000121465926002941/0001214659-26-002941.txt
  response:
    body:
      string: "<SEC-DOCUMENT>0001214659-26-002941.txt : 20260306\n<SEC-HEADER>0001214659-26-002941.hdr.sgml
        : 20260306\n<ACCEPTANCE-DATETIME>20260306164618\nACCESSION NUMBER:\t\t0001214659-26-002941\nCONFORMED
        SUBMISSION TYPE:\t424B5\nPUBLIC DOCUMENT COUNT:\t\t6\nFILED AS OF DATE:\t\t20260306\nDATE
        AS OF CHANGE:\t\t20260306\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED
        NAME:\t\t\tAlzamend Neuro, Inc.\n\t\tCENTRAL INDEX KEY:\t\t\t0001677077\n\t\tSTANDARD
        INDUSTRIAL CLASSIFICATION:\tPHARMACEUTICAL PREPARATIONS [2834]\n\t\tORGANIZATION
        NAME:           \t03 Life Sciences\n\t\tEIN:\t\t\t\t811822909\n\t\tSTATE OF
        INCORPORATION:\t\t\tDE\n\t\tFISCAL YEAR END:\t\t\t0430\n\n\tFILING VALUES:\n\t\tFORM
        TYPE:\t\t424B5\n\t\tSEC ACT:\t\t1933 Act\n\t\tSEC FILE NUMBER:\t333-273610\n\t\tFILM
        NUMBER:\t\t26731762\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\t480 PEACHTREE
        ROAD NE, SECOND FLOOR\n\t\tSTREET 2:\t\tSUITE 103\n\t\tCITY:\t\t\tATLANTA\n\t\tSTATE:\t\t\tGA\n\t\tZIP:\t\t\t30326\n\t\tBUSINESS
        PHONE:\t\t844-722-6333\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\t480 PEACHTREE
        ROAD NE, SECOND FLOOR\n\t\tSTREET 2:\t\tSUITE 103\n\t\tCITY:\t\t\tATLANTA\n\t\tSTATE:\t\t\tGA\n\t\tZIP:\t\t\t30326\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>424B5\n<SEQUENCE>1\n<FILENAME>i36260424b5.htm\n<TEXT>\n<HTML>\n<HEAD>\n
        \    <TITLE></TITLE>\n</HEAD>\n<BODY STYLE=\"font: 10pt Times New Roman, Times,
        Serif\">\n\n<P STYLE=\"margin: 0\">&nbsp;</P>\n\n<P STYLE=\"font: 10pt Times
        New Roman, Times, Serif; margin: 0pt 0; text-align: right\"><B>Filed Pursuant
        to Rule 424(b)(5)</B></P>\n\n<P STYLE=\"font: 10pt Times New Roman, Times,
        Serif; margin: 0pt 0; text-align: right\"><B>Registration No. 333-273610</B></P>\n\n<TABLE
        CELLSPACING=\"0\" CELLPADDING=\"0\" STYLE=\"font: 10pt Times New Roman, Times,
        Serif; width: 100%; border-collapse: collapse\">\n  <TR STYLE=\"vertical-align:
        top\">\n    <TD STYLE=\"width: 50%; font-size: 10pt; text-align: justify\"><B>PROSPECTUS
        SUPPLEMENT</B></TD>\n    <TD STYLE=\"width: 50%; font-size: 10pt; text-align:
        right\">&nbsp;</TD></TR>\n  <TR STYLE=\"vertical-align: top\">\n    <TD STYLE=\"font-size:
        10pt\"><B>(To Prospectus dated August 10, 2023)</B></TD>\n    <TD STYLE=\"font-size:
        10pt; text-align: justify\">&nbsp;</TD></TR>\n  </TABLE>\n<P STYLE=\"font:
        10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: justify; color:
        red\"><B>&nbsp;</B></P>\n\n<P STYLE=\"font: 10pt Times New Roman, Times, Serif;
        margin: 0pt 0; text-align: center; background-color: white\"><B>Up to $3,000,000</B></P>\n\n<P
        STYLE=\"font: 10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align:
        center; background-color: white\"><B>&nbsp;</B></P>\n\n<P STYLE=\"font: 10pt
        Times New Roman, Times, Serif; margin: 0pt 0; text-align: center; background-color:
        white\"><IMG SRC=\"alzamendlogotm_lrg.jpg\" ALT=\"\">&nbsp;</P>\n\n<P STYLE=\"font:
        10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: center; background-color:
        white\">&nbsp;</P>\n\n<P STYLE=\"font: 10pt Times New Roman, Times, Serif;
        margin: 0pt 0; text-align: center; background-color: white\"><B>Alzamend Neuro,
        Inc.</B></P>\n\n<P STYLE=\"font: 10pt Times New Roman, Times, Serif; margin:
        0pt 0; text-align: center; background-color: white\">&nbsp;</P>\n\n<P STYLE=\"font:
        10pt Times New Roman, Times, Serif; margin: 0pt 0; text-align: center; background-color:
        white\"><B>Shares of Common Stock</B></P>\n\n<P STYLE=\"font: 10pt Times New
        Roman, Times, Serif; margin: 0pt 0; text-align: justify; text-indent: 0.5in;
        background-color: white\">&nbsp;</P>\n\n<P STYLE=\"font: 10pt Times New Roman,
        Times, Serif; margin: 0pt 0; text-align: justify; text-indent: 0.5in\">We
        have entered into an At-The-Market\nIssuance Sales Agreement, or the sales
        agreement, with Ascendiant Capital Markets, LLC, or ACM, relating to shares
        of our common stock\noffered by this prospectus supplement and the accompanying
        prospectus. In accordance with the terms of the sales agreement, we may offer\nand
        se[...]
