interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.sec.gov/submissions/CIK0001677077.json
  response:
    body:
      string: '{"cik":"0001677077","entityType":"operating","sic":"2834","sicDescription":"Pharmaceutical
        Preparations","ownerOrg":"03 Life Sciences","insiderTransactionForOwnerExists":0,"insiderTransactionForIssuerExists":1,"name":"Alzamend
        Neuro, Inc.","tickers":["ALZN"],"exchanges":["Nasdaq"],"ein":"811822909","lei":null,"description":"","website":"","investorWebsite":"","category":"<br>Emerging
        growth company","fiscalYearEnd":"0430","stateOfIncorporation":"DE","stateOfIncorporationDescription":"DE","addresses":{"mailing":{"street1":"480
        PEACHTREE ROAD NE, SECOND FLOOR","street2":"SUITE 103","city":"ATLANTA","stateOrCountry":"GA","zipCode":"30326","stateOrCountryDescription":"GA","isForeignLocation":0,"foreignStateTerritory":null,"country":null,"countryCode":null},"business":{"street1":"480
        PEACHTREE ROAD NE, SECOND FLOOR","street2":"SUITE 103","city":"ATLANTA","stateOrCountry":"GA","zipCode":"30326","stateOrCountryDescription":"GA","isForeignLocation":null,"foreignStateTerritory":null,"country":null,"countryCode":null}},"phone":"844-722-6333","flags":"","formerNames":[],"filings":{"recent":{"accessionNumber":["0001214659-26-002941","0001214659-26-002932","0001214659-26-002584","0001214659-26-002583","0001214659-26-001345","0001214659-25-018631","0001214659-25-018437","0001214659-25-017793","0001214659-25-016885","0001214659-25-015288","0001214659-25-014950","0001214659-25-014861","0001214659-25-014818","0001214659-25-014752","0001214659-25-014750","0001214659-25-014630","0001214659-25-014629","0001214659-25-014424","0001214659-25-014420","0001214659-25-014211","0001214659-25-014210","0001214659-25-0[...]
